USE [AAPReportServerTempDB]
GO
/****** Object:  Table [dbo].[SessionLock]    Script Date: 12/22/2020 4:18:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionLock](
	[SessionID] [varchar](32) NOT NULL
) ON [PRIMARY]
GO
