USE [Medispan]
GO
/****** Object:  Table [dbo].[DrugMaster_20200626]    Script Date: 12/22/2020 4:38:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugMaster_20200626](
	[RowID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
