USE [Medispan]
GO
/****** Object:  View [dbo].[v_DosageItems]    Script Date: 12/22/2020 9:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DosageItems]
AS
SELECT     dbo.DosageItems.API#, dbo.DosageItems.Item, dbo.DosageItems.Description2, dbo.DosageItems.NDC, dbo.v_DrugMaster.Form, dbo.v_DrugMaster.PS, 
                      dbo.v_DrugMaster.PD, dbo.v_DrugMaster.Unit, dbo.v_DrugMaster.GPI, dbo.v_DrugMaster.GPIDesc, dbo.v_DrugMaster.Strength, 
                      dbo.v_DrugMaster.Strength_Unit_Measure, dbo.v_DrugMaster.CSP, dbo.v_DrugMaster.DEA_Class_Code, dbo.v_DrugMaster.RX_OTC_Indicator_Code, 
                      dbo.v_DrugMaster.Unit_Dose_Unit_of_Use_Package, dbo.v_DrugMaster.AHFSCC_Therapeutic_Class_Code
FROM         dbo.DosageItems LEFT OUTER JOIN
                      dbo.v_DrugMaster ON dbo.DosageItems.NDC = dbo.v_DrugMaster.NDC
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[48] 4[13] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DosageItems"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 236
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "v_DrugMaster"
            Begin Extent = 
               Top = 23
               Left = 375
               Bottom = 339
               Right = 856
            End
            DisplayFlags = 280
            TopColumn = 15
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_DosageItems'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_DosageItems'
GO
