USE [Medispan]
GO
/****** Object:  Table [dbo].[M25TCRF_5]    Script Date: 12/22/2020 4:38:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M25TCRF_5](
	[Therapeutic_Classification_Co] [varchar](10) NULL,
	[Reserve_1] [varchar](4) NULL,
	[Record_Type_Code] [varchar](1) NULL,
	[TC_GPI_Name] [varchar](60) NULL,
	[Reserve_2] [varchar](19) NULL,
	[Transaction_Code] [varchar](1) NULL,
	[Last_Change_Date] [varchar](5) NULL
) ON [PRIMARY]
GO
