USE [WebTest]
GO
/****** Object:  Table [dbo].[QC_NCPDPs]    Script Date: 12/22/2020 5:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QC_NCPDPs](
	[ncpdp] [nvarchar](50) NULL
) ON [PRIMARY]
GO
