USE [WebTest]
GO
/****** Object:  Table [dbo].[CA_Temp_ComplianceOfficerFromPRS]    Script Date: 12/22/2020 5:26:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Temp_ComplianceOfficerFromPRS](
	[NCPDP] [nvarchar](7) NULL,
	[Compliance Officer] [nvarchar](256) NULL
) ON [PRIMARY]
GO
