USE [WebTest]
GO
/****** Object:  Table [dbo].[tmp_rlgl_071114]    Script Date: 12/22/2020 5:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_rlgl_071114](
	[Rundate] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[demo] [nvarchar](255) NULL,
	[NCPDP] [nvarchar](255) NULL,
	[RxNum] [nvarchar](255) NULL,
	[RxDate] [nvarchar](255) NULL,
	[RLGL] [nvarchar](255) NULL
) ON [PRIMARY]
GO
