USE [WebTest]
GO
/****** Object:  Table [dbo].[Compounding]    Script Date: 12/22/2020 5:26:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compounding](
	[PMID] [int] NULL,
	[Location Type] [varchar](5) NOT NULL,
	[NPI] [nvarchar](500) NULL,
	[C1] [nvarchar](500) NULL,
	[C2] [nvarchar](500) NULL,
	[C3] [nvarchar](500) NULL,
	[C4] [nvarchar](500) NULL,
	[C5] [nvarchar](500) NULL,
	[C6] [nvarchar](500) NULL,
	[C7] [nvarchar](500) NULL,
	[C8] [nvarchar](500) NULL,
	[C9] [nvarchar](500) NULL,
	[C10] [nvarchar](500) NULL,
	[C11] [nvarchar](500) NULL,
	[C12] [nvarchar](500) NULL,
	[C13] [nvarchar](500) NULL,
	[C14] [nvarchar](500) NULL,
	[C15] [nvarchar](500) NULL,
	[C16] [nvarchar](500) NULL,
	[C17] [nvarchar](500) NULL,
	[C18] [nvarchar](500) NULL,
	[C19] [nvarchar](500) NULL,
	[C20] [nvarchar](500) NULL,
	[C21] [nvarchar](500) NULL,
	[C22] [nvarchar](500) NULL,
	[C23] [nvarchar](500) NULL,
	[C24] [nvarchar](500) NULL,
	[C25] [nvarchar](500) NULL
) ON [PRIMARY]
GO
