USE [WebTest]
GO
/****** Object:  Table [dbo].[GMAvg]    Script Date: 12/22/2020 5:26:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAvg](
	[AAPAvg] [numeric](18, 2) NOT NULL,
	[Date] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
