USE [WebTest]
GO
/****** Object:  Table [dbo].[RLGLdemovalues]    Script Date: 12/22/2020 5:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RLGLdemovalues](
	[ncpdp] [varchar](7) NULL,
	[rxg] [varchar](50) NULL,
	[rxgd] [varchar](15) NULL,
	[rxr] [varchar](50) NULL,
	[rxrd] [varchar](15) NULL
) ON [PRIMARY]
GO
