USE [WebTest]
GO
/****** Object:  StoredProcedure [dbo].[SurveyGetAttestationRptTest]    Script Date: 12/22/2020 5:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		John Ngo
-- Create date: 10/21/2014
-- Description:	SurveyGetAttestationRpt
-- =============================================
CREATE PROCEDURE [dbo].[SurveyGetAttestationRptTest]
	-- Add the parameters for the stored procedure here
	(@programs NVARCHAR(MAX) = 'ManagedCare',
	@attestationStatusID INT,
	@attestationFlagOpt INT,
  @options NVARCHAR(MAX) = 'a')
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

-- @attestationStatusID is a binary number -
-- 0 All Managed-Care
-- 1 Completed Attestation
-- 2 Not Completed Attestation


-- @attestationFlagOpt
-- 0 dontcare
-- 1 Completed Attestation has flag  
-- 2 Completed Attestation dont have flag Attestation 

Declare @SurveyId int;
Set @SurveyId=39;


-- -- Drop temp table if it exists
IF EXISTS(SELECT name FROM sys.tables
 WHERE name = 'tmpCompletedPMID')
BEGIN
DROP TABLE tmpCompletedPMID;
END
--
--SELECT DISTINCT s.*
--	INTO dbo.tmpResultPharmacy
--	-- FROM dbo.v_CA_SurveyStoreStatus s
--	FROM dbo.v_Survey_CA_StoreStatus s -- select * from dbo.v_Survey_CA_StoreStatus where ncpdp = 543771
--	WHERE	s.IsStoreManagedCare = 1 
--
--SELECT * FROM dbo.tmpResultPharmacy

-- 1. table pmid completed
IF (@attestationStatusID = 1 ) OR (@attestationStatusID = 2 )
BEGIN
	SELECT distinct PMID
	INTO dbo.tmpCompletedPMID
	-- select *
	FROM dbo.surveyanswer a
	WHERE	a.IsSubmitted = 1 
			AND a.optionid in (select so.id from dbo.surveyoption so where so.questionid in (select DISTINCT sq.id from dbo.surveyquestion sq where sq.surveyid = @SurveyId)) 
END
--SELECT * FROM dbo.tmpCompletedPMID

-- 2. table pmid comleted has flag
IF (@attestationFlagOpt = 1) OR (@attestationFlagOpt = 2) BEGIN

declare @str varchar(max)
SELECT @str = isnull(@str +',', '') + a.EntityIds
FROM (SELECT EntityIds from SurveyFlag where surveyid=@SurveyId) a
select @str


-- -- Drop temp table if it exists
IF EXISTS(SELECT name FROM sys.tables
 WHERE name = 'tmpCompletedHasFlagPMID')
BEGIN
DROP TABLE tmpCompletedHasFlagPMID;
END

select distinct PMID
INTO dbo.tmpCompletedHasFlagPMID
from surveyanswer
where issubmitted=1 and optionid in (select id as [Oid] 
	from  surveyoption 
	where questionid in (select id as [Qid]
		from surveyquestion where surveyid=@SurveyId))
and @str  like '%' + Convert(varchar,pmid) + '%'

END

SELECT * FROM tmpCompletedHasFlagPMID
--
---- -- Drop temp table if it exists
--IF EXISTS(SELECT name FROM sys.tables
-- WHERE name = 'tmpResultPharmacy')
--BEGIN
--DROP TABLE tmpResultPharmacy;
--END
--
----3. All ManagedCare
--	SELECT DISTINCT s.*
--	INTO dbo.tmpResultPharmacy
--	-- FROM dbo.v_CA_SurveyStoreStatus s
--	FROM dbo.v_Survey_CA_StoreStatus s -- select * from dbo.v_Survey_CA_StoreStatus where ncpdp = 543771
--	WHERE	s.IsStoreManagedCare = 1
--
-----------------
--	SET NOCOUNT ON;
--
--IF @attestationStatusID = '1' BEGIN
--	DELETE dbo.tmpResultPharmacy WHERE PMID NOT IN (SELECT c.PMID FROM dbo.tmpCompletedPMID c)
--END 
--
--IF @attestationStatusID = '2' BEGIN
--	DELETE dbo.tmpResultPharmacy WHERE PMID IN (SELECT c.PMID FROM dbo.tmpCompletedPMID c)
--END
--
--IF @attestationFlagOpt = '1' BEGIN
--	DELETE dbo.tmpResultPharmacy WHERE PMID NOT IN (SELECT c.PMID FROM dbo.tmpCompletedHasFlagPMID c)
--END 
--
--IF @attestationFlagOpt = '2' BEGIN
--	DELETE dbo.tmpResultPharmacy WHERE PMID IN (SELECT c.PMID FROM dbo.tmpCompletedHasFlagPMID c)
--END
--
--SELECT  s.* FROM dbo.tmpResultPharmacy s
	
-- ORDER BY isCompletedTraining


/****
-- SELECT * FROM dbo.SurveyAnswer

GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[SurveyGetAttestationRptTest]
	@programs  = 'ManagedCare',
	@attestationStatusID =1,
	@attestationFlagOpt =0,
@options=''


SELECT	'Return Value' = @return_value

SELECT * FROM PharmacyMaster..PM_ProgramStep  WHERE  ProgramID = 183
SELECT Top 1 * FROM PharmacyMaster..PM_ProgramStepMember  WHERE  ProgramID = 183 AND ProgramStepID = 3

*/
END

GO
