USE [WebTest]
GO
/****** Object:  Table [dbo].[Specialty_Software]    Script Date: 12/22/2020 5:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialty_Software](
	[software] [varchar](80) NOT NULL
) ON [PRIMARY]
GO
