USE [WebTest]
GO
/****** Object:  Table [dbo].[test_RCVolume_2013]    Script Date: 12/22/2020 5:26:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_RCVolume_2013](
	[TM] [varchar](10) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](20) NULL,
	[Parent#] [varchar](20) NULL,
	[API#] [varchar](20) NULL,
	[AAP Eff] [varchar](10) NULL,
	[AAP Quit] [varchar](10) NULL,
	[AAP Elite] [varchar](10) NULL,
	[AAP Elite Termed] [varchar](10) NULL,
	[Description] [varchar](200) NULL,
	[Affiliate] [varchar](200) NULL,
	[ChainCode] [varchar](20) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ST] [varchar](100) NULL,
	[Contact] [varchar](100) NULL,
	[Whse Acct Date Opened] [varchar](10) NULL,
	[Status] [varchar](100) NULL,
	[Wholesaler] [varchar](100) NULL,
	[API Jan 13 Brand] [float] NULL,
	[API Jan 13 Generic] [float] NULL,
	[API Jan 13 OTC] [float] NULL,
	[API Jan 13 Total Whse] [float] NULL,
	[API Feb 13 Brand] [float] NULL,
	[API Feb 13 Generic] [float] NULL,
	[API Feb 13 OTC] [float] NULL,
	[API Feb 13 Total Whse] [float] NULL,
	[API Mar 13 Brand] [float] NULL,
	[API Mar 13 Generic] [float] NULL,
	[API Mar 13 OTC] [float] NULL,
	[API Mar 13 Total Whse] [float] NULL,
	[API Apr 13 Brand] [float] NULL,
	[API Apr 13 Generic] [float] NULL,
	[API Apr 13 OTC] [float] NULL,
	[API Apr 13 Total Whse] [float] NULL,
	[API May 13 Brand] [float] NULL,
	[API May 13 Generic] [float] NULL,
	[API May 13 OTC] [float] NULL,
	[API May 13 Total Whse] [float] NULL,
	[API Jun 13 Brand] [float] NULL,
	[API Jun 13 Generic] [float] NULL,
	[API Jun 13 OTC] [float] NULL,
	[API Jun 13 Total Whse] [float] NULL,
	[API Jul 13 Brand] [float] NULL,
	[API Jul 13 Generic] [float] NULL,
	[API Jul 13 OTC] [float] NULL,
	[API Jul 13 Total Whse] [float] NULL,
	[API Aug 13 Brand] [float] NULL,
	[API Aug 13 Generic] [float] NULL,
	[API Aug 13 OTC] [float] NULL,
	[API Aug 13 Total Whse] [float] NULL,
	[API Sep 13 Brand] [float] NULL,
	[API Sep 13 Generic] [float] NULL,
	[API Sep 13 OTC] [float] NULL,
	[API Sep 13 Total Whse] [float] NULL,
	[API Oct 13 Brand] [float] NULL,
	[API Oct 13 Generic] [float] NULL,
	[API Oct 13 OTC] [float] NULL,
	[API Oct 13 Total Whse] [float] NULL,
	[API Nov 13 Brand] [float] NULL,
	[API Nov 13 Generic] [float] NULL,
	[API Nov 13 OTC] [float] NULL,
	[API Nov 13 Total Whse] [float] NULL,
	[API Dec 13 Brand] [float] NULL,
	[API Dec 13 Generic] [float] NULL,
	[API Dec 13 OTC] [float] NULL,
	[API Dec 13 Total Whse] [float] NULL,
	[API Jan 14 Brand] [float] NULL,
	[API Jan 14 Generic] [float] NULL,
	[API Jan 14 OTC] [float] NULL,
	[API Jan 14 Total Whse] [float] NULL,
	[API Total Brand Sales] [float] NULL,
	[API Total Generic Sales] [float] NULL,
	[API Total OTC Sales] [float] NULL,
	[API TOTAL SALES] [float] NULL,
	[CAH Dec 12 AAP Brand] [float] NULL,
	[CAH Dec 12 AAP Src Generics] [float] NULL,
	[CAH Dec 12 AAP Other Sales] [float] NULL,
	[CAH Dec 12 AAP Total Sales] [float] NULL,
	[CAH Jan 13 AAP Brand] [float] NULL,
	[CAH Jan 13 AAP Src Generics] [float] NULL,
	[CAH Jan 13 AAP Other Sales] [float] NULL,
	[CAH Jan 13 AAP Total Sales] [float] NULL,
	[CAH Feb 13 AAP Brand] [float] NULL,
	[CAH Feb 13 AAP Src Generics] [float] NULL,
	[CAH Feb 13 AAP Other Sales] [float] NULL,
	[CAH Feb 13 AAP Total Sales] [float] NULL,
	[CAH Mar 13 AAP Brand] [float] NULL,
	[CAH Mar 13 AAP Src Generics] [float] NULL,
	[CAH Mar 13 AAP Other Sales] [float] NULL,
	[CAH Mar 13 AAP Total Sales] [float] NULL,
	[CAH Apr 13 AAP Brand] [float] NULL,
	[CAH Apr 13 AAP Src Generics] [float] NULL,
	[CAH Apr 13 AAP Other Sales] [float] NULL,
	[CAH Apr 13 AAP Total Sales] [float] NULL,
	[CAH May 13 AAP Brand] [float] NULL,
	[CAH May 13 AAP Src Generics] [float] NULL,
	[CAH May 13 AAP Other Sales] [float] NULL,
	[CAH May 13 AAP Total Sales] [float] NULL,
	[CAH Jun 13 AAP Brand] [float] NULL,
	[CAH Jun 13 AAP Src Generics] [float] NULL,
	[CAH Jun 13 AAP Other Sales] [float] NULL,
	[CAH Jun 13 AAP Total Sales] [float] NULL,
	[CAH Jul 13 AAP Brand] [float] NULL,
	[CAH Jul 13 AAP Src Generics] [float] NULL,
	[CAH Jul 13 AAP Other Sales] [float] NULL,
	[CAH Jul 13 AAP Total Sales] [float] NULL,
	[CAH Aug 13 AAP Brand] [float] NULL,
	[CAH Aug 13 AAP Src Generics] [float] NULL,
	[CAH Aug 13 AAP Other Sales] [float] NULL,
	[CAH Aug 13 AAP Total Sales] [float] NULL,
	[CAH Sep 13 AAP Brand] [float] NULL,
	[CAH Sep 13 AAP Src Generics] [float] NULL,
	[CAH Sep 13 AAP Other Sales] [float] NULL,
	[CAH Sep 13 AAP Total Sales] [float] NULL,
	[CAH Oct 13 AAP Brand] [float] NULL,
	[CAH Oct 13 AAP Src Generics] [float] NULL,
	[CAH Oct 13 AAP Other Sales] [float] NULL,
	[CAH Oct 13 AAP Total Sales] [float] NULL,
	[CAH Nov 13 AAP Brand] [float] NULL,
	[CAH Nov 13 AAP Src Generics] [float] NULL,
	[CAH Nov 13 AAP Other Sales] [float] NULL,
	[CAH Nov 13 AAP Total Sales] [float] NULL,
	[CAH Dec 13 AAP Brand] [float] NULL,
	[CAH Dec 13 AAP Src Generics] [float] NULL,
	[CAH Dec 13 AAP Other Sales] [float] NULL,
	[CAH Dec 13 AAP Total Sales] [float] NULL,
	[CAH Total Brand Sales] [float] NULL,
	[CAH Total Src Generic Sales] [float] NULL,
	[CAH Total Other Sales] [float] NULL,
	[CAH TOTAL SALES] [float] NULL,
	[ML Dec 12 Volume] [float] NULL,
	[ML Jan 13 Volume] [float] NULL,
	[ML Feb 13 Volume] [float] NULL,
	[ML Mar 13 Volume] [float] NULL,
	[ML Apr 13 Volume] [float] NULL,
	[ML May 13 Volume] [float] NULL,
	[ML Jun 13 Volume] [float] NULL,
	[ML Jul 13 Volume] [float] NULL,
	[ML Aug 13 Volume] [float] NULL,
	[ML Sep 13 Volume] [float] NULL,
	[ML Oct 13 Volume] [float] NULL,
	[ML Nov 13 Volume] [float] NULL,
	[ML Dec 13 Volume] [float] NULL,
	[ML TOTAL SALES] [float] NULL,
	[Total Dec 12 Combined Mthly Sales] [float] NULL,
	[Total Jan 13 Combined Mthly Sales] [float] NULL,
	[Total Feb 13 Combined Mthly Sales] [float] NULL,
	[Total Mar 13 Combined Mthly Sales] [float] NULL,
	[Total Apr 13 Combined Mthly Sales] [float] NULL,
	[Total May 13 Combined Mthly Sales] [float] NULL,
	[Total Jun 13 Combined Mthly Sales] [float] NULL,
	[Total Jul 13 Combined Mthly Sales] [float] NULL,
	[Total Aug 13 Combined Mthly Sales] [float] NULL,
	[Total Sep 13 Combined Mthly Sales] [float] NULL,
	[Total Oct 13 Combined Mthly Sales] [float] NULL,
	[Total Nov 13 Combined Mthly Sales] [float] NULL,
	[Total Dec 13 Combined Mthly Sales] [float] NULL,
	[Total Jan 14 Combined Mthly Sales] [float] NULL,
	[TOTAL COMBINED SALES] [float] NULL
) ON [PRIMARY]
GO
