USE [WebTest]
GO
/****** Object:  Table [dbo].[MCenter_delete071415]    Script Date: 12/22/2020 5:26:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCenter_delete071415](
	[TM] [nvarchar](50) NULL,
	[Whs] [nvarchar](50) NULL,
	[Cust #] [nvarchar](50) NULL,
	[Customer Name] [nvarchar](50) NULL,
	[Zip] [nvarchar](50) NULL,
	[MOT] [nvarchar](50) NULL,
	[CUTOFF] [nvarchar](50) NULL,
	[TIME ZONE] [nvarchar](50) NULL,
	[MODE] [nvarchar](50) NULL,
	[CSOS] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[FAX] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CUST STAT] [nvarchar](50) NULL
) ON [PRIMARY]
GO
