USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_IPA_CA_del]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_IPA_CA_del](
	[store] [varchar](65) NULL,
	[acct_no] [varchar](4) NULL,
	[memstore] [varchar](25) NULL,
	[City] [varchar](20) NULL,
	[State] [varchar](2) NULL,
	[Group Designation] [varchar](50) NULL,
	[WHOLESALER ACCT#] [varchar](15) NULL,
	[COG%] [numeric](38, 4) NULL,
	[Payment Terms] [varchar](50) NULL,
	[July_2008] [numeric](38, 2) NULL,
	[GEN_July_2008] [numeric](38, 4) NULL,
	[GEN_July_2008_GCR] [numeric](38, 4) NULL,
	[August_2008] [numeric](38, 2) NULL,
	[GEN_August_2008] [numeric](38, 4) NULL,
	[GEN_August_2008_GCR] [numeric](38, 4) NULL,
	[September_2008] [numeric](38, 2) NULL,
	[GEN_September_2008] [numeric](38, 4) NULL,
	[GEN_September_2008_GCR] [numeric](38, 4) NULL,
	[Q3_2008] [numeric](38, 4) NULL,
	[GEN_Q3_2008] [numeric](38, 4) NULL,
	[GEN_Q3_2008_GCR] [numeric](38, 4) NULL,
	[October_2008] [numeric](38, 2) NULL,
	[GEN_October_2008] [numeric](38, 4) NULL,
	[GEN_October_2008_GCR] [numeric](38, 4) NULL,
	[November_2008] [numeric](38, 2) NULL,
	[GEN_November_2008] [numeric](38, 4) NULL,
	[GEN_November_2008_GCR] [numeric](38, 4) NULL,
	[December_2008] [numeric](38, 2) NULL,
	[GEN_December_2008] [numeric](38, 4) NULL,
	[GEN_December_2008_GCR] [numeric](38, 4) NULL,
	[Q4_2008] [numeric](38, 4) NULL,
	[GEN_Q4_2008] [numeric](38, 4) NULL,
	[GEN_Q4_2008_GCR] [numeric](38, 4) NULL,
	[January_2009] [numeric](38, 2) NULL,
	[GEN_January_2009] [numeric](38, 4) NULL,
	[GEN_January_2009_GCR] [numeric](38, 4) NULL,
	[February_2009] [numeric](38, 2) NULL,
	[GEN_February_2009] [numeric](38, 4) NULL,
	[GEN_February_2009_GCR] [numeric](38, 4) NULL,
	[March_2009] [numeric](38, 2) NULL,
	[GEN_March_2009] [numeric](38, 4) NULL,
	[GEN_March_2009_GCR] [numeric](38, 4) NULL,
	[Q1_2009] [numeric](38, 4) NULL,
	[GEN_Q1_2009] [numeric](38, 4) NULL,
	[GEN_Q1_2009_GCR] [numeric](38, 4) NULL,
	[April_2009] [numeric](38, 2) NULL,
	[GEN_April_2009] [numeric](38, 4) NULL,
	[GEN_April_2009_GCR] [numeric](38, 4) NULL,
	[May_2009] [numeric](38, 2) NULL,
	[GEN_May_2009] [numeric](38, 4) NULL,
	[GEN_May_2009_GCR] [numeric](38, 4) NULL,
	[June_2009] [numeric](38, 2) NULL,
	[GEN_June_2009] [numeric](38, 4) NULL,
	[GEN_June_2009_GCR] [numeric](38, 4) NULL,
	[Q2_2009] [numeric](38, 4) NULL,
	[GEN_Q2_2009] [numeric](38, 4) NULL,
	[GEN_Q2_2009_GCR] [numeric](38, 4) NULL,
	[July_2009] [numeric](38, 2) NULL,
	[GEN_July_2009] [numeric](38, 4) NULL,
	[GEN_July_2009_GCR] [numeric](38, 4) NULL,
	[Total Purchases] [numeric](38, 2) NULL,
	[Total Generic] [numeric](38, 4) NULL
) ON [PRIMARY]
GO
