USE [reporting]
GO
/****** Object:  Table [dbo].[PhysiciansEntireList]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysiciansEntireList](
	[Practice] [varchar](500) NULL,
	[Address] [varchar](500) NULL,
	[Address2] [varchar](500) NULL,
	[City] [varchar](500) NULL,
	[State] [varchar](500) NULL,
	[Zip] [varchar](500) NULL,
	[County] [varchar](500) NULL,
	[Phone] [varchar](500) NULL,
	[Fax] [varchar](500) NULL,
	[First Name] [varchar](500) NULL,
	[Last Name] [varchar](500) NULL,
	[Full Name] [varchar](500) NULL,
	[Email] [varchar](500) NULL,
	[Gender] [varchar](500) NULL,
	[Title] [varchar](500) NULL,
	[Specialty] [varchar](500) NULL,
	["SIC Code"] [varchar](500) NULL,
	[Employees] [varchar](500) NULL,
	[Sales] [varchar](500) NULL,
	[Latitude] [varchar](500) NULL,
	[Longitude] [varchar](500) NULL,
	[Website] [varchar](500) NULL,
	[Sq Footage] [varchar](500) NULL,
	[LocationAddress] [varchar](500) NULL,
	[Specialty 2] [varchar](500) NULL,
	[Specialty 3] [varchar](500) NULL,
	[Specialty 4] [varchar](500) NULL,
	[Specialty 5] [varchar](500) NULL,
	[NPI] [varchar](500) NULL
) ON [PRIMARY]
GO
