USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_delete_tr1]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_delete_tr1](
	[acct_no] [varchar](4) NULL
) ON [PRIMARY]
GO
