USE [reporting]
GO
/****** Object:  Table [dbo].[UdSourceOld_del]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UdSourceOld_del](
	[NDC] [nvarchar](50) NULL,
	[CIN] [nvarchar](50) NULL,
	[Price Per Unit] [nvarchar](50) NULL,
	[ AWP ] [nvarchar](50) NULL,
	[ UDS Sell ] [nvarchar](50) NULL
) ON [PRIMARY]
GO
