USE [reporting]
GO
/****** Object:  Table [dbo].[OurStoreList_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OurStoreList_del](
	[NCPDP] [nvarchar](50) NULL
) ON [PRIMARY]
GO
