USE [reporting]
GO
/****** Object:  Table [dbo].[transit_SLX_del]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transit_SLX_del](
	[ACCT_NO] [nvarchar](50) NULL,
	[ACCOUNTID] [nvarchar](50) NULL,
	[MSGRP] [nvarchar](50) NULL,
	[MULTISTORES] [nvarchar](50) NULL
) ON [PRIMARY]
GO
