USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_test_sum_del]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_test_sum_del](
	[store] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
