USE [reporting]
GO
/****** Object:  Table [dbo].[anda_temp_0405_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anda_temp_0405_del](
	[ud#] [nvarchar](50) NULL,
	[sales0408] [numeric](15, 2) NULL,
	[sales0508] [float] NULL
) ON [PRIMARY]
GO
