USE [reporting]
GO
/****** Object:  View [dbo].[v_AWPAll]    Script Date: 12/22/2020 9:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_AWPAll]
AS
SELECT     dbo.AWPAnalysis.id, dbo.AWPAnalysis.NDC11, dbo.AWPAnalysis.[Drug Name], dbo.AWPAnalysis.Strength, dbo.AWPAnalysis.[Brand Type], 
                      dbo.AWPAnalysis.DAW, dbo.AWPAnalysis.[Column 5], dbo.AWPAnalysis.[Dot Nbr], dbo.AWPAnalysis.Metrics, dbo.AWPAnalysis.[TRx Count], 
                      dbo.AWPAnalysis.[TRx Quantity Dispensed], dbo.AWPAnalysis.[Total  AWP], dbo.AWPAnalysis.[Patient Paid Amount], 
                      dbo.AWPAnalysis.[Total Paid Amount], dbo.AWPAnalysis.[Dispensing Fee Amount], dbo.AWPAnalysis.[Total Ingredient Cost], 
                      dbo.AWPAnalysis.[Usual Customary Amount], FDB.dbo.RNP2_PIVOT.BBPKG, dbo.AWPAnalysis.WACPkg, dbo.AWPAnalysis.CurrentAWP, 
                      dbo.AWPAnalysis.TotalAdjustedAWP, dbo.AWPAnalysis.TotalCurrentReimburse, dbo.AWPAnalysis.TotalAdjustedReimburse, 
                      dbo.AWPAnalysis.TotalWAC, dbo.AWPAnalysis.TotalRelayWAC, dbo.AWPAnalysis.FDBWAC, dbo.AWPAnalysis.Flag, 
                      dbo.AWPAnalysis.TotalFDBAWP
FROM         dbo.AWPAnalysis LEFT OUTER JOIN
                      FDB.dbo.RNP2_PIVOT ON dbo.AWPAnalysis.NDC11 = FDB.dbo.RNP2_PIVOT.ndc
WHERE     (dbo.AWPAnalysis.[Brand Type] = 'SINGLE-SOURCE BRAND') OR
                      (dbo.AWPAnalysis.[Brand Type] = 'MULTI-SOURCE BRAND')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[18] 2[23] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AWPAnalysis"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 264
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 12
         End
         Begin Table = "RNP2_PIVOT (FDB.dbo)"
            Begin Extent = 
               Top = 13
               Left = 362
               Bottom = 258
               Right = 584
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1590
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_AWPAll'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_AWPAll'
GO
