USE [reporting]
GO
/****** Object:  Table [dbo].[snapshot_usm_territories_110509_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[snapshot_usm_territories_110509_del](
	[acct_no] [varchar](4) NULL,
	[nabp] [varchar](7) NULL,
	[nsterritory] [varchar](2) NULL,
	[mdmterritory] [varchar](2) NULL
) ON [PRIMARY]
GO
