USE [reporting]
GO
/****** Object:  Table [dbo].[OurStoreListNew_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OurStoreListNew_del](
	[NABP] [varchar](7) NULL
) ON [PRIMARY]
GO
