USE [reporting]
GO
/****** Object:  Table [dbo].[anda_may08_source2_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anda_may08_source2_del](
	[CUST #] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL,
	[DEA] [nvarchar](50) NULL,
	[sales] [real] NULL,
	[rebate] [real] NULL
) ON [PRIMARY]
GO
