USE [reporting]
GO
/****** Object:  Table [dbo].[ud_WEB_PLAN_CONTRACT_ATTACHMENT]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ud_WEB_PLAN_CONTRACT_ATTACHMENT](
	[ATTACH_KEY] [int] NULL,
	[ATTACHMENT] [varchar](50) NULL
) ON [PRIMARY]
GO
