USE [reporting]
GO
/****** Object:  Table [dbo].[test_ssreport_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_ssreport_del](
	[type] [varchar](15) NULL,
	[store] [varchar](4) NULL,
	[fytd09all] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
