USE [reporting]
GO
/****** Object:  Table [dbo].[StoresfromRx30_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoresfromRx30_del](
	[NABP] [nvarchar](50) NULL,
	[RX30 LIC] [nvarchar](50) NULL,
	[STORE NAME ] [nvarchar](50) NULL
) ON [PRIMARY]
GO
