USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_trend_ADMIN_BY_STORE]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_trend_ADMIN_BY_STORE](
	[Store_Name] [varchar](8000) NULL,
	[Store] [varchar](5) NULL,
	[City] [varchar](20) NULL,
	[State] [varchar](2) NULL,
	[primaryws] [int] NULL,
	[primarywsname] [varchar](15) NULL,
	[Territory] [varchar](2) NULL,
	[Effective] [varchar](10) NULL,
	[Type] [varchar](15) NULL,
	[October_2009] [numeric](38, 2) NULL,
	[November_2009] [numeric](38, 2) NULL,
	[December_2009] [numeric](38, 2) NULL,
	[January_2010] [numeric](38, 2) NULL,
	[February_2010] [numeric](38, 2) NULL,
	[March_2010] [numeric](38, 2) NULL,
	[AVG_6_MO] [numeric](38, 2) NULL,
	[April_2010] [numeric](38, 2) NULL,
	[AVG_PCT_CHG] [numeric](38, 4) NULL,
	[April_2009] [numeric](38, 2) NULL,
	[YY_PCT_CHG] [numeric](38, 4) NULL,
	[Q1_2010] [numeric](38, 2) NULL,
	[Q1_2009] [numeric](38, 2) NULL,
	[QQ_PCT_CHG] [numeric](38, 4) NULL,
	[May_2010] [numeric](38, 2) NULL,
	[FCST_AVG_PCT_CHG] [numeric](38, 4) NULL,
	[Delta] [numeric](38, 4) NULL,
	[inCHPH] [int] NOT NULL
) ON [PRIMARY]
GO
