USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_Vol_Parmed_SLX_VAL_DEA]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_Vol_Parmed_SLX_VAL_DEA](
	[DEA] [varchar](20) NULL,
	[slxvalue] [varchar](50) NULL
) ON [PRIMARY]
GO
