USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_terr_A_del]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_terr_A_del](
	[acct_no] [varchar](4) NULL,
	[terr] [varchar](2) NULL
) ON [PRIMARY]
GO
