USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_Genericare_Rank]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_Genericare_Rank](
	[2009 Genricare Utilizers ] [nvarchar](255) NULL,
	[F2] [nvarchar](255) NULL,
	[F3] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL,
	[F5] [float] NULL,
	[F6] [float] NULL,
	[F7] [float] NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [float] NULL,
	[F11] [money] NULL
) ON [PRIMARY]
GO
