USE [reporting]
GO
/****** Object:  Table [dbo].[NewMembers_November15]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewMembers_November15](
	[Eff# Date] [datetime] NULL,
	[TM] [float] NULL,
	[AAP #] [float] NULL,
	[Store Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
