USE [reporting]
GO
/****** Object:  Table [dbo].[SLX2USM_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLX2USM_del](
	[accountid] [nvarchar](50) NULL,
	[udacctno] [nvarchar](50) NULL
) ON [PRIMARY]
GO
