USE [reporting]
GO
/****** Object:  Table [dbo].[TraditionalMatrix_CAHAccts]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraditionalMatrix_CAHAccts](
	[PMID] [float] NULL,
	[Matrix] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
