USE [reporting]
GO
/****** Object:  Table [dbo].[CardinalNCPDP]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardinalNCPDP](
	[NCPDP] [nvarchar](255) NULL
) ON [PRIMARY]
GO
