USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_Vol_Parmed_SLX_VAL]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_Vol_Parmed_SLX_VAL](
	[nabp] [varchar](7) NULL,
	[slxvalue] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
