USE [reporting]
GO
/****** Object:  Table [dbo].[CHPHDec]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHPHDec](
	[NDC] [varchar](15) NULL,
	[UnitCost] [float] NULL
) ON [PRIMARY]
GO
