USE [reporting]
GO
/****** Object:  Table [dbo].[Summary1209]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Summary1209](
	[Customer] [float] NULL,
	[store25bp] [float] NULL,
	[storename25bp] [nvarchar](255) NULL,
	[z] [nvarchar](255) NULL,
	[zz] [nvarchar](255) NULL,
	[Store] [nvarchar](255) NULL,
	[NABP ID] [nvarchar](255) NULL,
	[Extended Sales] [money] NULL,
	[x35bp] [money] NULL,
	[x10bp] [money] NULL,
	[Total] [money] NULL
) ON [PRIMARY]
GO
