USE [reporting]
GO
/****** Object:  Table [dbo].[Customers_forTracie]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_forTracie](
	[PMID] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[F3] [nvarchar](255) NOT NULL,
	[F4] [nvarchar](255) NOT NULL,
	[F5] [nvarchar](255) NOT NULL,
	[F6] [nvarchar](255) NOT NULL,
	[F7] [nvarchar](255) NOT NULL,
	[F8] [datetime] NOT NULL,
	[F9] [datetime] NOT NULL,
	[F10] [datetime] NOT NULL,
	[F11] [datetime] NOT NULL,
	[F12] [nvarchar](255) NOT NULL,
	[F13] [nvarchar](255) NOT NULL,
	[F14] [nvarchar](255) NOT NULL,
	[F15] [nvarchar](255) NOT NULL,
	[F16] [nvarchar](255) NOT NULL,
	[F17] [nvarchar](255) NOT NULL,
	[F18] [nvarchar](255) NOT NULL,
	[F19] [nvarchar](255) NOT NULL,
	[F20] [nvarchar](255) NOT NULL,
	[F21] [nvarchar](255) NOT NULL,
	[F22] [nvarchar](255) NOT NULL,
	[F23] [nvarchar](255) NOT NULL,
	[F24] [nvarchar](255) NOT NULL,
	[F25] [nvarchar](255) NOT NULL,
	[F26] [nvarchar](255) NOT NULL,
	[F27] [nvarchar](255) NOT NULL,
	[F28] [nvarchar](255) NOT NULL,
	[F29] [nvarchar](255) NOT NULL,
	[F30] [nvarchar](255) NOT NULL,
	[F31] [nvarchar](255) NOT NULL,
	[F32] [nvarchar](255) NOT NULL,
	[F33] [nvarchar](255) NOT NULL,
	[F34] [nvarchar](255) NOT NULL,
	[F35] [nvarchar](255) NOT NULL,
	[F36] [nvarchar](255) NOT NULL,
	[F37] [nvarchar](255) NOT NULL,
	[F38] [nvarchar](255) NOT NULL,
	[F39] [nvarchar](255) NOT NULL,
	[F40] [nvarchar](255) NOT NULL,
	[F41] [nvarchar](255) NOT NULL,
	[F42] [nvarchar](255) NOT NULL,
	[F43] [nvarchar](255) NOT NULL,
	[F44] [nvarchar](255) NOT NULL,
	[F45] [nvarchar](255) NOT NULL,
	[F46] [nvarchar](255) NOT NULL,
	[F47] [nvarchar](255) NOT NULL,
	[F48] [nvarchar](255) NOT NULL,
	[F49] [nvarchar](255) NOT NULL,
	[F50] [nvarchar](255) NOT NULL,
	[F51] [nvarchar](255) NOT NULL,
	[F52] [nvarchar](255) NOT NULL,
	[F53] [nvarchar](255) NOT NULL,
	[F54] [nvarchar](255) NOT NULL,
	[F55] [nvarchar](255) NOT NULL,
	[F56] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
