USE [reporting]
GO
/****** Object:  Table [dbo].[shelstorecount2_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shelstorecount2_del](
	[ACCT_NO] [nvarchar](50) NULL,
	[STORE] [nvarchar](50) NULL,
	[NSTERRITORY] [nvarchar](50) NULL,
	[STATE] [nvarchar](50) NULL,
	[EFFECTIVE] [nvarchar](50) NULL,
	[QUITDATE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
