USE [reporting]
GO
/****** Object:  Table [dbo].[territory_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[territory_del](
	[Terrid] [varchar](2) NOT NULL,
	[Territory] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
