USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_api_apv_jmw_dup]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_api_apv_jmw_dup](
	[dea] [varchar](255) NULL,
	[cog] [float] NULL,
	[name] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[st] [varchar](50) NULL,
	[CustNo] [varchar](50) NULL
) ON [PRIMARY]
GO
