USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_trendreport0708_status_del]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_trendreport0708_status_del](
	[dt] [datetime] NOT NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
