USE [reporting]
GO
/****** Object:  Table [dbo].[APIAccounts_Dynamics]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIAccounts_Dynamics](
	[API #] [float] NULL,
	[API Activated] [datetime] NULL
) ON [PRIMARY]
GO
