USE [reporting]
GO
/****** Object:  Table [dbo].[chph_tmp_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chph_tmp_del](
	[ndc] [varchar](15) NULL,
	[Q1_08] [float] NULL
) ON [PRIMARY]
GO
