USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_AVG_6_MO_VOL_LOAD_SLX_AUTO_bkp]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_AVG_6_MO_VOL_LOAD_SLX_AUTO_bkp](
	[acct_no] [varchar](4) NULL,
	[AVG_6_MO] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
