USE [reporting]
GO
/****** Object:  Table [dbo].[CH_COGSAR_0608_insert_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CH_COGSAR_0608_insert_del](
	[acct_no] [nvarchar](50) NULL,
	[payterm] [nvarchar](50) NULL,
	[ARCode] [nvarchar](50) NULL,
	[maxcogs] [nvarchar](50) NULL
) ON [PRIMARY]
GO
