USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_pharm_del]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_pharm_del](
	[Pharm ID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
