USE [reporting]
GO
/****** Object:  Table [dbo].[Rx30Plans_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rx30Plans_del](
	[NABP] [nvarchar](50) NULL,
	[PlanID] [nvarchar](50) NULL,
	[PlanName] [nvarchar](200) NULL
) ON [PRIMARY]
GO
