USE [reporting]
GO
/****** Object:  View [dbo].[v_Rx30GPI]    Script Date: 12/22/2020 9:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Rx30GPI]
AS
SELECT     SUM(dbo.v_Rx30DistinctNDCs.Qty) AS TotalQty, FDB.dbo.NDCGPI.GPI, MIN(FDB.dbo.RNP2_PIVOT.BB) AS AWP, MIN(FDB.dbo.RNP2_PIVOT.WHN) 
                      AS WAC
FROM         dbo.v_Rx30DistinctNDCs LEFT OUTER JOIN
                      FDB.dbo.RNP2_PIVOT ON dbo.v_Rx30DistinctNDCs.NDC = FDB.dbo.RNP2_PIVOT.ndc LEFT OUTER JOIN
                      FDB.dbo.NDCGPI ON dbo.v_Rx30DistinctNDCs.NDC = FDB.dbo.NDCGPI.NDC
GROUP BY FDB.dbo.NDCGPI.GPI
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[53] 4[3] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v_Rx30DistinctNDCs"
            Begin Extent = 
               Top = 122
               Left = 124
               Bottom = 212
               Right = 345
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "NDCGPI (FDB.dbo)"
            Begin Extent = 
               Top = 72
               Left = 500
               Bottom = 172
               Right = 652
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "RNP2_PIVOT (FDB.dbo)"
            Begin Extent = 
               Top = 218
               Left = 499
               Bottom = 461
               Right = 644
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1455
         Width = 2340
         Width = 1230
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Rx30GPI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Rx30GPI'
GO
