USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_F2_Q4UDGroup]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_F2_Q4UDGroup](
	[memstore] [varchar](25) NULL,
	[q4grptotal] [numeric](38, 2) NULL,
	[q4grpaverage] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
