USE [reporting]
GO
/****** Object:  Table [dbo].[ud_CONTRACT_TYPE]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ud_CONTRACT_TYPE](
	[CONTRACT_TYPE_ID] [int] NULL,
	[DESCRIPTION] [varchar](50) NULL
) ON [PRIMARY]
GO
