USE [reporting]
GO
/****** Object:  Table [dbo].[CH_COGSAR_0608_nodups_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CH_COGSAR_0608_nodups_del](
	[Store Number] [nvarchar](50) NULL,
	[Expr1] [int] NULL,
	[payterm] [nvarchar](50) NULL,
	[cogs] [nvarchar](50) NULL
) ON [PRIMARY]
GO
