USE [reporting]
GO
/****** Object:  Table [dbo].[COG_test_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COG_test_del](
	[Store Number] [float] NULL,
	[COG Buy Plan %] [float] NULL
) ON [PRIMARY]
GO
