USE [reporting]
GO
/****** Object:  Table [dbo].[tmp_qtr_admin_bkp]    Script Date: 12/22/2020 4:58:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_qtr_admin_bkp](
	[acct_no] [varchar](4) NULL,
	[Q1_2008] [float] NULL,
	[Q1_2009] [float] NULL,
	[QQ_PCT_CHG] [float] NULL
) ON [PRIMARY]
GO
