USE [reporting]
GO
/****** Object:  Table [dbo].[cardndc_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cardndc_del](
	[NDC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
