USE [reporting]
GO
/****** Object:  Table [dbo].[Anda0408_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anda0408_del](
	[UD#] [nvarchar](50) NULL,
	[ANDA #] [nvarchar](50) NULL,
	[VIP #] [nvarchar](50) NULL,
	[STORE] [nvarchar](50) NULL,
	[Total April 2008] [numeric](15, 2) NULL,
	[DEA] [nvarchar](50) NULL,
	[Column 6] [nvarchar](50) NULL
) ON [PRIMARY]
GO
