USE [reporting]
GO
/****** Object:  Table [dbo].[CentralPayPlanToRemove]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralPayPlanToRemove](
	[PLAN_ID] [nvarchar](50) NULL,
	[NAME] [nvarchar](50) NULL
) ON [PRIMARY]
GO
