USE [reporting]
GO
/****** Object:  Table [dbo].[RejectCodes_del]    Script Date: 12/22/2020 4:58:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectCodes_del](
	[Reject Code] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL
) ON [PRIMARY]
GO
