USE [PMBackups]
GO
/****** Object:  Table [dbo].[tmp_API_PM_GroupX_Add]    Script Date: 12/22/2020 4:47:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_API_PM_GroupX_Add](
	[AccountName] [varchar](100) NULL,
	[DEA] [varchar](100) NULL,
	[Group_Id] [varchar](10) NULL,
	[BusinessClass] [varchar](10) NULL
) ON [PRIMARY]
GO
