USE [PMBackups]
GO
/****** Object:  StoredProcedure [dbo].[sppm_create_PMUpd_Compare_Table]    Script Date: 12/22/2020 4:47:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		< Joni Wilson>
-- Create date: <04/14/2010>
-- Description:	Create Compare tables from the backups
-- =============================================
CREATE PROCEDURE [dbo].[sppm_create_PMUpd_Compare_Table]

AS
	BEGIN
 
 
-- Compare for API Data

   IF EXISTS(SELECT name FROM sys.tables
        WHERE name = 'tmp_ComparePMUPD')
          DROP TABLE tmp_ComparePMUPD
 

	SELECT * into tmp_ComparePMUPD from (

	SELECT MIN(TableName) as TableName,  count(*) 
	NDUPS,
    [PMID]
      ,[PMParentID]
      ,[AAPAccountNo]
      ,[AAPEffectiveDate]
      ,[AAPParentNo]
      ,[AAPPreviousGroup]
      ,[AAPQuitDate]
      ,[AAPStatus]
      ,[AccountDescription]
      ,[AccountName]
      ,[AllowDupDEA]
      ,[APIAccountNo]
      ,[APIMemberNo]
      ,[APIStatus]
      ,[AvgWholesaleVolume]
      ,[BusinessClass]
      ,[CAHStatus]
      ,[CardinalDC]
      ,[CompetitiveAcct]
      ,[ComputerSoftware]
      ,[ContractDate]
      ,[CorporateName]
      ,[CustPayTermsAPI]
      ,[DateOpened]
      ,[DBA]
      ,[DEA]
      ,[DEAEXP]
      ,[Email]
      ,[EmergencyPhone]
      ,[EstMonthlyVol]
      ,[FedID]
      ,[HolidayHours]
      ,[Hours]
      ,[StoreHours_HolidayAM]
      ,[StoreHours_HolidayPM]
      ,[StoreHours_MondayFridayAM]
      ,[StoreHours_MondayFridayPM]
      ,[StoreHours_SaturdayAM]
      ,[StoreHours_SaturdayPM]
      ,[StoreHours_SundayAM]
      ,[StoreHours_SundayPM]
      ,[IsStartUpStore]
      ,[NCPDP]
      ,[NPI]
      ,[NumReactivated]
      ,[OrigStartDate]
      ,[OwnerName]
      ,[Payee_id]
      ,[PrimaryCAAccountNo]
      ,[PrimaryWholesaler]
      ,[QPS]
      ,[Rank]
      ,[Resigned]
      ,[Source]
      ,[Status]
      ,[Territory]
      ,[UDAccountNo]
      ,[UDNonPharmacy]
      ,[UDParentNo]
      ,[UDQuitDate]
      ,[UDStatus]
      ,[Website]
      ,[Wholesaler]
      ,[WholesalerAccountNo]
      ,[WhyResigned]
      ,[IsBuyingGroup]
      ,[IsPos]
      ,[IsPva]
      ,[FeePaid]
      ,[IsManagedCare]
      ,[IsWarehouse]
      ,[IsNPP]
      ,[ACHEmail]
      ,[MembershipType]
      ,[OrganizationType]
      ,[AuthorizedVoter]
	FROM
	(

	  SELECT 'Outdated_APIData' as TableName, count(*) NDUPS, 	[PMID]
      ,[PMParentID]
      ,[AAPAccountNo]
      ,[AAPEffectiveDate]
      ,[AAPParentNo]
      ,[AAPPreviousGroup]
      ,[AAPQuitDate]
      ,[AAPStatus]
      ,[AccountDescription]
      ,[AccountName]
      ,[AllowDupDEA]
      ,[APIAccountNo]
      ,[APIMemberNo]
      ,[APIStatus]
      ,[AvgWholesaleVolume]
      ,[BusinessClass]
      ,[CAHStatus]
      ,[CardinalDC]
      ,[CompetitiveAcct]
      ,[ComputerSoftware]
      ,[ContractDate]
      ,[CorporateName]
      ,[CustPayTermsAPI]
      ,[DateOpened]
      ,[DBA]
      ,[DEA]
      ,[DEAEXP]
      ,[Email]
      ,[EmergencyPhone]
      ,[EstMonthlyVol]
      ,[FedID]
      ,[HolidayHours]
      ,[Hours]
      ,[StoreHours_HolidayAM]
      ,[StoreHours_HolidayPM]
      ,[StoreHours_MondayFridayAM]
      ,[StoreHours_MondayFridayPM]
      ,[StoreHours_SaturdayAM]
      ,[StoreHours_SaturdayPM]
      ,[StoreHours_SundayAM]
      ,[StoreHours_SundayPM]
      ,[IsStartUpStore]
      ,[NCPDP]
      ,[NPI]
      ,[NumReactivated]
      ,[OrigStartDate]
      ,[OwnerName]
      ,[Payee_id]
      ,[PrimaryCAAccountNo]
      ,[PrimaryWholesaler]
      ,[QPS]
      ,[Rank]
      ,[Resigned]
      ,[Source]
      ,[Status]
      ,[Territory]
      ,[UDAccountNo]
      ,[UDNonPharmacy]
      ,[UDParentNo]
      ,[UDQuitDate]
      ,[UDStatus]
      ,[Website]
      ,[Wholesaler]
      ,[WholesalerAccountNo]
      ,[WhyResigned]
      ,[IsBuyingGroup]
      ,[IsPos]
      ,[IsPva]
      ,[FeePaid]
      ,[IsManagedCare]
      ,[IsWarehouse]
      ,[IsNPP]
      ,[ACHEmail]
      ,[MembershipType]
      ,[OrganizationType]
      ,[AuthorizedVoter]

	  FROM PharmacyMaster..PM_Pharmacy_BeforeUpd021511 A
		GROUP BY 
	[PMID]
      ,[PMParentID]
      ,[AAPAccountNo]
      ,[AAPEffectiveDate]
      ,[AAPParentNo]
      ,[AAPPreviousGroup]
      ,[AAPQuitDate]
      ,[AAPStatus]
      ,[AccountDescription]
      ,[AccountName]
      ,[AllowDupDEA]
      ,[APIAccountNo]
      ,[APIMemberNo]
      ,[APIStatus]
      ,[AvgWholesaleVolume]
      ,[BusinessClass]
      ,[CAHStatus]
      ,[CardinalDC]
      ,[CompetitiveAcct]
      ,[ComputerSoftware]
      ,[ContractDate]
      ,[CorporateName]
      ,[CustPayTermsAPI]
      ,[DateOpened]
      ,[DBA]
      ,[DEA]
      ,[DEAEXP]
      ,[Email]
      ,[EmergencyPhone]
      ,[EstMonthlyVol]
      ,[FedID]
      ,[HolidayHours]
      ,[Hours]
      ,[StoreHours_HolidayAM]
      ,[StoreHours_HolidayPM]
      ,[StoreHours_MondayFridayAM]
      ,[StoreHours_MondayFridayPM]
      ,[StoreHours_SaturdayAM]
      ,[StoreHours_SaturdayPM]
      ,[StoreHours_SundayAM]
      ,[StoreHours_SundayPM]
      ,[IsStartUpStore]
      ,[NCPDP]
      ,[NPI]
      ,[NumReactivated]
      ,[OrigStartDate]
      ,[OwnerName]
      ,[Payee_id]
      ,[PrimaryCAAccountNo]
      ,[PrimaryWholesaler]
      ,[QPS]
      ,[Rank]
      ,[Resigned]
      ,[Source]
      ,[Status]
      ,[Territory]
      ,[UDAccountNo]
      ,[UDNonPharmacy]
      ,[UDParentNo]
      ,[UDQuitDate]
      ,[UDStatus]
      ,[Website]
      ,[Wholesaler]
      ,[WholesalerAccountNo]
      ,[WhyResigned]
      ,[IsBuyingGroup]
      ,[IsPos]
      ,[IsPva]
      ,[FeePaid]
      ,[IsManagedCare]
      ,[IsWarehouse]
      ,[IsNPP]
      ,[ACHEmail]
      ,[MembershipType]
      ,[OrganizationType]
      ,[AuthorizedVoter]

	  UNION ALL

	  SELECT 'New_APIData' as TableName,  count(*) 
	NDUPS,
   [PMID]
      ,[PMParentID]
      ,[AAPAccountNo]
      ,[AAPEffectiveDate]
      ,[AAPParentNo]
      ,[AAPPreviousGroup]
      ,[AAPQuitDate]
      ,[AAPStatus]
      ,[AccountDescription]
      ,[AccountName]
      ,[AllowDupDEA]
      ,[APIAccountNo]
      ,[APIMemberNo]
      ,[APIStatus]
      ,[AvgWholesaleVolume]
      ,[BusinessClass]
      ,[CAHStatus]
      ,[CardinalDC]
      ,[CompetitiveAcct]
      ,[ComputerSoftware]
      ,[ContractDate]
      ,[CorporateName]
      ,[CustPayTermsAPI]
      ,[DateOpened]
      ,[DBA]
      ,[DEA]
      ,[DEAEXP]
      ,[Email]
      ,[EmergencyPhone]
      ,[EstMonthlyVol]
      ,[FedID]
      ,[HolidayHours]
      ,[Hours]
      ,[StoreHours_HolidayAM]
      ,[StoreHours_HolidayPM]
      ,[StoreHours_MondayFridayAM]
      ,[StoreHours_MondayFridayPM]
      ,[StoreHours_SaturdayAM]
      ,[StoreHours_SaturdayPM]
      ,[StoreHours_SundayAM]
      ,[StoreHours_SundayPM]
      ,[IsStartUpStore]
      ,[NCPDP]
      ,[NPI]
      ,[NumReactivated]
      ,[OrigStartDate]
      ,[OwnerName]
      ,[Payee_id]
      ,[PrimaryCAAccountNo]
      ,[PrimaryWholesaler]
      ,[QPS]
      ,[Rank]
      ,[Resigned]
      ,[Source]
      ,[Status]
      ,[Territory]
      ,[UDAccountNo]
      ,[UDNonPharmacy]
      ,[UDParentNo]
      ,[UDQuitDate]
      ,[UDStatus]
      ,[Website]
      ,[Wholesaler]
      ,[WholesalerAccountNo]
      ,[WhyResigned]
      ,[IsBuyingGroup]
      ,[IsPos]
      ,[IsPva]
      ,[FeePaid]
      ,[IsManagedCare]
      ,[IsWarehouse]
      ,[IsNPP]
      ,[ACHEmail]
      ,[MembershipType]
      ,[OrganizationType]
      ,[AuthorizedVoter]

	  FROM PharmacyMaster..PM_Pharmacy  B
	   GROUP BY [PMID]
      ,[PMParentID]
      ,[AAPAccountNo]
      ,[AAPEffectiveDate]
      ,[AAPParentNo]
      ,[AAPPreviousGroup]
      ,[AAPQuitDate]
      ,[AAPStatus]
      ,[AccountDescription]
      ,[AccountName]
      ,[AllowDupDEA]
      ,[APIAccountNo]
      ,[APIMemberNo]
      ,[APIStatus]
      ,[AvgWholesaleVolume]
      ,[BusinessClass]
      ,[CAHStatus]
      ,[CardinalDC]
      ,[CompetitiveAcct]
      ,[ComputerSoftware]
      ,[ContractDate]
      ,[CorporateName]
      ,[CustPayTermsAPI]
      ,[DateOpened]
      ,[DBA]
      ,[DEA]
      ,[DEAEXP]
      ,[Email]
      ,[EmergencyPhone]
      ,[EstMonthlyVol]
      ,[FedID]
      ,[HolidayHours]
      ,[Hours]
      ,[StoreHours_HolidayAM]
      ,[StoreHours_HolidayPM]
      ,[StoreHours_MondayFridayAM]
      ,[StoreHours_MondayFridayPM]
      ,[StoreHours_SaturdayAM]
      ,[StoreHours_SaturdayPM]
      ,[StoreHours_SundayAM]
      ,[StoreHours_SundayPM]
      ,[IsStartUpStore]
      ,[NCPDP]
      ,[NPI]
      ,[NumReactivated]
      ,[OrigStartDate]
      ,[OwnerName]
      ,[Payee_id]
      ,[PrimaryCAAccountNo]
      ,[PrimaryWholesaler]
      ,[QPS]
      ,[Rank]
      ,[Resigned]
      ,[Source]
      ,[Status]
      ,[Territory]
      ,[UDAccountNo]
      ,[UDNonPharmacy]
      ,[UDParentNo]
      ,[UDQuitDate]
      ,[UDStatus]
      ,[Website]
      ,[Wholesaler]
      ,[WholesalerAccountNo]
      ,[WhyResigned]
      ,[IsBuyingGroup]
      ,[IsPos]
      ,[IsPva]
      ,[FeePaid]
      ,[IsManagedCare]
      ,[IsWarehouse]
      ,[IsNPP]
      ,[ACHEmail]
      ,[MembershipType]
      ,[OrganizationType]
      ,[AuthorizedVoter]
	) tmp

	GROUP BY  
	NDUPS,
   [PMID]
      ,[PMParentID]
      ,[AAPAccountNo]
      ,[AAPEffectiveDate]
      ,[AAPParentNo]
      ,[AAPPreviousGroup]
      ,[AAPQuitDate]
      ,[AAPStatus]
      ,[AccountDescription]
      ,[AccountName]
      ,[AllowDupDEA]
      ,[APIAccountNo]
      ,[APIMemberNo]
      ,[APIStatus]
      ,[AvgWholesaleVolume]
      ,[BusinessClass]
      ,[CAHStatus]
      ,[CardinalDC]
      ,[CompetitiveAcct]
      ,[ComputerSoftware]
      ,[ContractDate]
      ,[CorporateName]
      ,[CustPayTermsAPI]
      ,[DateOpened]
      ,[DBA]
      ,[DEA]
      ,[DEAEXP]
      ,[Email]
      ,[EmergencyPhone]
      ,[EstMonthlyVol]
      ,[FedID]
      ,[HolidayHours]
      ,[Hours]
      ,[StoreHours_HolidayAM]
      ,[StoreHours_HolidayPM]
      ,[StoreHours_MondayFridayAM]
      ,[StoreHours_MondayFridayPM]
      ,[StoreHours_SaturdayAM]
      ,[StoreHours_SaturdayPM]
      ,[StoreHours_SundayAM]
      ,[StoreHours_SundayPM]
      ,[IsStartUpStore]
      ,[NCPDP]
      ,[NPI]
      ,[NumReactivated]
      ,[OrigStartDate]
      ,[OwnerName]
      ,[Payee_id]
      ,[PrimaryCAAccountNo]
      ,[PrimaryWholesaler]
      ,[QPS]
      ,[Rank]
      ,[Resigned]
      ,[Source]
      ,[Status]
      ,[Territory]
      ,[UDAccountNo]
      ,[UDNonPharmacy]
      ,[UDParentNo]
      ,[UDQuitDate]
      ,[UDStatus]
      ,[Website]
      ,[Wholesaler]
      ,[WholesalerAccountNo]
      ,[WhyResigned]
      ,[IsBuyingGroup]
      ,[IsPos]
      ,[IsPva]
      ,[FeePaid]
      ,[IsManagedCare]
      ,[IsWarehouse]
      ,[IsNPP]
      ,[ACHEmail]
      ,[MembershipType]
      ,[OrganizationType]
      ,[AuthorizedVoter]

	HAVING COUNT(*) = 1
	) tmp

END
GO
