USE [Reports]
GO
/****** Object:  Table [dbo].[aarptable_index]    Script Date: 12/22/2020 5:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aarptable_index](
	[drug] [nvarchar](255) NULL,
	[drugcomp] [varchar](255) NULL
) ON [PRIMARY]
GO
