USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RozFile]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RozFile](
	[NCPDP] [varchar](50) NULL,
	[Metrics] [varchar](255) NULL,
	[TRxCount] [float] NULL
) ON [PRIMARY]
GO
