USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MemberGroupsNetCount]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MemberGroupsNetCount](
	[Program] [varchar](50) NULL,
	[Net Change Nov 2017] [int] NULL,
	[Net Change Dec 2017] [int] NULL,
	[Net Change Jan 2018] [int] NULL,
	[Net Change Feb 2018] [int] NULL,
	[Net Change Mar 2018] [int] NULL,
	[Net Change Apr 2018] [int] NULL,
	[Net Change May 2018] [int] NULL,
	[Net Change Jun 2018] [int] NULL,
	[Net Change Jul 2018] [int] NULL,
	[Net Change Aug 2018] [int] NULL,
	[Net Change Sep 2018] [int] NULL,
	[Net Change Oct 2018] [int] NULL,
	[Net Change Nov 2018] [int] NULL,
	[Net Change Dec 2018] [int] NULL,
	[Net Change Jan 2019] [int] NULL,
	[Net Change Feb 2019] [int] NULL,
	[Net Change Mar 2019] [int] NULL,
	[Net Change Apr 2019] [int] NULL,
	[Net Change May 2019] [int] NULL,
	[Net Change Jun 2019] [int] NULL,
	[Net Change Jul 2019] [int] NULL,
	[Net Change Aug 2019] [int] NULL,
	[Net Change Sep 2019] [int] NULL,
	[Net Change Oct 2019] [int] NULL
) ON [PRIMARY]
GO
