USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RPDA_AAP_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RPDA_AAP_jmw](
	[PMID] [numeric](18, 0) NULL,
	[01/15 CA Monthly Gen Rebate] [money] NULL,
	[02/15 CA Monthly Gen Rebate] [money] NULL,
	[03/15 CA Monthly Gen Rebate] [money] NULL,
	[04/15 CA Monthly Gen Rebate] [money] NULL,
	[05/15 CA Monthly Gen Rebate] [money] NULL,
	[06/15 CA Monthly Gen Rebate] [money] NULL,
	[07/15 CA Monthly Gen Rebate] [money] NULL,
	[08/15 CA Monthly Gen Rebate] [money] NULL,
	[09/15 CA Monthly Gen Rebate] [money] NULL,
	[10/15 CA Monthly Gen Rebate] [money] NULL,
	[11/15 CA Monthly Gen Rebate] [money] NULL,
	[12/15 CA Monthly Gen Rebate] [money] NULL
) ON [PRIMARY]
GO
