USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_testNotes]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_testNotes](
	[AccountNo] [varchar](250) NULL,
	[Count] [int] NULL
) ON [PRIMARY]
GO
