USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_PrevQtrResponse]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_PrevQtrResponse](
	[PlanName] [nvarchar](200) NULL,
	[Q1 2015 - AvgResponseTime] [float] NULL
) ON [PRIMARY]
GO
