USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RPDA_PP_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RPDA_PP_jmw](
	[PMID] [float] NULL,
	[PP Rebate 2015] [float] NULL
) ON [PRIMARY]
GO
