USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_COG_Q22013]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_COG_Q22013](
	[TM] [float] NULL,
	[PMID] [float] NULL,
	[AAP#] [float] NULL,
	[API acct] [nvarchar](255) NULL,
	[AccountName] [nvarchar](255) NULL,
	[Division] [nvarchar](255) NULL,
	[CAH- Final COG] [float] NULL
) ON [PRIMARY]
GO
