USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCRebate_jmw_B4Changes]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCRebate_jmw_B4Changes](
	[TM] [varchar](20) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](25) NULL,
	[Parent#] [varchar](25) NULL,
	[API#] [varchar](25) NULL,
	[AAP Eff] [varchar](25) NULL,
	[AAP Quit] [varchar](25) NULL,
	[Description] [varchar](100) NULL,
	[Affiliate] [varchar](100) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Address] [varchar](250) NULL,
	[City] [varchar](100) NULL,
	[St] [varchar](100) NULL,
	[Contact] [varchar](150) NULL,
	[MC Network] [varchar](150) NULL,
	[PP Volume 2011Q1] [float] NULL,
	[PP Rebate 2011Q1] [float] NULL,
	[PP Volume 2011Q2] [float] NULL,
	[PP Rebate 2011Q2] [float] NULL,
	[PP Volume 2011Q3] [float] NULL,
	[PP Rebate 2011Q3] [float] NULL,
	[PP Volume 2011Q4] [float] NULL,
	[PP Rebate 2011Q4] [float] NULL,
	[Total PP Rebate 2011] [float] NULL,
	[Q1 API Whse Rebate] [float] NULL,
	[Q1 API Generic Rebate%] [float] NULL,
	[Q2 API Whse Rebate] [float] NULL,
	[Q2 API Generic Rebate%] [float] NULL,
	[Q3 API Whse Rebate] [float] NULL,
	[Q3 API Generic Rebate%] [float] NULL,
	[Q4 API Whse Rebate] [float] NULL,
	[Q4 API Generic Rebate%] [float] NULL,
	[Total API Whse Rebate 2011] [float] NULL,
	[HV Incentive 0111] [float] NULL,
	[HV COG Reduction 0111] [float] NULL,
	[HV Incentive 0211] [float] NULL,
	[HV COG Reduction 0211] [float] NULL,
	[HV Incentive 0311] [float] NULL,
	[HV COG Reduction 0311] [float] NULL,
	[HV Incentive 0411] [float] NULL,
	[HV COG Reduction 0411] [float] NULL,
	[HV Incentive 0511] [float] NULL,
	[HV COG Reduction 0511] [float] NULL,
	[HV Incentive 0611] [float] NULL,
	[HV COG Reduction 0611] [float] NULL,
	[HV Incentive 0711] [float] NULL,
	[HV COG Reduction 0711] [float] NULL,
	[HV Incentive 0811] [float] NULL,
	[HV COG Reduction 0811] [float] NULL,
	[HV Incentive 0911] [float] NULL,
	[HV COG Reduction 0911] [float] NULL,
	[HV Incentive 1011] [float] NULL,
	[HV COG Reduction 1011] [float] NULL,
	[HV Incentive 1111] [float] NULL,
	[HV COG Reduction 1111] [float] NULL,
	[HV Incentive 1211] [float] NULL,
	[HV COG Reduction 1211] [float] NULL,
	[Total HV Incentive 2011] [float] NULL,
	[Conf Volume 0411] [float] NULL,
	[Conf Rebate 0411] [float] NULL,
	[Conf Volume 0511] [float] NULL,
	[Conf Rebate 0511] [float] NULL,
	[Total Conf Volume 2011] [float] NULL,
	[Total Conf Rebate 2011] [float] NULL,
	[Leader AAP 2011Q1] [float] NULL,
	[Leader AAP 2011Q2] [float] NULL,
	[Leader AAP 2011Q3] [float] NULL,
	[Leader AAP 2011Q4] [float] NULL,
	[Total Leader AAP 2011] [float] NULL,
	[MSI AAP 2011Q1] [float] NULL,
	[MSI AAP 2011Q2] [float] NULL,
	[MSI AAP 2011Q3] [float] NULL,
	[MSI AAP 2011Q4] [float] NULL,
	[Total MSI AAP 2011] [float] NULL,
	[01/11 Source Sales] [float] NULL,
	[01/11 AAP Gen Rebate] [float] NULL,
	[01/11 Avg%] [float] NULL,
	[01/11 HRTA%] [float] NULL,
	[01/11 PaymentMethod] [varchar](50) NULL,
	[02/11 Source Sales] [float] NULL,
	[02/11 AAP Gen Rebate] [float] NULL,
	[02/11 Avg%] [float] NULL,
	[02/11 HRTA%] [float] NULL,
	[02/11 PaymentMethod] [varchar](50) NULL,
	[03/11 Source Sales] [float] NULL,
	[03/11 AAP Gen Rebate] [float] NULL,
	[03/11 Avg%] [float] NULL,
	[03/11 HRTA%] [float] NULL,
	[03/11 PaymentMethod] [varchar](50) NULL,
	[04/11 Source Sales] [float] NULL,
	[04/11 AAP Gen Rebate] [float] NULL,
	[04/11 Avg%] [float] NULL,
	[04/11 HRTA%] [float] NULL,
	[04/11 PaymentMethod] [varchar](50) NULL,
	[05/11 Source Sales] [float] NULL,
	[05/11 AAP Gen Rebate] [float] NULL,
	[05/11 Avg%] [float] NULL,
	[05/11 HRTA%] [float] NULL,
	[05/11 PaymentMethod] [varchar](50) NULL,
	[06/11 Source Sales] [float] NULL,
	[06/11 AAP Gen Rebate] [float] NULL,
	[06/11 Avg%] [float] NULL,
	[06/11 HRTA%] [float] NULL,
	[06/11 PaymentMethod] [varchar](50) NULL,
	[07/11 Source Sales] [float] NULL,
	[07/11 AAP Gen Rebate] [float] NULL,
	[07/11 Avg%] [float] NULL,
	[07/11 HRTA%] [float] NULL,
	[07/11 PaymentMethod] [varchar](50) NULL,
	[08/11 Source Sales] [float] NULL,
	[08/11 AAP Gen Rebate] [float] NULL,
	[08/11 Avg%] [float] NULL,
	[08/11 HRTA%] [float] NULL,
	[08/11 PaymentMethod] [varchar](50) NULL,
	[09/11 Source Sales] [float] NULL,
	[09/11 AAP Gen Rebate] [float] NULL,
	[09/11 Avg%] [float] NULL,
	[09/11 HRTA%] [float] NULL,
	[09/11 PaymentMethod] [varchar](50) NULL,
	[10/11 Source Sales] [float] NULL,
	[10/11 AAP Gen Rebate] [float] NULL,
	[10/11 Avg%] [float] NULL,
	[10/11 HRTA%] [float] NULL,
	[10/11 PaymentMethod] [varchar](50) NULL,
	[11/11 Source Sales] [float] NULL,
	[11/11 AAP Gen Rebate] [float] NULL,
	[11/11 Avg%] [float] NULL,
	[11/11 HRTA%] [float] NULL,
	[11/11 PaymentMethod] [varchar](50) NULL,
	[12/11 Source Sales] [float] NULL,
	[12/11 AAP Gen Rebate] [float] NULL,
	[12/11 Avg%] [float] NULL,
	[12/11 HRTA%] [float] NULL,
	[12/11 PaymentMethod] [varchar](50) NULL,
	[Total CH AAP Gen Rebate 2011] [float] NULL,
	[Planogram Rebate 2011] [float] NULL,
	[API Generic Incentive 2011] [float] NULL,
	[AAP Patronage Dividend 2011] [float] NULL,
	[Total YTD All Rebates 2011] [float] NULL
) ON [PRIMARY]
GO
