USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_SinglePriceChangeNDC]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_SinglePriceChangeNDC](
	[ndc] [nvarchar](100) NULL
) ON [PRIMARY]
GO
