USE [Reports]
GO
/****** Object:  Table [dbo].[APIMCQtr]    Script Date: 12/22/2020 5:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIMCQtr](
	[StoresIncluded] [varchar](250) NULL,
	[Amount] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
