USE [Reports]
GO
/****** Object:  Table [dbo].[test_EmailCM]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_EmailCM](
	[Email] [varchar](255) NULL,
	[AccountName] [varchar](255) NULL,
	[ContactNo] [varchar](255) NULL
) ON [PRIMARY]
GO
