USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RPDA_APIMo_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RPDA_APIMo_jmw](
	[PMID] [nvarchar](255) NULL,
	[API Net Rebate to Store 0115] [money] NULL,
	[API Net Rebate to Store 0215] [money] NULL,
	[API Net Rebate to Store 0315] [money] NULL,
	[API Net Rebate to Store 0415] [money] NULL,
	[API Net Rebate to Store 0515] [money] NULL,
	[API Net Rebate to Store 0615] [money] NULL,
	[API Net Rebate to Store 0715] [money] NULL,
	[API Net Rebate to Store 0815] [money] NULL,
	[API Net Rebate to Store 0915] [money] NULL,
	[API Net Rebate to Store 1015] [money] NULL,
	[API Net Rebate to Store 1115] [money] NULL,
	[API Net Rebate to Store 1215] [money] NULL
) ON [PRIMARY]
GO
