USE [Reports]
GO
/****** Object:  Table [dbo].[tmpLoadOrigOctPP]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpLoadOrigOctPP](
	[F1] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Sub-Affiliation] [nvarchar](255) NULL,
	[Customer Unique] [nvarchar](255) NULL,
	[L01 Afltn Name] [nvarchar](255) NULL,
	[Distribution Center Number] [float] NULL,
	[Customer Number] [float] NULL,
	[Customer Name] [nvarchar](255) NULL,
	[Corporate Item Number] [float] NULL,
	[Description] [nvarchar](255) NULL,
	[NDC] [float] NULL,
	[Supplier] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[Old Sell] [money] NULL,
	[New Sell] [money] NULL,
	[% Change] [float] NULL,
	[Protection Start Date] [datetime] NULL,
	[Protection End Date] [datetime] NULL,
	[Previous 3 Months Historical Usage] [float] NULL,
	[Average Monthly Usage] [float] NULL,
	[Unit Sell Dlr] [money] NULL,
	[10/1/2015] [nvarchar](255) NULL,
	[10/2/2015] [nvarchar](255) NULL,
	[10/3/2015] [nvarchar](255) NULL,
	[10/5/2015] [float] NULL,
	[10/6/2015] [nvarchar](255) NULL,
	[10/7/2015] [nvarchar](255) NULL,
	[10/8/2015] [float] NULL,
	[10/9/2015] [nvarchar](255) NULL,
	[10/10/2015] [nvarchar](255) NULL,
	[10/12/2015] [nvarchar](255) NULL,
	[10/13/2015] [float] NULL,
	[10/14/2015] [nvarchar](255) NULL,
	[10/15/2015] [float] NULL,
	[10/16/2015] [float] NULL,
	[10/17/2015] [nvarchar](255) NULL,
	[10/19/2015] [nvarchar](255) NULL,
	[10/20/2015] [nvarchar](255) NULL,
	[10/21/2015] [float] NULL,
	[10/22/2015] [nvarchar](255) NULL,
	[10/23/2015] [nvarchar](255) NULL,
	[10/26/2015] [float] NULL,
	[10/27/2015] [nvarchar](255) NULL,
	[10/28/2015] [float] NULL,
	[10/29/2015] [nvarchar](255) NULL,
	[10/30/2015] [float] NULL,
	[10/31/2015] [nvarchar](255) NULL,
	[F48] [float] NULL,
	[F49] [nvarchar](255) NULL,
	[Returns] [float] NULL,
	[Total Usage] [float] NULL,
	[Prior Month Usage] [float] NULL,
	[Available From Last Month] [float] NULL,
	[Overage Last Month] [float] NULL,
	[Total Owed] [float] NULL,
	[Usage For Calculation] [float] NULL,
	[Price Protection Due] [money] NULL,
	[Comments] [nvarchar](255) NULL,
	[Rebate%] [nvarchar](255) NULL,
	[Net Price Protection Due] [money] NULL
) ON [PRIMARY]
GO
