USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_test_WithDate]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_test_WithDate](
	[Q1AdminFee] [money] NULL,
	[Q1GenAdminFee] [money] NULL,
	[APINetSales] [float] NULL,
	[pmid] [int] NULL
) ON [PRIMARY]
GO
