USE [Reports]
GO
/****** Object:  Table [dbo].[FaxAdditions]    Script Date: 12/22/2020 5:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaxAdditions](
	[FaxNo] [varchar](50) NULL,
	[AccountName] [varchar](150) NULL,
	[ContactNo] [varchar](50) NULL
) ON [PRIMARY]
GO
