USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_UnitsAndDollarsByCustNo]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_UnitsAndDollarsByCustNo](
	[TM] [varchar](10) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](20) NULL,
	[Parent#] [varchar](20) NULL,
	[API#] [varchar](20) NULL,
	[AAP Eff] [datetime] NULL,
	[API Acct Eff] [datetime] NULL,
	[AAP Quit] [datetime] NULL,
	[API Status] [varchar](20) NULL,
	[Description] [varchar](200) NULL,
	[Affiliate] [varchar](200) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ST] [varchar](100) NULL,
	[API GRx Units 09/16] [int] NULL,
	[API GRx $ 09/16] [float] NULL,
	[API BRx Units 09/16] [int] NULL,
	[API BRx $ 09/16] [float] NULL,
	[Days Ordered API 09/16] [int] NULL,
	[CAH GRx Units 09/16] [numeric](38, 0) NULL,
	[CAH GRx $ 09/16] [float] NULL,
	[CAH BRx Units 09/16] [numeric](38, 0) NULL,
	[CAH BRx $ 09/16] [float] NULL,
	[API GRx Units 10/16] [int] NULL,
	[API GRx $ 10/16] [float] NULL,
	[API BRx Units 10/16] [int] NULL,
	[API BRx $ 10/16] [float] NULL,
	[Days Ordered API 10/16] [int] NULL,
	[CAH GRx Units 10/16] [numeric](38, 0) NULL,
	[CAH GRx $ 10/16] [float] NULL,
	[CAH BRx Units 10/16] [numeric](38, 0) NULL,
	[CAH BRx $ 10/16] [float] NULL,
	[API GRx Units 11/16] [int] NULL,
	[API GRx $ 11/16] [float] NULL,
	[API BRx Units 11/16] [int] NULL,
	[API BRx $ 11/16] [float] NULL,
	[Days Ordered API 11/16] [int] NULL,
	[CAH GRx Units 11/16] [numeric](38, 0) NULL,
	[CAH GRx $ 11/16] [float] NULL,
	[CAH BRx Units 11/16] [numeric](38, 0) NULL,
	[CAH BRx $ 11/16] [float] NULL,
	[API GRx Units 12/16] [int] NULL,
	[API GRx $ 12/16] [float] NULL,
	[API BRx Units 12/16] [int] NULL,
	[API BRx $ 12/16] [float] NULL,
	[Days Ordered API 12/16] [int] NULL,
	[CAH GRx Units 12/16] [numeric](38, 0) NULL,
	[CAH GRx $ 12/16] [float] NULL,
	[CAH BRx Units 12/16] [numeric](38, 0) NULL,
	[CAH BRx $ 12/16] [float] NULL,
	[API GRx Units 01/17] [int] NULL,
	[API GRx $ 01/17] [float] NULL,
	[API BRx Units 01/17] [int] NULL,
	[API BRx $ 01/17] [float] NULL,
	[Days Ordered API 01/17] [int] NULL,
	[CAH GRx Units 01/17] [numeric](38, 0) NULL,
	[CAH GRx $ 01/17] [float] NULL,
	[CAH BRx Units 01/17] [numeric](38, 0) NULL,
	[CAH BRx $ 01/17] [float] NULL,
	[API GRx Units 02/17] [int] NULL,
	[API GRx $ 02/17] [float] NULL,
	[API BRx Units 02/17] [int] NULL,
	[API BRx $ 02/17] [float] NULL,
	[Days Ordered API 02/17] [int] NULL,
	[CAH GRx Units 02/17] [numeric](38, 0) NULL,
	[CAH GRx $ 02/17] [float] NULL,
	[CAH BRx Units 02/17] [numeric](38, 0) NULL,
	[CAH BRx $ 02/17] [float] NULL,
	[API GRx Units 03/17] [int] NULL,
	[API GRx $ 03/17] [float] NULL,
	[API BRx Units 03/17] [int] NULL,
	[API BRx $ 03/17] [float] NULL,
	[Days Ordered API 03/17] [int] NULL,
	[CAH GRx Units 03/17] [numeric](38, 0) NULL,
	[CAH GRx $ 03/17] [float] NULL,
	[CAH BRx Units 03/17] [numeric](38, 0) NULL,
	[CAH BRx $ 03/17] [float] NULL,
	[API GRx Units 04/17] [int] NULL,
	[API GRx $ 04/17] [float] NULL,
	[API BRx Units 04/17] [int] NULL,
	[API BRx $ 04/17] [float] NULL,
	[Days Ordered API 04/17] [int] NULL,
	[CAH GRx Units 04/17] [numeric](38, 0) NULL,
	[CAH GRx $ 04/17] [float] NULL,
	[CAH BRx Units 04/17] [numeric](38, 0) NULL,
	[CAH BRx $ 04/17] [float] NULL,
	[API GRx Units 05/17] [int] NULL,
	[API GRx $ 05/17] [float] NULL,
	[API BRx Units 05/17] [int] NULL,
	[API BRx $ 05/17] [float] NULL,
	[Days Ordered API 05/17] [int] NULL,
	[CAH GRx Units 05/17] [numeric](38, 0) NULL,
	[CAH GRx $ 05/17] [float] NULL,
	[CAH BRx Units 05/17] [numeric](38, 0) NULL,
	[CAH BRx $ 05/17] [float] NULL,
	[API GRx Units 06/17] [int] NULL,
	[API GRx $ 06/17] [float] NULL,
	[API BRx Units 06/17] [int] NULL,
	[API BRx $ 06/17] [float] NULL,
	[Days Ordered API 06/17] [int] NULL,
	[CAH GRx Units 06/17] [numeric](38, 0) NULL,
	[CAH GRx $ 06/17] [float] NULL,
	[CAH BRx Units 06/17] [numeric](38, 0) NULL,
	[CAH BRx $ 06/17] [float] NULL,
	[API GRx Units 07/17] [int] NULL,
	[API GRx $ 07/17] [float] NULL,
	[API BRx Units 07/17] [int] NULL,
	[API BRx $ 07/17] [float] NULL,
	[Days Ordered API 07/17] [int] NULL,
	[CAH GRx Units 07/17] [numeric](38, 0) NULL,
	[CAH GRx $ 07/17] [float] NULL,
	[CAH BRx Units 07/17] [numeric](38, 0) NULL,
	[CAH BRx $ 07/17] [float] NULL,
	[API GRx Units 08/17] [int] NULL,
	[API GRx $ 08/17] [float] NULL,
	[API BRx Units 08/17] [int] NULL,
	[API BRx $ 08/17] [float] NULL,
	[Days Ordered API 08/17] [int] NULL,
	[CAH GRx Units 08/17] [numeric](38, 0) NULL,
	[CAH GRx $ 08/17] [float] NULL,
	[CAH BRx Units 08/17] [numeric](38, 0) NULL,
	[CAH BRx $ 08/17] [float] NULL,
	[API GRx Units 09/17] [int] NULL,
	[API GRx $ 09/17] [float] NULL,
	[API BRx Units 09/17] [int] NULL,
	[API BRx $ 09/17] [float] NULL,
	[Days Ordered API 09/17] [int] NULL,
	[CAH GRx Units 09/17] [numeric](38, 0) NULL,
	[CAH GRx $ 09/17] [float] NULL,
	[CAH BRx Units 09/17] [numeric](38, 0) NULL,
	[CAH BRx $ 09/17] [float] NULL,
	[API GRx Units 10/17] [int] NULL,
	[API GRx $ 10/17] [float] NULL,
	[API BRx Units 10/17] [int] NULL,
	[API BRx $ 10/17] [float] NULL,
	[Days Ordered API 10/17] [int] NULL,
	[CAH GRx Units 10/17] [numeric](38, 0) NULL,
	[CAH GRx $ 10/17] [float] NULL,
	[CAH BRx Units 10/17] [numeric](38, 0) NULL,
	[CAH BRx $ 10/17] [float] NULL
) ON [PRIMARY]
GO
