USE [Reports]
GO
/****** Object:  Table [dbo].[aarp_tmpmatch1]    Script Date: 12/22/2020 5:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aarp_tmpmatch1](
	[ndc] [varchar](11) NULL,
	[drug] [nvarchar](255) NULL
) ON [PRIMARY]
GO
