USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RxAlly0513_Boardmembers]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RxAlly0513_Boardmembers](
	[PMID] [float] NULL,
	[NCPDP] [float] NULL,
	[Board Member] [nvarchar](255) NULL
) ON [PRIMARY]
GO
