USE [Reports]
GO
/****** Object:  Table [dbo].[report_RCRebates_1210]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_RCRebates_1210](
	[TM] [varchar](4) NULL,
	[pmid] [int] NULL,
	[AAP#] [varchar](20) NULL,
	[Parent#] [varchar](20) NULL,
	[API#] [varchar](20) NULL,
	[AAP Eff] [varchar](8) NULL,
	[AAP Quit] [varchar](8) NULL,
	[Description] [varchar](200) NULL,
	[Affiliate] [varchar](125) NULL,
	[Account DBA Name] [varchar](65) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[St] [varchar](2) NULL,
	[Contact] [varchar](255) NULL,
	[MC Network] [int] NULL,
	[PP Rebate 2010Q1] [float] NOT NULL,
	[PP Rebate 2010Q2] [float] NOT NULL,
	[PP Rebate 2010Q3] [float] NOT NULL,
	[PP Rebate 2010Q4] [numeric](1, 1) NOT NULL,
	[Total PP Rebate 2010] [float] NOT NULL,
	[Q1 API Whse Rebate] [money] NOT NULL,
	[Q1 API Generic Rebate%] [money] NOT NULL,
	[Q2 API Whse Rebate] [money] NOT NULL,
	[Q2 API Generic Rebate%] [money] NOT NULL,
	[Q3 API Whse Rebate] [money] NOT NULL,
	[Q3 API Generic Rebate%] [money] NOT NULL,
	[Total API Whse Rebate 2010] [money] NOT NULL,
	[Leader AAP 2010Q1] [numeric](19, 4) NOT NULL,
	[Leader AAP 2010Q2] [numeric](19, 4) NOT NULL,
	[Leader AAP 2010Q3] [numeric](19, 4) NOT NULL,
	[Leader AAP 2010Q4] [numeric](19, 4) NOT NULL,
	[Total Leader AAP 2010] [numeric](38, 4) NOT NULL,
	[2/10 Source Sales] [money] NOT NULL,
	[2/10 AAP Gen Rebate] [money] NOT NULL,
	[2/10 Avg%] [float] NOT NULL,
	[2/10 HRTA%] [float] NOT NULL,
	[3/10 Source Sales] [money] NOT NULL,
	[3/10 AAP Gen Rebate] [money] NOT NULL,
	[3/10 Avg%] [float] NOT NULL,
	[3/10 HRTA%] [float] NOT NULL,
	[4/10 Source Sales] [money] NOT NULL,
	[4/10 AAP Gen Rebate] [money] NOT NULL,
	[4/10 Avg%] [float] NOT NULL,
	[4/10 HRTA%] [float] NOT NULL,
	[5/10 Source Sales] [money] NOT NULL,
	[5/10 AAP Gen Rebate] [money] NOT NULL,
	[5/10 Avg%] [float] NOT NULL,
	[5/10 HRTA%] [float] NOT NULL,
	[6/10 Source Sales] [money] NOT NULL,
	[6/10 AAP Gen Rebate] [money] NOT NULL,
	[6/10 Avg%] [float] NOT NULL,
	[6/10 HRTA%] [float] NOT NULL,
	[7/10 Source Sales] [money] NOT NULL,
	[7/10 AAP Gen Rebate] [money] NOT NULL,
	[7/10 Avg%] [float] NOT NULL,
	[7/10 HRTA%] [float] NOT NULL,
	[8/10 Source Sales] [money] NOT NULL,
	[8/10 AAP Gen Rebate] [money] NOT NULL,
	[8/10 Avg%] [float] NOT NULL,
	[8/10 HRTA%] [float] NOT NULL,
	[9/10 Source Sales] [money] NOT NULL,
	[9/10 AAP Gen Rebate] [money] NOT NULL,
	[9/10 Avg%] [float] NOT NULL,
	[9/10 HRTA%] [float] NOT NULL,
	[10/10 Source Sales] [money] NOT NULL,
	[10/10 AAP Gen Rebate] [money] NOT NULL,
	[10/10 Avg%] [float] NOT NULL,
	[10/10 HRTA%] [float] NOT NULL,
	[11/10 Source Sales] [money] NOT NULL,
	[11/10 AAP Gen Rebate] [money] NOT NULL,
	[11/10 Avg%] [float] NOT NULL,
	[11/10 HRTA%] [float] NOT NULL,
	[12/10 Source Sales] [money] NOT NULL,
	[12/10 AAP Gen Rebate] [money] NOT NULL,
	[12/10 Avg%] [float] NOT NULL,
	[12/10 HRTA%] [float] NOT NULL,
	[Total CH AAP Gen Rebate 2010] [money] NOT NULL,
	[Total YTD All Rebates] [float] NOT NULL
) ON [PRIMARY]
GO
