USE [Reports]
GO
/****** Object:  Table [dbo].[RebateReportCard_Original_QA_20190808]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RebateReportCard_Original_QA_20190808](
	[TM] [varchar](20) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](25) NULL,
	[Parent#] [varchar](25) NULL,
	[Group#] [varchar](25) NULL,
	[API#] [varchar](25) NULL,
	[AAP Eff] [varchar](25) NULL,
	[AAP Quit] [varchar](25) NULL,
	[Description] [varchar](100) NULL,
	[Affiliate] [varchar](100) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Address] [varchar](250) NULL,
	[City] [varchar](100) NULL,
	[St] [varchar](100) NULL,
	[Contact] [varchar](150) NULL,
	[Email] [varchar](150) NULL,
	[Financial Email] [varchar](150) NULL,
	[MC Network] [varchar](150) NULL,
	[Preferred Partners Volume 2019] [float] NULL,
	[Preferred Partners Rebate 2019] [float] NULL,
	[Total Preferred Partners Rebate 2019] [float] NULL,
	[API Generic Sales 0119] [float] NULL,
	[API Inv Credit 0119] [float] NULL,
	[API Net Rebate to Store 0119] [float] NULL,
	[API Avg Rebate Percentage 0119] [float] NULL,
	[API Brand Credits Disbursed 0119] [float] NULL,
	[API Accelerated Pay Discount 0119] [float] NULL,
	[API Generic Sales 0219] [float] NULL,
	[API Inv Credit 0219] [float] NULL,
	[API Net Rebate to Store 0219] [float] NULL,
	[API Avg Rebate Percentage 0219] [float] NULL,
	[API Brand Credits Disbursed 0219] [float] NULL,
	[API Accelerated Pay Discount 0219] [float] NULL,
	[API Generic Sales 0319] [float] NULL,
	[API Inv Credit 0319] [float] NULL,
	[API Net Rebate to Store 0319] [float] NULL,
	[API Avg Rebate Percentage 0319] [float] NULL,
	[API Brand Credits Disbursed 0319] [float] NULL,
	[API Accelerated Pay Discount 0319] [float] NULL,
	[API Generic Sales 0419] [float] NULL,
	[API Inv Credit 0419] [float] NULL,
	[API Net Rebate to Store 0419] [float] NULL,
	[API Avg Rebate Percentage 0419] [float] NULL,
	[API Brand Credits Disbursed 0419] [float] NULL,
	[API Accelerated Pay Discount 0419] [float] NULL,
	[API Generic Sales 0519] [float] NULL,
	[API Inv Credit 0519] [float] NULL,
	[API Net Rebate to Store 0519] [float] NULL,
	[API Avg Rebate Percentage 0519] [float] NULL,
	[API Brand Credits Disbursed 0519] [float] NULL,
	[API Accelerated Pay Discount 0519] [float] NULL,
	[API Generic Sales 0619] [float] NULL,
	[API Inv Credit 0619] [float] NULL,
	[API Net Rebate to Store 0619] [float] NULL,
	[API Avg Rebate Percentage 0619] [float] NULL,
	[API Brand Credits Disbursed 0619] [float] NULL,
	[API Accelerated Pay Discount 0619] [float] NULL,
	[API Generic Sales 0719] [float] NULL,
	[API Inv Credit 0719] [float] NULL,
	[API Net Rebate to Store 0719] [float] NULL,
	[API Avg Rebate Percentage 0719] [float] NULL,
	[API Brand Credits Disbursed 0719] [float] NULL,
	[API Accelerated Pay Discount 0719] [float] NULL,
	[API Generic Sales 0819] [float] NULL,
	[API Inv Credit 0819] [float] NULL,
	[API Net Rebate to Store 0819] [float] NULL,
	[API Avg Rebate Percentage 0819] [float] NULL,
	[API Brand Credits Disbursed 0819] [float] NULL,
	[API Accelerated Pay Discount 0819] [float] NULL,
	[API Generic Sales 0919] [float] NULL,
	[API Inv Credit 0919] [float] NULL,
	[API Net Rebate to Store 0919] [float] NULL,
	[API Avg Rebate Percentage 0919] [float] NULL,
	[API Brand Credits Disbursed 0919] [float] NULL,
	[API Accelerated Pay Discount 0919] [float] NULL,
	[API Generic Sales 1019] [float] NULL,
	[API Inv Credit 1019] [float] NULL,
	[API Net Rebate to Store 1019] [float] NULL,
	[API Avg Rebate Percentage 1019] [float] NULL,
	[API Brand Credits Disbursed 1019] [float] NULL,
	[API Accelerated Pay Discount 1019] [float] NULL,
	[API Generic Sales 1119] [float] NULL,
	[API Inv Credit 1119] [float] NULL,
	[API Net Rebate to Store 1119] [float] NULL,
	[API Avg Rebate Percentage 1119] [float] NULL,
	[API Brand Credits Disbursed 1119] [float] NULL,
	[API Accelerated Pay Discount 1119] [float] NULL,
	[API Generic Sales 1219] [float] NULL,
	[API Inv Credit 1219] [float] NULL,
	[API Net Rebate to Store 1219] [float] NULL,
	[API Avg Rebate Percentage 1219] [float] NULL,
	[API Brand Credits Disbursed 1219] [float] NULL,
	[API Accelerated Pay Discount 1219] [float] NULL,
	[Total Monthly API Generic Sales 2019] [float] NULL,
	[Total Monthly API Inv Credit 2019] [float] NULL,
	[Total Monthly API Net Rebate to Store 2019] [float] NULL,
	[Total Monthly API Brand Credits Disbursed 2019] [float] NULL,
	[Total Monthly API Accelerated Pay Discount 2019] [float] NULL,
	[Arete-API Rebate 0319] [float] NULL,
	[Arete-API Rebate 0419] [float] NULL,
	[Arete-API Rebate 0519] [float] NULL,
	[Arete-API Rebate 0619] [float] NULL,
	[Arete-API Rebate 0719] [float] NULL,
	[Arete-API Rebate 0819] [float] NULL,
	[Arete-API Rebate 0919] [float] NULL,
	[Arete-API Rebate 1019] [float] NULL,
	[Arete-API Rebate 1119] [float] NULL,
	[Arete-API Rebate 1219] [float] NULL,
	[Arete-API Rebate 0120] [float] NULL,
	[Arete-API Rebate 0220] [float] NULL,
	[Total Arete-API Rebate 2019] [float] NULL,
	[Arete-AAP Rebate 0319] [float] NULL,
	[Arete-AAP Rebate 0419] [float] NULL,
	[Arete-AAP Rebate 0519] [float] NULL,
	[Arete-AAP Rebate 0619] [float] NULL,
	[Arete-AAP Rebate 0719] [float] NULL,
	[Arete-AAP Rebate 0819] [float] NULL,
	[Arete-AAP Rebate 0919] [float] NULL,
	[Arete-AAP Rebate 1019] [float] NULL,
	[Arete-AAP Rebate 1119] [float] NULL,
	[Arete-AAP Rebate 1219] [float] NULL,
	[Arete-AAP Rebate 0120] [float] NULL,
	[Arete-AAP Rebate 0220] [float] NULL,
	[Total Arete-AAP Rebate 2019] [float] NULL,
	[HV Incentive 0119] [float] NULL,
	[HV COG Reduction 0119] [float] NULL,
	[HV Incentive 0219] [float] NULL,
	[HV COG Reduction 0219] [float] NULL,
	[HV Incentive 0319] [float] NULL,
	[HV COG Reduction 0319] [float] NULL,
	[HV Incentive 0419] [float] NULL,
	[HV COG Reduction 0419] [float] NULL,
	[HV Incentive 0519] [float] NULL,
	[HV COG Reduction 0519] [float] NULL,
	[HV Incentive 0619] [float] NULL,
	[HV COG Reduction 0619] [float] NULL,
	[HV Incentive 0719] [float] NULL,
	[HV COG Reduction 0719] [float] NULL,
	[HV Incentive 0819] [float] NULL,
	[HV COG Reduction 0819] [float] NULL,
	[HV Incentive 0919] [float] NULL,
	[HV COG Reduction 0919] [float] NULL,
	[HV Incentive 1019] [float] NULL,
	[HV COG Reduction 1019] [float] NULL,
	[HV Incentive 1119] [float] NULL,
	[HV COG Reduction 1119] [float] NULL,
	[HV Incentive 1219] [float] NULL,
	[HV COG Reduction 1219] [float] NULL,
	[Total HV Incentive 2019] [float] NULL,
	[Conf Volume 0419] [float] NULL,
	[Conf Rebate 0419] [float] NULL,
	[Conf Volume 0519] [float] NULL,
	[Conf Rebate 0519] [float] NULL,
	[Total Conf Volume 2019] [float] NULL,
	[Total Conf Rebate 2019] [float] NULL,
	[Cardinal Rebates 2019Q1] [float] NULL,
	[Cardinal Rebates 2019Q2] [float] NULL,
	[Cardinal Rebates 2019Q3] [float] NULL,
	[Cardinal Rebates 2019Q4] [float] NULL,
	[Total Cardinal Rebates 2019] [float] NULL,
	[01/19 Source Sales] [float] NULL,
	[01/19 AAP Gen Rebate] [float] NULL,
	[01/19 COG Eligible Sales] [float] NULL,
	[01/19 Price Protection Rebate] [float] NULL,
	[01/19 COG Rebate] [float] NULL,
	[01/19 Avg%] [float] NULL,
	[01/19 HRTA%] [float] NULL,
	[01/19 PaymentMethod] [varchar](50) NULL,
	[02/19 Source Sales] [float] NULL,
	[02/19 AAP Gen Rebate] [float] NULL,
	[02/19 COG Eligible Sales] [float] NULL,
	[02/19 Price Protection Rebate] [float] NULL,
	[02/19 COG Rebate] [float] NULL,
	[02/19 Avg%] [float] NULL,
	[02/19 HRTA%] [float] NULL,
	[02/19 PaymentMethod] [varchar](50) NULL,
	[03/19 Source Sales] [float] NULL,
	[03/19 AAP Gen Rebate] [float] NULL,
	[03/19 COG Eligible Sales] [float] NULL,
	[03/19 Price Protection Rebate] [float] NULL,
	[03/19 COG Rebate] [float] NULL,
	[03/19 Avg%] [float] NULL,
	[03/19 HRTA%] [float] NULL,
	[03/19 PaymentMethod] [varchar](50) NULL,
	[04/19 Source Sales] [float] NULL,
	[04/19 AAP Gen Rebate] [float] NULL,
	[04/19 COG Eligible Sales] [float] NULL,
	[04/19 Price Protection Rebate] [float] NULL,
	[04/19 COG Rebate] [float] NULL,
	[04/19 Avg%] [float] NULL,
	[04/19 HRTA%] [float] NULL,
	[04/19 PaymentMethod] [varchar](50) NULL,
	[05/19 Source Sales] [float] NULL,
	[05/19 AAP Gen Rebate] [float] NULL,
	[05/19 COG Eligible Sales] [float] NULL,
	[05/19 Price Protection Rebate] [float] NULL,
	[05/19 COG Rebate] [float] NULL,
	[05/19 Avg%] [float] NULL,
	[05/19 HRTA%] [float] NULL,
	[05/19 PaymentMethod] [varchar](50) NULL,
	[06/19 Source Sales] [float] NULL,
	[06/19 AAP Gen Rebate] [float] NULL,
	[06/19 COG Eligible Sales] [float] NULL,
	[06/19 Price Protection Rebate] [float] NULL,
	[06/19 COG Rebate] [float] NULL,
	[06/19 Avg%] [float] NULL,
	[06/19 HRTA%] [float] NULL,
	[06/19 PaymentMethod] [varchar](50) NULL,
	[07/19 Source Sales] [float] NULL,
	[07/19 AAP Gen Rebate] [float] NULL,
	[07/19 COG Eligible Sales] [float] NULL,
	[07/19 Price Protection Rebate] [float] NULL,
	[07/19 COG Rebate] [float] NULL,
	[07/19 Avg%] [float] NULL,
	[07/19 HRTA%] [float] NULL,
	[07/19 PaymentMethod] [varchar](50) NULL,
	[08/19 Source Sales] [float] NULL,
	[08/19 AAP Gen Rebate] [float] NULL,
	[08/19 COG Eligible Sales] [float] NULL,
	[08/19 Price Protection Rebate] [float] NULL,
	[08/19 COG Rebate] [float] NULL,
	[08/19 Avg%] [float] NULL,
	[08/19 HRTA%] [float] NULL,
	[08/19 PaymentMethod] [varchar](50) NULL,
	[09/19 Source Sales] [float] NULL,
	[09/19 AAP Gen Rebate] [float] NULL,
	[09/19 COG Eligible Sales] [float] NULL,
	[09/19 Price Protection Rebate] [float] NULL,
	[09/19 COG Rebate] [float] NULL,
	[09/19 Avg%] [float] NULL,
	[09/19 HRTA%] [float] NULL,
	[09/19 PaymentMethod] [varchar](50) NULL,
	[10/19 Source Sales] [float] NULL,
	[10/19 AAP Gen Rebate] [float] NULL,
	[10/19 COG Eligible Sales] [float] NULL,
	[10/19 Price Protection Rebate] [float] NULL,
	[10/19 COG Rebate] [float] NULL,
	[10/19 Avg%] [float] NULL,
	[10/19 HRTA%] [float] NULL,
	[10/19 PaymentMethod] [varchar](50) NULL,
	[11/19 Source Sales] [float] NULL,
	[11/19 AAP Gen Rebate] [float] NULL,
	[11/19 COG Eligible Sales] [float] NULL,
	[11/19 Price Protection Rebate] [float] NULL,
	[11/19 COG Rebate] [float] NULL,
	[11/19 Avg%] [float] NULL,
	[11/19 HRTA%] [float] NULL,
	[11/19 PaymentMethod] [varchar](50) NULL,
	[12/19 Source Sales] [float] NULL,
	[12/19 AAP Gen Rebate] [float] NULL,
	[12/19 COG Eligible Sales] [float] NULL,
	[12/19 Price Protection Rebate] [float] NULL,
	[12/19 COG Rebate] [float] NULL,
	[12/19 Avg%] [float] NULL,
	[12/19 HRTA%] [float] NULL,
	[12/19 PaymentMethod] [varchar](50) NULL,
	[Total CH AAP Gen Rebate 2019] [float] NULL,
	[Total Price Protection Rebate 2019] [float] NULL,
	[Total COG Rebate 2019] [float] NULL,
	[Planogram Rebate 2019] [float] NULL,
	[API Generic Incentive 2019] [float] NULL,
	[AAP Patronage Dividend 2019] [float] NULL,
	[Total YTD All Rebates 2019] [float] NULL
) ON [PRIMARY]
GO
