USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_CurrQtrResponse]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_CurrQtrResponse](
	[PlanName] [nvarchar](200) NULL,
	[Q2 2015 - AvgResponseTime] [float] NULL
) ON [PRIMARY]
GO
