USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_terr_slx_null]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_terr_slx_null](
	[AccountName] [varchar](255) NULL,
	[Addr1] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](255) NULL,
	[ZIp] [varchar](255) NULL,
	[Territory] [varchar](255) NULL,
	[Derived Column_Type] [varchar](255) NULL,
	[Wholesaler] [varchar](255) NULL
) ON [PRIMARY]
GO
