USE [Reports]
GO
/****** Object:  Table [dbo].[CardinalGenericNames]    Script Date: 12/22/2020 5:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardinalGenericNames](
	[ndc] [varchar](15) NULL,
	[Generic_Name] [varchar](127) NULL
) ON [PRIMARY]
GO
