USE [Reports]
GO
/****** Object:  Table [dbo].[report_RCRebates_0211_pivotedData]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_RCRebates_0211_pivotedData](
	[pmid] [float] NULL,
	[PP Rebate 2010Q1] [float] NULL,
	[PP Rebate 2010Q2] [float] NULL,
	[PP Rebate 2010Q3] [float] NULL,
	[PP Rebate 2010Q4] [float] NULL,
	[Total PP Rebate 2010] [float] NULL,
	[Q1 API Whse Rebate] [money] NULL,
	[Q1 API Generic Rebate%] [money] NULL,
	[Q2 API Whse Rebate] [money] NULL,
	[Q2 API Generic Rebate%] [money] NULL,
	[Q3 API Whse Rebate] [money] NULL,
	[Q3 API Generic Rebate%] [money] NULL,
	[Q4 API Whse Rebate] [money] NULL,
	[Q4 API Generic Rebate%] [money] NULL,
	[Total API Whse Rebate 2010] [money] NULL,
	[Leader AAP 2010Q1] [numeric](19, 4) NULL,
	[Leader AAP 2010Q2] [numeric](19, 4) NULL,
	[Leader AAP 2010Q3] [numeric](19, 4) NULL,
	[Leader AAP 2010Q4] [numeric](19, 4) NULL,
	[Total Leader AAP 2010] [numeric](38, 4) NULL,
	[2/10 Source Sales ] [money] NULL,
	[2/10 AAP Gen Rebate] [money] NULL,
	[2/10 Avg%] [float] NULL,
	[2/10 HRTA%] [float] NULL,
	[3/10 Source Sales ] [money] NULL,
	[3/10 AAP Gen Rebate] [money] NULL,
	[3/10 Avg%] [float] NULL,
	[3/10 HRTA%] [float] NULL,
	[4/10 Source Sales ] [money] NULL,
	[4/10 AAP Gen Rebate] [money] NULL,
	[4/10 Avg%] [float] NULL,
	[4/10 HRTA%] [float] NULL,
	[5/10 Source Sales ] [money] NULL,
	[5/10 AAP Gen Rebate] [money] NULL,
	[5/10 Avg%] [float] NULL,
	[5/10 HRTA%] [float] NULL,
	[6/10 Source Sales ] [money] NULL,
	[6/10 AAP Gen Rebate] [money] NULL,
	[6/10 Avg%] [float] NULL,
	[6/10 HRTA%] [float] NULL,
	[7/10 Source Sales ] [money] NULL,
	[7/10 AAP Gen Rebate] [money] NULL,
	[7/10 Avg%] [float] NULL,
	[7/10 HRTA%] [float] NULL,
	[8/10 Source Sales ] [money] NULL,
	[8/10 AAP Gen Rebate] [money] NULL,
	[8/10 Avg%] [float] NULL,
	[8/10 HRTA%] [float] NULL,
	[9/10 Source Sales ] [money] NULL,
	[9/10 AAP Gen Rebate] [money] NULL,
	[9/10 Avg%] [float] NULL,
	[9/10 HRTA%] [float] NULL,
	[10/10 Source Sales ] [money] NULL,
	[10/10 AAP Gen Rebate] [money] NULL,
	[10/10 Avg%] [float] NULL,
	[10/10 HRTA%] [float] NULL,
	[11/10 Source Sales ] [money] NULL,
	[11/10 AAP Gen Rebate] [money] NULL,
	[11/10 Avg%] [float] NULL,
	[11/10 HRTA%] [float] NULL,
	[12/10 Source Sales ] [money] NULL,
	[12/10 AAP Gen Rebate] [money] NULL,
	[12/10 Avg%] [float] NULL,
	[12/10 HRTA%] [float] NULL,
	[Total CH AAP Gen Rebate 2010] [money] NULL,
	[01/11 Source Sales ] [money] NULL,
	[01/11 AAP Gen Rebate] [money] NULL,
	[01/11 Avg%] [float] NULL,
	[01/11 HRTA%] [float] NULL,
	[02/11 Source Sales ] [money] NULL,
	[02/11 AAP Gen Rebate] [money] NULL,
	[02/11 Avg%] [float] NULL,
	[02/11 HRTA%] [float] NULL,
	[Total CH AAP Gen Rebate 2011] [money] NULL,
	[Total YTD All Rebates 2010] [float] NULL,
	[Total YTD All Rebates 2011] [money] NOT NULL
) ON [PRIMARY]
GO
