USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCVol_jmw_BD]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCVol_jmw_BD](
	[TM] [varchar](10) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](20) NULL,
	[Parent#] [varchar](20) NULL,
	[Group#] [varchar](25) NULL,
	[API#] [varchar](20) NULL,
	[AAP Eff] [varchar](10) NULL,
	[AAP Quit] [varchar](10) NULL,
	[Description] [varchar](200) NULL,
	[Affiliate] [varchar](200) NULL,
	[ChainCode] [varchar](20) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Software] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ST] [varchar](100) NULL,
	[Contact] [varchar](100) NULL,
	[Whse Acct Date Opened] [varchar](10) NULL,
	[Status] [varchar](100) NULL,
	[Wholesaler] [varchar](100) NULL,
	[API Nov 19 Brand] [float] NULL,
	[API Nov 19 OTC] [float] NULL,
	[API Nov 19 Tier 1] [money] NULL,
	[API Nov 19 Tier 2] [money] NULL,
	[API Nov 19 Total Whse] [float] NULL,
	[API Dec 19 Brand] [float] NULL,
	[API Dec 19 OTC] [float] NULL,
	[API Dec 19 Tier 1] [money] NULL,
	[API Dec 19 Tier 2] [money] NULL,
	[API Dec 19 Total Whse] [float] NULL,
	[API Jan 20 Brand] [float] NULL,
	[API Jan 20 OTC] [float] NULL,
	[API Jan 20 Tier 1] [money] NULL,
	[API Jan 20 Tier 2] [money] NULL,
	[API Jan 20 Total Whse] [float] NULL,
	[API Feb 20 Brand] [float] NULL,
	[API Feb 20 OTC] [float] NULL,
	[API Feb 20 Tier 1] [money] NULL,
	[API Feb 20 Tier 2] [money] NULL,
	[API Feb 20 Total Whse] [float] NULL,
	[API Mar 20 Brand] [float] NULL,
	[API Mar 20 OTC] [float] NULL,
	[API Mar 20 Tier 1] [money] NULL,
	[API Mar 20 Tier 2] [money] NULL,
	[API Mar 20 Total Whse] [float] NULL,
	[API Apr 20 Brand] [float] NULL,
	[API Apr 20 OTC] [float] NULL,
	[API Apr 20 Tier 1] [money] NULL,
	[API Apr 20 Tier 2] [money] NULL,
	[API Apr 20 Total Whse] [float] NULL,
	[API May 20 Brand] [float] NULL,
	[API May 20 OTC] [float] NULL,
	[API May 20 Tier 1] [money] NULL,
	[API May 20 Tier 2] [money] NULL,
	[API May 20 Total Whse] [float] NULL,
	[API Jun 20 Brand] [float] NULL,
	[API Jun 20 OTC] [float] NULL,
	[API Jun 20 Tier 1] [money] NULL,
	[API Jun 20 Tier 2] [money] NULL,
	[API Jun 20 Total Whse] [float] NULL,
	[API Jul 20 Brand] [float] NULL,
	[API Jul 20 OTC] [float] NULL,
	[API Jul 20 Tier 1] [money] NULL,
	[API Jul 20 Tier 2] [money] NULL,
	[API Jul 20 Total Whse] [float] NULL,
	[API Aug 20 Brand] [float] NULL,
	[API Aug 20 OTC] [float] NULL,
	[API Aug 20 Tier 1] [money] NULL,
	[API Aug 20 Tier 2] [money] NULL,
	[API Aug 20 Total Whse] [float] NULL,
	[API Sep 20 Brand] [float] NULL,
	[API Sep 20 OTC] [float] NULL,
	[API Sep 20 Tier 1] [money] NULL,
	[API Sep 20 Tier 2] [money] NULL,
	[API Sep 20 Total Whse] [float] NULL,
	[API Oct 20 Brand] [float] NULL,
	[API Oct 20 OTC] [float] NULL,
	[API Oct 20 Tier 1] [money] NULL,
	[API Oct 20 Tier 2] [money] NULL,
	[API Oct 20 Total Whse] [float] NULL,
	[API Nov 20 Brand] [float] NULL,
	[API Nov 20 OTC] [float] NULL,
	[API Nov 20 Tier 1] [money] NULL,
	[API Nov 20 Tier 2] [money] NULL,
	[API Nov 20 Total Whse] [float] NULL,
	[API Total Brand Sales] [float] NULL,
	[API Total Tier 1 Sales] [float] NULL,
	[API Total Tier 2 Sales] [float] NULL,
	[API Total OTC Sales] [float] NULL,
	[API TOTAL SALES] [float] NULL,
	[CAH Nov 19 AAP Brand] [float] NULL,
	[CAH New Nov 19 AAP Brand] [float] NULL,
	[CAH Nov 19 AAP Src Generics] [float] NULL,
	[CAH Nov 19 AAP Other Sales] [float] NULL,
	[CAH Nov 19 AAP Total RX] [money] NULL,
	[CAH Nov 19 Other RX] [float] NULL,
	[CAH Nov 19 AAP Excluded from Total RX] [money] NULL,
	[CAH Nov 19 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Nov 19 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Nov 19 AAP Total Sales] [float] NULL,
	[CAH Dec 19 AAP Brand] [float] NULL,
	[CAH New Dec 19 AAP Brand] [float] NULL,
	[CAH Dec 19 AAP Src Generics] [float] NULL,
	[CAH Dec 19 AAP Other Sales] [float] NULL,
	[CAH Dec 19 AAP Total RX] [money] NULL,
	[CAH Dec 19 Other RX] [float] NULL,
	[CAH Dec 19 AAP Excluded from Total RX] [money] NULL,
	[CAH Dec 19 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Dec 19 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Dec 19 AAP Total Sales] [float] NULL,
	[CAH Jan 20 AAP Brand] [float] NULL,
	[CAH New Jan 20 AAP Brand] [float] NULL,
	[CAH Jan 20 AAP Src Generics] [float] NULL,
	[CAH Jan 20 AAP Other Sales] [float] NULL,
	[CAH Jan 20 AAP Total RX] [money] NULL,
	[CAH Jan 20 Other RX] [float] NULL,
	[CAH Jan 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Jan 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Jan 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Jan 20 AAP Total Sales] [float] NULL,
	[CAH Feb 20 AAP Brand] [float] NULL,
	[CAH New Feb 20 AAP Brand] [float] NULL,
	[CAH Feb 20 AAP Src Generics] [float] NULL,
	[CAH Feb 20 AAP Other Sales] [float] NULL,
	[CAH Feb 20 AAP Total RX] [money] NULL,
	[CAH Feb 20 Other RX] [float] NULL,
	[CAH Feb 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Feb 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Feb 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Feb 20 AAP Total Sales] [float] NULL,
	[CAH Mar 20 AAP Brand] [float] NULL,
	[CAH New Mar 20 AAP Brand] [float] NULL,
	[CAH Mar 20 AAP Src Generics] [float] NULL,
	[CAH Mar 20 AAP Other Sales] [float] NULL,
	[CAH Mar 20 AAP Total RX] [money] NULL,
	[CAH Mar 20 Other RX] [float] NULL,
	[CAH Mar 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Mar 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Mar 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Mar 20 AAP Total Sales] [float] NULL,
	[CAH Apr 20 AAP Brand] [float] NULL,
	[CAH New Apr 20 AAP Brand] [float] NULL,
	[CAH Apr 20 AAP Src Generics] [float] NULL,
	[CAH Apr 20 AAP Other Sales] [float] NULL,
	[CAH Apr 20 AAP Total RX] [money] NULL,
	[CAH Apr 20 Other RX] [float] NULL,
	[CAH Apr 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Apr 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Apr 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Apr 20 AAP Total Sales] [float] NULL,
	[CAH May 20 AAP Brand] [float] NULL,
	[CAH New May 20 AAP Brand] [float] NULL,
	[CAH May 20 AAP Src Generics] [float] NULL,
	[CAH May 20 AAP Other Sales] [float] NULL,
	[CAH May 20 AAP Total RX] [money] NULL,
	[CAH May 20 Other RX] [float] NULL,
	[CAH May 20 AAP Excluded from Total RX] [money] NULL,
	[CAH May 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH May 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH May 20 AAP Total Sales] [float] NULL,
	[CAH Jun 20 AAP Brand] [float] NULL,
	[CAH New Jun 20 AAP Brand] [float] NULL,
	[CAH Jun 20 AAP Src Generics] [float] NULL,
	[CAH Jun 20 AAP Other Sales] [float] NULL,
	[CAH Jun 20 AAP Total RX] [money] NULL,
	[CAH Jun 20 Other RX] [float] NULL,
	[CAH Jun 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Jun 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Jun 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Jun 20 AAP Total Sales] [float] NULL,
	[CAH Jul 20 AAP Brand] [float] NULL,
	[CAH New Jul 20 AAP Brand] [float] NULL,
	[CAH Jul 20 AAP Src Generics] [float] NULL,
	[CAH Jul 20 AAP Other Sales] [float] NULL,
	[CAH Jul 20 AAP Total RX] [money] NULL,
	[CAH Jul 20 Other RX] [float] NULL,
	[CAH Jul 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Jul 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Jul 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Jul 20 AAP Total Sales] [float] NULL,
	[CAH Aug 20 AAP Brand] [float] NULL,
	[CAH New Aug 20 AAP Brand] [float] NULL,
	[CAH Aug 20 AAP Src Generics] [float] NULL,
	[CAH Aug 20 AAP Other Sales] [float] NULL,
	[CAH Aug 20 AAP Total RX] [money] NULL,
	[CAH Aug 20 Other RX] [float] NULL,
	[CAH Aug 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Aug 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Aug 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Aug 20 AAP Total Sales] [float] NULL,
	[CAH Sep 20 AAP Brand] [float] NULL,
	[CAH New Sep 20 AAP Brand] [float] NULL,
	[CAH Sep 20 AAP Src Generics] [float] NULL,
	[CAH Sep 20 AAP Other Sales] [float] NULL,
	[CAH Sep 20 AAP Total RX] [money] NULL,
	[CAH Sep 20 Other RX] [float] NULL,
	[CAH Sep 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Sep 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Sep 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Sep 20 AAP Total Sales] [float] NULL,
	[CAH Oct 20 AAP Brand] [float] NULL,
	[CAH New Oct 20 AAP Brand] [float] NULL,
	[CAH Oct 20 AAP Src Generics] [float] NULL,
	[CAH Oct 20 AAP Other Sales] [float] NULL,
	[CAH Oct 20 AAP Total RX] [money] NULL,
	[CAH Oct 20 Other RX] [float] NULL,
	[CAH Oct 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Oct 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Oct 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Oct 20 AAP Total Sales] [float] NULL,
	[CAH Nov 20 AAP Brand] [float] NULL,
	[CAH New Nov 20 AAP Brand] [float] NULL,
	[CAH Nov 20 AAP Src Generics] [float] NULL,
	[CAH Nov 20 AAP Other Sales] [float] NULL,
	[CAH Nov 20 AAP Total RX] [money] NULL,
	[CAH Nov 20 Other RX] [float] NULL,
	[CAH Nov 20 AAP Excluded from Total RX] [money] NULL,
	[CAH Nov 20 AAP NonRX - OTC&HH] [money] NULL,
	[CAH Nov 20 AAP Source Compliance] [decimal](18, 4) NULL,
	[CAH Nov 20 AAP Total Sales] [float] NULL,
	[CAH Total Brand Sales] [float] NULL,
	[CAH Total New Brand Sales] [float] NULL,
	[CAH Total Src Generic Sales] [float] NULL,
	[CAH Total Other Sales] [float] NULL,
	[CAH Total Total RX] [float] NULL,
	[CAH Total Other RX] [float] NULL,
	[CAH Total Excluded from Total RX] [float] NULL,
	[CAH Total NonRX - OTC&HH] [float] NULL,
	[CAH TOTAL SALES] [float] NULL,
	[Total Nov 19 Combined Mthly Sales] [float] NULL,
	[Total Dec 19 Combined Mthly Sales] [float] NULL,
	[Total Jan 20 Combined Mthly Sales] [float] NULL,
	[Total Feb 20 Combined Mthly Sales] [float] NULL,
	[Total Mar 20 Combined Mthly Sales] [float] NULL,
	[Total Apr 20 Combined Mthly Sales] [float] NULL,
	[Total May 20 Combined Mthly Sales] [float] NULL,
	[Total Jun 20 Combined Mthly Sales] [float] NULL,
	[Total Jul 20 Combined Mthly Sales] [float] NULL,
	[Total Aug 20 Combined Mthly Sales] [float] NULL,
	[Total Sep 20 Combined Mthly Sales] [float] NULL,
	[Total Oct 20 Combined Mthly Sales] [float] NULL,
	[Total Nov 20 Combined Mthly Sales] [float] NULL,
	[TOTAL COMBINED SALES] [float] NULL
) ON [PRIMARY]
GO
