USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCVol_jmw_pmid_TM]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCVol_jmw_pmid_TM](
	[TM] [varchar](10) NULL,
	[API Jan 18 Brand] [float] NULL,
	[API Jan 18 Generic] [float] NULL,
	[API Jan 18 OTC] [float] NULL,
	[API Jan 18 Total Whse] [float] NULL,
	[API Feb 18 Brand] [float] NULL,
	[API Feb 18 Generic] [float] NULL,
	[API Feb 18 OTC] [float] NULL,
	[API Feb 18 Total Whse] [float] NULL,
	[API Mar 18 Brand] [float] NULL,
	[API Mar 18 Generic] [float] NULL,
	[API Mar 18 OTC] [float] NULL,
	[API Mar 18 Total Whse] [float] NULL,
	[API Apr 18 Brand] [float] NULL,
	[API Apr 18 Generic] [float] NULL,
	[API Apr 18 OTC] [float] NULL,
	[API Apr 18 Total Whse] [float] NULL,
	[API May 18 Brand] [float] NULL,
	[API May 18 Generic] [float] NULL,
	[API May 18 OTC] [float] NULL,
	[API May 18 Total Whse] [float] NULL,
	[API Jun 18 Brand] [float] NULL,
	[API Jun 18 Generic] [float] NULL,
	[API Jun 18 OTC] [float] NULL,
	[API Jun 18 Total Whse] [float] NULL,
	[API Jul 18 Brand] [float] NULL,
	[API Jul 18 Generic] [float] NULL,
	[API Jul 18 OTC] [float] NULL,
	[API Jul 18 Total Whse] [float] NULL,
	[API Aug 18 Brand] [float] NULL,
	[API Aug 18 Generic] [float] NULL,
	[API Aug 18 OTC] [float] NULL,
	[API Aug 18 Total Whse] [float] NULL,
	[API Sep 18 Brand] [float] NULL,
	[API Sep 18 Generic] [float] NULL,
	[API Sep 18 OTC] [float] NULL,
	[API Sep 18 Total Whse] [float] NULL,
	[API Oct 18 Brand] [float] NULL,
	[API Oct 18 Generic] [float] NULL,
	[API Oct 18 OTC] [float] NULL,
	[API Oct 18 Total Whse] [float] NULL,
	[API Nov 18 Brand] [float] NULL,
	[API Nov 18 Generic] [float] NULL,
	[API Nov 18 OTC] [float] NULL,
	[API Nov 18 Total Whse] [float] NULL,
	[API Dec 18 Brand] [float] NULL,
	[API Dec 18 Generic] [float] NULL,
	[API Dec 18 OTC] [float] NULL,
	[API Dec 18 Total Whse] [float] NULL,
	[API Total Brand Sales] [float] NULL,
	[API Total Generic Sales] [float] NULL,
	[API Total OTC Sales] [float] NULL,
	[API TOTAL SALES] [float] NULL,
	[CAH Jan 18 AAP Brand] [float] NULL,
	[CAH Jan 18 AAP Src Generics] [float] NULL,
	[CAH Jan 18 AAP Other Sales] [float] NULL,
	[CAH Jan 18 AAP Total Sales] [float] NULL,
	[CAH Feb 18 AAP Brand] [float] NULL,
	[CAH Feb 18 AAP Src Generics] [float] NULL,
	[CAH Feb 18 AAP Other Sales] [float] NULL,
	[CAH Feb 18 AAP Total Sales] [float] NULL,
	[CAH Mar 18 AAP Brand] [float] NULL,
	[CAH Mar 18 AAP Src Generics] [float] NULL,
	[CAH Mar 18 AAP Other Sales] [float] NULL,
	[CAH Mar 18 AAP Total Sales] [float] NULL,
	[CAH Apr 18 AAP Brand] [float] NULL,
	[CAH Apr 18 AAP Src Generics] [float] NULL,
	[CAH Apr 18 AAP Other Sales] [float] NULL,
	[CAH Apr 18 AAP Total Sales] [float] NULL,
	[CAH May 18 AAP Brand] [float] NULL,
	[CAH May 18 AAP Src Generics] [float] NULL,
	[CAH May 18 AAP Other Sales] [float] NULL,
	[CAH May 18 AAP Total Sales] [float] NULL,
	[CAH Jun 18 AAP Brand] [float] NULL,
	[CAH Jun 18 AAP Src Generics] [float] NULL,
	[CAH Jun 18 AAP Other Sales] [float] NULL,
	[CAH Jun 18 AAP Total Sales] [float] NULL,
	[CAH Jul 18 AAP Brand] [float] NULL,
	[CAH Jul 18 AAP Src Generics] [float] NULL,
	[CAH Jul 18 AAP Other Sales] [float] NULL,
	[CAH Jul 18 AAP Total Sales] [float] NULL,
	[CAH Aug 18 AAP Brand] [float] NULL,
	[CAH Aug 18 AAP Src Generics] [float] NULL,
	[CAH Aug 18 AAP Other Sales] [float] NULL,
	[CAH Aug 18 AAP Total Sales] [float] NULL,
	[CAH Sep 18 AAP Brand] [float] NULL,
	[CAH Sep 18 AAP Src Generics] [float] NULL,
	[CAH Sep 18 AAP Other Sales] [float] NULL,
	[CAH Sep 18 AAP Total Sales] [float] NULL,
	[CAH Oct 18 AAP Brand] [float] NULL,
	[CAH Oct 18 AAP Src Generics] [float] NULL,
	[CAH Oct 18 AAP Other Sales] [float] NULL,
	[CAH Oct 18 AAP Total Sales] [float] NULL,
	[CAH Nov 18 AAP Brand] [float] NULL,
	[CAH Nov 18 AAP Src Generics] [float] NULL,
	[CAH Nov 18 AAP Other Sales] [float] NULL,
	[CAH Nov 18 AAP Total Sales] [float] NULL,
	[CAH Dec 18 AAP Brand] [float] NULL,
	[CAH Dec 18 AAP Src Generics] [float] NULL,
	[CAH Dec 18 AAP Other Sales] [float] NULL,
	[CAH Dec 18 AAP Total Sales] [float] NULL,
	[CAH Total Brand Sales] [float] NULL,
	[CAH Total Src Generic Sales] [float] NULL,
	[CAH Total Other Sales] [float] NULL,
	[TOTAL CAH SALES] [float] NULL,
	[ML Jan 18 Volume] [float] NULL,
	[ML Feb 18 Volume] [float] NULL,
	[ML Mar 18 Volume] [float] NULL,
	[ML Apr 18 Volume] [float] NULL,
	[ML May 18 Volume] [float] NULL,
	[ML Jun 18 Volume] [float] NULL,
	[ML Jul 18 Volume] [float] NULL,
	[ML Aug 18 Volume] [float] NULL,
	[ML Sep 18 Volume] [float] NULL,
	[ML Oct 18 Volume] [float] NULL,
	[ML Nov 18 Volume] [float] NULL,
	[ML Dec 18 Volume] [float] NULL,
	[ML Total Volume] [float] NULL,
	[Total Jan 18 Combined Mthly Sales] [float] NULL,
	[Total Feb 18 Combined Mthly Sales] [float] NULL,
	[Total Mar 18 Combined Mthly Sales] [float] NULL,
	[Total Apr 18 Combined Mthly Sales] [float] NULL,
	[Total May 18 Combined Mthly Sales] [float] NULL,
	[Total Jun 18 Combined Mthly Sales] [float] NULL,
	[Total Jul 18 Combined Mthly Sales] [float] NULL,
	[Total Aug 18 Combined Mthly Sales] [float] NULL,
	[Total Sep 18 Combined Mthly Sales] [float] NULL,
	[Total Oct 18 Combined Mthly Sales] [float] NULL,
	[Total Nov 18 Combined Mthly Sales] [float] NULL,
	[Total Dec 18 Combined Mthly Sales] [float] NULL,
	[Total Combined Sales] [float] NULL
) ON [PRIMARY]
GO
