USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_hvReb_DB]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_hvReb_DB](
	[Year] [int] NULL,
	[Month] [int] NULL,
	[High Volume Rebate] [money] NULL
) ON [PRIMARY]
GO
