USE [Reports]
GO
/****** Object:  Table [dbo].[SPX]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPX](
	[NDC] [varchar](20) NULL
) ON [PRIMARY]
GO
