USE [Reports]
GO
/****** Object:  Table [dbo].[delete_logtest]    Script Date: 12/22/2020 5:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_logtest](
	[dt] [datetime] NULL,
	[key] [nvarchar](255) NULL,
	[ip] [nvarchar](255) NULL
) ON [PRIMARY]
GO
