USE [Reports]
GO
/****** Object:  StoredProcedure [dbo].[sppm_PatDivRebate_Vendors]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sppm_PatDivRebate_Vendors]
(@in_month varchar(2),@in_year varchar(4))
AS

BEGIN
 

	DECLARE @year_PatDiv_int int;
	DECLARE @year_PatDiv  varchar(4);


	SET @year_PatDiv_int = cast(@in_year as int) -1;
	SET @year_PatDiv = cast( @year_PatDiv_int as varchar(4));

 

	 IF EXISTS(SELECT name FROM sys.tables  
		 WHERE name = 'tmp_PatDiv_Vendors') 
		 	BEGIN  
			 	DROP TABLE  tmp_PatDiv_Vendors
			END  


 
		SELECT  r.pmid  as [Vendor ID],
		p.[accountname] as [Store Name],
		case when (p.ownername is null or ltrim(p.ownername)='') then p.contactfullname else p.ownername end as Contact,
		a.address as [Store Address – Line 1],
		a.address2 as [Store Address – Line 2],
		a.city as [City], a.state as [State], a.zip as [Zip],
		case when (p.corporatename is null or ltrim(p.corporatename)='') then p.accountname else p.corporatename end as [Corporate Name],
		f.address as [Remit to Address – Line 1],
		f.address2 as [Remit to Address – Line 2],
		f.city as [Remit to City],
		f.state as [Remit to State],
		f.zip as [Remit to Zip],
		'Remit to 1' as [Payment Address Type],
		1 as [1099 Type],
		p.phone as [Telephone 1],
		p.fax as [Fax Number],
		case when pm.achemail is null then p.email else pm.achemail end as [Vendor E-mail],
		'00-2300' as GLExpenseAccount,
		p.FedID as [Tax ID Number], --need hyphens
		p.territory  as [Territory]

		into reports..tmp_PatDiv_Vendors
		from pharmacymaster..PM_AnnualRebates r 
		left join pharmacymaster..v_PM_AllWithAffiliates p on r.pmid=p.pmid
		left join pharmacymaster..v_address_mailing_financials f on r.pmid=f.pmid
		left join pharmacymaster..v_address_primary a on r.pmid=a.pmid
		left join pharmacymaster..pm_pharmacy pm on pm.pmid = r.pmid
		where r.PatronageDividend > 0 and year = @year_PatDiv
 
	 

        SELECT * from tmp_PatDiv_Vendors order by [vendor id] 
 

END
GO
