USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RPDA_jmw_2011]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RPDA_jmw_2011](
	[PMID] [int] NULL,
	[AAP#] [varchar](25) NULL,
	[Affiliate] [varchar](100) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[St] [varchar](100) NULL,
	[PP Rebate 2011Q1] [float] NULL,
	[PP Rebate 2011Q2] [float] NULL,
	[PP Rebate 2011Q3] [float] NULL,
	[PP Rebate 2011Q4] [float] NULL,
	[Total PP Rebate 2011] [float] NULL,
	[Q1 API Whse Rebate] [float] NULL,
	[Q2 API Whse Rebate] [float] NULL,
	[Q3 API Whse Rebate] [float] NULL,
	[Q4 API Whse Rebate] [float] NULL,
	[Total API Whse Rebate 2011] [float] NULL,
	[HV Incentive 0111] [float] NULL,
	[HV Incentive 0211] [float] NULL,
	[HV Incentive 0311] [float] NULL,
	[HV Incentive 0411] [float] NULL,
	[HV Incentive 0511] [float] NULL,
	[HV Incentive 0611] [float] NULL,
	[HV Incentive 0711] [float] NULL,
	[HV Incentive 0811] [float] NULL,
	[HV Incentive 0911] [float] NULL,
	[HV Incentive 1011] [float] NULL,
	[HV Incentive 1111] [float] NULL,
	[HV Incentive 1211] [float] NULL,
	[Total HV Incentive 2011] [float] NULL,
	[Leader-MSI Rebates 2011Q1] [float] NULL,
	[Leader-MSI Rebates 2011Q2] [float] NULL,
	[Leader-MSI Rebates 2011Q3] [float] NULL,
	[Leader-MSI Rebates 2011Q4] [float] NULL,
	[Total Leader-MSI Rebates 2011] [float] NULL,
	[01/11 CA Monthly Gen Rebate] [float] NULL,
	[01/11 PaymentMethod] [varchar](50) NULL,
	[02/11 CA Monthly Gen Rebate] [float] NULL,
	[02/11 PaymentMethod] [varchar](50) NULL,
	[03/11 CA Monthly Gen Rebate] [float] NULL,
	[03/11 PaymentMethod] [varchar](50) NULL,
	[04/11 CA Monthly Gen Rebate] [float] NULL,
	[04/11 PaymentMethod] [varchar](50) NULL,
	[05/11 CA Monthly Gen Rebate] [float] NULL,
	[05/11 PaymentMethod] [varchar](50) NULL,
	[06/11 CA Monthly Gen Rebate] [float] NULL,
	[06/11 PaymentMethod] [varchar](50) NULL,
	[07/11 CA Monthly Gen Rebate] [float] NULL,
	[07/11 PaymentMethod] [varchar](50) NULL,
	[08/11 CA Monthly Gen Rebate] [float] NULL,
	[08/11 PaymentMethod] [varchar](50) NULL,
	[09/11 CA Monthly Gen Rebate] [float] NULL,
	[09/11 PaymentMethod] [varchar](50) NULL,
	[10/11 CA Monthly Gen Rebate] [float] NULL,
	[10/11 PaymentMethod] [varchar](50) NULL,
	[11/11 CA Monthly Gen Rebate] [float] NULL,
	[11/11 PaymentMethod] [varchar](50) NULL,
	[12/11 CA Monthly Gen Rebate] [float] NULL,
	[12/11 PaymentMethod] [varchar](50) NULL,
	[Total CA Monthly Gen Rebate 2011] [float] NULL,
	[Planogram Rebate 2011] [float] NULL,
	[API Generic Incentive 2011] [float] NULL,
	[AAP Patronage Dividend 2011] [float] NULL,
	[Total YTD All Rebates 2011] [float] NULL
) ON [PRIMARY]
GO
