USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_PPNoNDC]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_PPNoNDC](
	[ndc] [varchar](15) NULL
) ON [PRIMARY]
GO
