USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_testNotesV]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_testNotesV](
	[AccountNoV] [nvarchar](255) NULL,
	[CountV] [int] NULL
) ON [PRIMARY]
GO
