USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MemberGroupsCurrent_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MemberGroupsCurrent_jmw](
	[Program] [varchar](50) NULL,
	[No. Enrolled] [int] NULL
) ON [PRIMARY]
GO
