USE [Reports]
GO
/****** Object:  Table [dbo].[UPCClaimTop10]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPCClaimTop10](
	[r] [bigint] NULL,
	[Q3 2015 - GPI] [varchar](14) NULL,
	[Q3 2015 - GPIDesc] [varchar](60) NULL,
	[Q3 2015 - TotalClaims] [int] NULL,
	[Q3 2015 - TotalLoss] [float] NULL,
	[Q3 2015 - AvgLossPerClaim] [float] NULL,
	[r2] [bigint] NULL,
	[Q2 2015 - GPI] [varchar](14) NULL,
	[Q2 2015 - GPIDesc] [varchar](60) NULL,
	[Q2 2015 - TotalClaims] [int] NULL,
	[Q2 2015 - TotalLoss] [float] NULL,
	[Q2 2015 - AvgLossPerClaim] [float] NULL
) ON [PRIMARY]
GO
