USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RPDA_APILeaderQtr_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RPDA_APILeaderQtr_jmw](
	[PMID] [nvarchar](255) NULL,
	[API Leader Rebates 2010Q1] [money] NULL,
	[API Leader Rebates 2010Q2] [money] NULL,
	[API Leader Rebates 2010Q3] [money] NULL,
	[API Leader Rebates 2010Q4] [money] NULL
) ON [PRIMARY]
GO
