USE [Reports]
GO
/****** Object:  Table [dbo].[UPCOutcomeAmount_bkp3]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPCOutcomeAmount_bkp3](
	[$ Volume] [varchar](255) NULL,
	[Q2 Total Claim $] [float] NULL,
	[Q2 % of Total] [float] NULL,
	[Q1 Total Claim $] [float] NULL,
	[Q1 % of Total] [float] NULL
) ON [PRIMARY]
GO
