USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MarkM]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MarkM](
	[Acct#] [varchar](255) NULL,
	[CardinalAcct#] [varchar](255) NULL,
	[Pipco] [varchar](255) NULL,
	[Location] [varchar](255) NULL,
	[CityStateZip] [varchar](255) NULL
) ON [PRIMARY]
GO
