USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_PPComare]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_PPComare](
	[Customer_No] [varchar](31) NULL,
	[Customer_Name] [varchar](63) NULL,
	[NDC] [varchar](15) NULL,
	[AAPOldPrice] [money] NULL,
	[AAPNewPrice] [money] NULL,
	[AAPUnitCost] [money] NULL,
	[AAPEffectDate] [datetime] NULL,
	[AAPPrev3MonthUsage] [float] NULL,
	[AAPAvgMonthUsage] [float] NULL,
	[AAPActualUsageToDate] [float] NULL,
	[AAPPriceProtectionDueToDate] [money] NULL,
	[IsMultiplePriceChange] [varchar](10) NULL,
	[AuditOK] [varchar](10) NULL,
	[AuditFailReason] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
