USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_WHByUnits_jmw_2010]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_WHByUnits_jmw_2010](
	[TM] [varchar](10) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](20) NULL,
	[Parent#] [varchar](20) NULL,
	[API#] [varchar](20) NULL,
	[AAP Eff] [datetime] NULL,
	[API Acct Eff] [datetime] NULL,
	[AAP Quit] [datetime] NULL,
	[API Status] [varchar](20) NULL,
	[Description] [varchar](200) NULL,
	[Affiliate] [varchar](200) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ST] [varchar](100) NULL,
	[GRx Units 01-10] [int] NULL,
	[GRx $ 01-10] [float] NULL,
	[BRx Units 01-10] [int] NULL,
	[BRx $ 01-10] [float] NULL,
	[OTC Units 01-10] [int] NULL,
	[OTC $ 01-10] [float] NULL,
	[GRx Units 02-10] [int] NULL,
	[GRx $ 02-10] [float] NULL,
	[BRx Units 02-10] [int] NULL,
	[BRx $ 02-10] [float] NULL,
	[OTC Units 02-10] [int] NULL,
	[OTC $ 02-10] [float] NULL,
	[GRx Units 03-10] [int] NULL,
	[GRx $ 03-10] [float] NULL,
	[BRx Units 03-10] [int] NULL,
	[BRx $ 03-10] [float] NULL,
	[OTC Units 03-10] [int] NULL,
	[OTC $ 03-10] [float] NULL,
	[GRx Units 04-10] [int] NULL,
	[GRx $ 04-10] [float] NULL,
	[BRx Units 04-10] [int] NULL,
	[BRx $ 04-10] [float] NULL,
	[OTC Units 04-10] [int] NULL,
	[OTC $ 04-10] [float] NULL,
	[GRx Units 05-10] [int] NULL,
	[GRx $ 05-10] [float] NULL,
	[BRx Units 05-10] [int] NULL,
	[BRx $ 05-10] [float] NULL,
	[OTC Units 05-10] [int] NULL,
	[OTC $ 05-10] [float] NULL,
	[GRx Units 06-10] [int] NULL,
	[GRx $ 06-10] [float] NULL,
	[BRx Units 06-10] [int] NULL,
	[BRx $ 06-10] [float] NULL,
	[OTC Units 06-10] [int] NULL,
	[OTC $ 06-10] [float] NULL,
	[GRx Units 07-10] [int] NULL,
	[GRx $ 07-10] [float] NULL,
	[BRx Units 07-10] [int] NULL,
	[BRx $ 07-10] [float] NULL,
	[OTC Units 07-10] [int] NULL,
	[OTC $ 07-10] [float] NULL,
	[GRx Units 08-10] [int] NULL,
	[GRx $ 08-10] [float] NULL,
	[BRx Units 08-10] [int] NULL,
	[BRx $ 08-10] [float] NULL,
	[OTC Units 08-10] [int] NULL,
	[OTC $ 08-10] [float] NULL,
	[GRx Units 09-10] [int] NULL,
	[GRx $ 09-10] [float] NULL,
	[BRx Units 09-10] [int] NULL,
	[BRx $ 09-10] [float] NULL,
	[OTC Units 09-10] [int] NULL,
	[OTC $ 09-10] [float] NULL,
	[GRx Units 10-10] [int] NULL,
	[GRx $ 10-10] [float] NULL,
	[BRx Units 10-10] [int] NULL,
	[BRx $ 10-10] [float] NULL,
	[OTC Units 10-10] [int] NULL,
	[OTC $ 10-10] [float] NULL,
	[GRx Units 11-10] [int] NULL,
	[GRx $ 11-10] [float] NULL,
	[BRx Units 11-10] [int] NULL,
	[BRx $ 11-10] [float] NULL,
	[OTC Units 11-10] [int] NULL,
	[OTC $ 11-10] [float] NULL,
	[GRx Units 12-10] [int] NULL,
	[GRx $ 12-10] [float] NULL,
	[BRx Units 12-10] [int] NULL,
	[BRx $ 12-10] [float] NULL,
	[OTC Units 12-10] [int] NULL,
	[OTC $ 12-10] [float] NULL
) ON [PRIMARY]
GO
