USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCRebate_Leader_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCRebate_Leader_jmw](
	[PMID] [numeric](18, 0) NULL,
	[Cardinal Rebates 2020Q1] [money] NULL,
	[Cardinal Rebates 2020Q2] [money] NULL,
	[Cardinal Rebates 2020Q3] [money] NULL,
	[Cardinal Rebates 2020Q4] [money] NULL
) ON [PRIMARY]
GO
