USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_PrevYTDResponse]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_PrevYTDResponse](
	[PlanName] [nvarchar](200) NULL,
	[YTD Q2 2014 - AvgResponseTime] [float] NULL
) ON [PRIMARY]
GO
