USE [Reports]
GO
/****** Object:  Table [dbo].[APIVolAdminADJ2010]    Script Date: 12/22/2020 5:00:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIVolAdminADJ2010](
	[PMID] [numeric](18, 0) NULL,
	[APIVolAdminFee] [float] NULL
) ON [PRIMARY]
GO
