USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCRebate_Arete_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCRebate_Arete_jmw](
	[PMID] [numeric](18, 0) NULL,
	[Arete-AAP Rebate 0320] [money] NULL,
	[Arete-AAP Rebate 0420] [money] NULL,
	[Arete-AAP Rebate 0520] [money] NULL,
	[Arete-AAP Rebate 0620] [money] NULL,
	[Arete-AAP Rebate 0720] [money] NULL,
	[Arete-AAP Rebate 0820] [money] NULL,
	[Arete-AAP Rebate 0920] [money] NULL,
	[Arete-AAP Rebate 1020] [money] NULL,
	[Arete-AAP Rebate 1120] [money] NULL,
	[Arete-AAP Rebate 1220] [money] NULL,
	[Arete-AAP Rebate 0121] [money] NULL,
	[Arete-AAP Rebate 0221] [money] NULL
) ON [PRIMARY]
GO
