USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCVol_6mo_CP]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCVol_6mo_CP](
	[PMID] [int] NULL,
	[CP Jan 16 $ Paid] [float] NULL,
	[CP Feb 16 $ Paid] [float] NULL,
	[CP Mar 16 $ Paid] [float] NULL,
	[CP Apr 16 $ Paid] [float] NULL,
	[CP May 16 $ Paid] [float] NULL,
	[CP Jun 16 $ Paid] [float] NULL
) ON [PRIMARY]
GO
