USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_WHUnits_TM]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_WHUnits_TM](
	[TM] [varchar](10) NULL,
	[GRx Units 01-19] [int] NULL,
	[GRx Units 02-19] [int] NULL,
	[GRx Units 03-19] [int] NULL,
	[GRx Units 04-19] [int] NULL,
	[GRx Units 05-19] [int] NULL,
	[GRx Units 06-19] [int] NULL,
	[GRx Units 07-19] [int] NULL,
	[GRx Units 08-19] [int] NULL,
	[GRx Units 09-19] [int] NULL,
	[GRx Units 10-19] [int] NULL,
	[GRx Units 11-19] [int] NULL,
	[GRx Units 12-19] [int] NULL,
	[GRx Units 01-20] [int] NULL,
	[GRx Units 02-20] [int] NULL,
	[GRx Units 03-20] [int] NULL,
	[GRx Units 04-20] [int] NULL,
	[GRx Units 05-20] [int] NULL,
	[GRx Units 06-20] [int] NULL,
	[GRx Units 07-20] [int] NULL,
	[GRx Units 08-20] [int] NULL,
	[GRx Units 09-20] [int] NULL,
	[GRx Units 10-20] [int] NULL,
	[GRx Units 11-20] [int] NULL,
	[Difference  January] [int] NULL,
	[Difference  February] [int] NULL,
	[Difference  March] [int] NULL,
	[Difference  April] [int] NULL,
	[Difference  May] [int] NULL,
	[Difference  June] [int] NULL,
	[Difference  July] [int] NULL,
	[Difference  August] [int] NULL,
	[Difference  September] [int] NULL,
	[Difference  October] [int] NULL,
	[Difference  November] [int] NULL
) ON [PRIMARY]
GO
