USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MemberGroupsMay]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MemberGroupsMay](
	[Program] [varchar](100) NULL,
	[CountMay2010] [int] NULL,
	[StartJun2010] [int] NULL,
	[EndJun2010] [int] NULL,
	[StartJul2010] [int] NULL,
	[EndJul2010] [int] NULL,
	[StartAug2010] [int] NULL,
	[EndAug2010] [int] NULL,
	[StartSep2010] [int] NULL,
	[EndSep2010] [int] NULL,
	[StartOct2010] [int] NULL,
	[EndOct2010] [int] NULL,
	[StartNov2010] [int] NULL,
	[EndNov2010] [int] NULL,
	[StartDec2010] [int] NULL,
	[EndDec2010] [int] NULL,
	[StartJan2011] [int] NULL,
	[EndJan2011] [int] NULL,
	[StartFeb2011] [int] NULL,
	[EndFeb2011] [int] NULL,
	[StartMar2011] [int] NULL,
	[EndMar2011] [int] NULL,
	[StartApr2011] [int] NULL,
	[EndApr2011] [int] NULL,
	[StartMay2011] [int] NULL,
	[EndMay2011] [int] NULL,
	[StartJun2011] [int] NULL,
	[EndJun2011] [int] NULL,
	[StartJul2011] [int] NULL,
	[EndJul2011] [int] NULL,
	[StartAug2011] [int] NULL,
	[EndAug2011] [int] NULL,
	[StartSep2011] [int] NULL,
	[EndSep2011] [int] NULL
) ON [PRIMARY]
GO
