USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_import_Hometown033111]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_import_Hometown033111](
	[Rx Ct] [float] NULL,
	[Drug] [nvarchar](255) NULL,
	[GCN] [float] NULL,
	[Schedule] [float] NULL,
	[Mfr] [nvarchar](255) NULL,
	[Rank] [float] NULL,
	[No col heading] [float] NULL
) ON [PRIMARY]
GO
