USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_SLX_FreightOpt]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_SLX_FreightOpt](
	[APIAccountNo] [varchar](255) NULL,
	[AccountName] [varchar](255) NULL,
	[Method] [varchar](255) NULL,
	[TM] [varchar](255) NULL
) ON [PRIMARY]
GO
