USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RozReports2014]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RozReports2014](
	[TM] [nvarchar](255) NULL,
	[PMID] [float] NULL,
	[AAP#] [nvarchar](255) NULL,
	[Parent#] [nvarchar](255) NULL,
	[Group#] [nvarchar](255) NULL,
	[API#] [nvarchar](255) NULL,
	[AAP Eff] [nvarchar](255) NULL,
	[AAP Quit] [nvarchar](255) NULL,
	[AAP Elite] [nvarchar](255) NULL,
	[AAP Elite Termed] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Affiliate] [nvarchar](255) NULL,
	[ChainCode] [nvarchar](255) NULL,
	[Account DBA Name] [nvarchar](255) NULL,
	[Account Corporate Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[ST] [nvarchar](255) NULL,
	[Contact] [nvarchar](255) NULL,
	[Whse Acct Date Opened] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Wholesaler] [nvarchar](255) NULL,
	[API Dec 13 Brand] [money] NULL,
	[API Dec 13 Generic] [money] NULL,
	[API Dec 13 OTC] [money] NULL,
	[API Dec 13 Total Whse] [money] NULL,
	[API Jan 14 Brand] [money] NULL,
	[API Jan 14 Generic] [money] NULL,
	[API Jan 14 OTC] [money] NULL,
	[API Jan 14 Total Whse] [money] NULL,
	[API Feb 14 Brand] [money] NULL,
	[API Feb 14 Generic] [money] NULL,
	[API Feb 14 OTC] [money] NULL,
	[API Feb 14 Total Whse] [money] NULL,
	[API Mar 14 Brand] [money] NULL,
	[API Mar 14 Generic] [money] NULL,
	[API Mar 14 OTC] [money] NULL,
	[API Mar 14 Total Whse] [money] NULL,
	[API Apr 14 Brand] [money] NULL,
	[API Apr 14 Generic] [money] NULL,
	[API Apr 14 OTC] [money] NULL,
	[API Apr 14 Total Whse] [money] NULL,
	[API May 14 Brand] [money] NULL,
	[API May 14 Generic] [money] NULL,
	[API May 14 OTC] [money] NULL,
	[API May 14 Total Whse] [money] NULL,
	[API Jun 14 Brand] [money] NULL,
	[API Jun 14 Generic] [money] NULL,
	[API Jun 14 OTC] [money] NULL,
	[API Jun 14 Total Whse] [money] NULL,
	[API Jul 14 Brand] [money] NULL,
	[API Jul 14 Generic] [money] NULL,
	[API Jul 14 OTC] [money] NULL,
	[API Jul 14 Total Whse] [money] NULL,
	[API Aug 14 Brand] [money] NULL,
	[API Aug 14 Generic] [money] NULL,
	[API Aug 14 OTC] [money] NULL,
	[API Aug 14 Total Whse] [money] NULL,
	[API Sep 14 Brand] [money] NULL,
	[API Sep 14 Generic] [money] NULL,
	[API Sep 14 OTC] [money] NULL,
	[API Sep 14 Total Whse] [money] NULL,
	[API Oct 14 Brand] [money] NULL,
	[API Oct 14 Generic] [money] NULL,
	[API Oct 14 OTC] [money] NULL,
	[API Oct 14 Total Whse] [money] NULL,
	[API Nov 14 Brand] [money] NULL,
	[API Nov 14 Generic] [money] NULL,
	[API Nov 14 OTC] [money] NULL,
	[API Nov 14 Total Whse] [money] NULL,
	[API Dec 14 Brand] [money] NULL,
	[API Dec 14 Generic] [money] NULL,
	[API Dec 14 OTC] [money] NULL,
	[API Dec 14 Total Whse] [money] NULL,
	[API Total Brand Sales] [money] NULL,
	[API Total Generic Sales] [money] NULL,
	[API Total OTC Sales] [money] NULL,
	[API TOTAL SALES] [money] NULL,
	[CAH Dec 13 AAP Brand] [money] NULL,
	[CAH Dec 13 AAP Src Generics] [money] NULL,
	[CAH Dec 13 AAP Other Sales] [money] NULL,
	[CAH Dec 13 AAP Total Sales] [money] NULL,
	[CAH Jan 14 AAP Brand] [money] NULL,
	[CAH Jan 14 AAP Src Generics] [money] NULL,
	[CAH Jan 14 AAP Other Sales] [money] NULL,
	[CAH Jan 14 AAP Total Sales] [money] NULL,
	[CAH Feb 14 AAP Brand] [money] NULL,
	[CAH Feb 14 AAP Src Generics] [money] NULL,
	[CAH Feb 14 AAP Other Sales] [money] NULL,
	[CAH Feb 14 AAP Total Sales] [money] NULL,
	[CAH Mar 14 AAP Brand] [money] NULL,
	[CAH Mar 14 AAP Src Generics] [money] NULL,
	[CAH Mar 14 AAP Other Sales] [money] NULL,
	[CAH Mar 14 AAP Total Sales] [money] NULL,
	[CAH Apr 14 AAP Brand] [money] NULL,
	[CAH Apr 14 AAP Src Generics] [money] NULL,
	[CAH Apr 14 AAP Other Sales] [money] NULL,
	[CAH Apr 14 AAP Total Sales] [money] NULL,
	[CAH May 14 AAP Brand] [money] NULL,
	[CAH May 14 AAP Src Generics] [money] NULL,
	[CAH May 14 AAP Other Sales] [money] NULL,
	[CAH May 14 AAP Total Sales] [money] NULL,
	[CAH Jun 14 AAP Brand] [money] NULL,
	[CAH Jun 14 AAP Src Generics] [money] NULL,
	[CAH Jun 14 AAP Other Sales] [money] NULL,
	[CAH Jun 14 AAP Total Sales] [money] NULL,
	[CAH Jul 14 AAP Brand] [money] NULL,
	[CAH Jul 14 AAP Src Generics] [money] NULL,
	[CAH Jul 14 AAP Other Sales] [money] NULL,
	[CAH Jul 14 AAP Total Sales] [money] NULL,
	[CAH Aug 14 AAP Brand] [money] NULL,
	[CAH Aug 14 AAP Src Generics] [money] NULL,
	[CAH Aug 14 AAP Other Sales] [money] NULL,
	[CAH Aug 14 AAP Total Sales] [money] NULL,
	[CAH Sep 14 AAP Brand] [money] NULL,
	[CAH Sep 14 AAP Src Generics] [money] NULL,
	[CAH Sep 14 AAP Other Sales] [money] NULL,
	[CAH Sep 14 AAP Total Sales] [money] NULL,
	[CAH Oct 14 AAP Brand] [money] NULL,
	[CAH Oct 14 AAP Src Generics] [money] NULL,
	[CAH Oct 14 AAP Other Sales] [money] NULL,
	[CAH Oct 14 AAP Total Sales] [money] NULL,
	[CAH Nov 14 AAP Brand] [money] NULL,
	[CAH Nov 14 AAP Src Generics] [money] NULL,
	[CAH Nov 14 AAP Other Sales] [money] NULL,
	[CAH Nov 14 AAP Total Sales] [money] NULL,
	[CAH Dec 14 AAP Brand] [money] NULL,
	[CAH Dec 14 AAP Src Generics] [money] NULL,
	[CAH Dec 14 AAP Other Sales] [money] NULL,
	[CAH Dec 14 AAP Total Sales] [money] NULL,
	[CAH Total Brand Sales] [money] NULL,
	[CAH Total Src Generic Sales] [money] NULL,
	[CAH Total Other Sales] [money] NULL,
	[CAH TOTAL SALES] [money] NULL,
	[ML Dec 13 Volume] [money] NULL,
	[ML Jan 14 Volume] [money] NULL,
	[ML Feb 14 Volume] [money] NULL,
	[ML Mar 14 Volume] [money] NULL,
	[ML Apr 14 Volume] [money] NULL,
	[ML May 14 Volume] [money] NULL,
	[ML Jun 14 Volume] [money] NULL,
	[ML Jul 14 Volume] [money] NULL,
	[ML Aug 14 Volume] [money] NULL,
	[ML Sep 14 Volume] [money] NULL,
	[ML Oct 14 Volume] [money] NULL,
	[ML Nov 14 Volume] [money] NULL,
	[ML Dec 14 Volume] [money] NULL,
	[ML TOTAL SALES] [money] NULL,
	[Total Dec 13 Combined Mthly Sales] [money] NULL,
	[Total Jan 14 Combined Mthly Sales] [money] NULL,
	[Total Feb 14 Combined Mthly Sales] [money] NULL,
	[Total Mar 14 Combined Mthly Sales] [money] NULL,
	[Total Apr 14 Combined Mthly Sales] [money] NULL,
	[Total May 14 Combined Mthly Sales] [money] NULL,
	[Total Jun 14 Combined Mthly Sales] [money] NULL,
	[Total Jul 14 Combined Mthly Sales] [money] NULL,
	[Total Aug 14 Combined Mthly Sales] [money] NULL,
	[Total Sep 14 Combined Mthly Sales] [money] NULL,
	[Total Oct 14 Combined Mthly Sales] [money] NULL,
	[Total Nov 14 Combined Mthly Sales] [money] NULL,
	[Total Dec 14 Combined Mthly Sales] [money] NULL,
	[TOTAL COMBINED SALES] [money] NULL
) ON [PRIMARY]
GO
