USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_VolD_Prev_jmw]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_VolD_Prev_jmw](
	[Date] [int] NULL,
	[API Jan Brand] [float] NULL,
	[API Jan Generic] [float] NULL,
	[API Jan OTC] [float] NULL,
	[API Jan Total Whse] [float] NULL,
	[API Feb Brand] [float] NULL,
	[API Feb Generic] [float] NULL,
	[API Feb OTC] [float] NULL,
	[API Feb Total Whse] [float] NULL,
	[API Mar Brand] [float] NULL,
	[API Mar Generic] [float] NULL,
	[API Mar OTC] [float] NULL,
	[API Mar Total Whse] [float] NULL,
	[API Apr Brand] [float] NULL,
	[API Apr Generic] [float] NULL,
	[API Apr OTC] [float] NULL,
	[API Apr Total Whse] [float] NULL,
	[API May Brand] [float] NULL,
	[API May Generic] [float] NULL,
	[API May OTC] [float] NULL,
	[API May Total Whse] [float] NULL,
	[API Jun Brand] [float] NULL,
	[API Jun Generic] [float] NULL,
	[API Jun OTC] [float] NULL,
	[API Jun Total Whse] [float] NULL,
	[API Jul Brand] [float] NULL,
	[API Jul Generic] [float] NULL,
	[API Jul OTC] [float] NULL,
	[API Jul Total Whse] [float] NULL,
	[API Aug Brand] [float] NULL,
	[API Aug Generic] [float] NULL,
	[API Aug OTC] [float] NULL,
	[API Aug Total Whse] [float] NULL,
	[API Sep Brand] [float] NULL,
	[API Sep Generic] [float] NULL,
	[API Sep OTC] [float] NULL,
	[API Sep Total Whse] [float] NULL,
	[API Oct Brand] [float] NULL,
	[API Oct Generic] [float] NULL,
	[API Oct OTC] [float] NULL,
	[API Oct Total Whse] [float] NULL,
	[API Nov Brand] [float] NULL,
	[API Nov Generic] [float] NULL,
	[API Nov OTC] [float] NULL,
	[API Nov Total Whse] [float] NULL,
	[API Dec Brand] [float] NULL,
	[API Dec Generic] [float] NULL,
	[API Dec OTC] [float] NULL,
	[API Dec Total Whse] [float] NULL
) ON [PRIMARY]
GO
