USE [Reports]
GO
/****** Object:  Table [dbo].[import_PP2011Q1qadelete]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_PP2011Q1qadelete](
	[LEVEL1] [nvarchar](255) NULL,
	[S] [nvarchar](255) NULL,
	[F3] [datetime] NULL,
	[1Q PP Rebate] [nvarchar](255) NULL,
	[F5] [float] NULL
) ON [PRIMARY]
GO
