USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MemberGroupsNetCountMay]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MemberGroupsNetCountMay](
	[Program] [varchar](50) NULL,
	[Net Change Jun 2010] [int] NULL,
	[Net Change Jul 2010] [int] NULL,
	[Net Change Aug 2010] [int] NULL,
	[Net Change Sep 2010] [int] NULL,
	[Net Change Oct 2010] [int] NULL,
	[Net Change Nov 2010] [int] NULL,
	[Net Change Dec 2010] [int] NULL,
	[Net Change Jan 2011] [int] NULL,
	[Net Change Feb 2011] [int] NULL,
	[Net Change Mar 2011] [int] NULL,
	[Net Change Apr 2011] [int] NULL,
	[Net Change May 2011] [int] NULL,
	[Net Change Jun 2011] [int] NULL,
	[Net Change Jul 2011] [int] NULL,
	[Net Change Aug 2011] [int] NULL,
	[Net Change Sep 2011] [int] NULL
) ON [PRIMARY]
GO
