USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_VolD_Prev_Card_jmw]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_VolD_Prev_Card_jmw](
	[Date] [int] NULL,
	[CA Jan Brand] [float] NULL,
	[CA Jan Generic] [float] NULL,
	[CA Jan OTC] [float] NULL,
	[CA Jan Total] [float] NULL,
	[CA Feb Brand] [float] NULL,
	[CA Feb Generic] [float] NULL,
	[CA Feb OTC] [float] NULL,
	[CA Feb Total] [float] NULL,
	[CA Mar Brand] [float] NULL,
	[CA Mar Generic] [float] NULL,
	[CA Mar OTC] [float] NULL,
	[CA Mar Total] [float] NULL,
	[CA Apr Brand] [float] NULL,
	[CA Apr Generic] [float] NULL,
	[CA Apr OTC] [float] NULL,
	[CA Apr Total] [float] NULL,
	[CA May Brand] [float] NULL,
	[CA May Generic] [float] NULL,
	[CA May OTC] [float] NULL,
	[CA May Total] [float] NULL,
	[CA Jun Brand] [float] NULL,
	[CA Jun Generic] [float] NULL,
	[CA Jun OTC] [float] NULL,
	[CA Jun Total] [float] NULL,
	[CA Jul Brand] [float] NULL,
	[CA Jul Generic] [float] NULL,
	[CA Jul OTC] [float] NULL,
	[CA Jul Total] [float] NULL,
	[CA Aug Brand] [float] NULL,
	[CA Aug Generic] [float] NULL,
	[CA Aug OTC] [float] NULL,
	[CA Aug Total] [float] NULL,
	[CA Sep Brand] [float] NULL,
	[CA Sep Generic] [float] NULL,
	[CA Sep OTC] [float] NULL,
	[CA Sep Total] [float] NULL,
	[CA Oct Brand] [float] NULL,
	[CA Oct Generic] [float] NULL,
	[CA Oct OTC] [float] NULL,
	[CA Oct Total] [float] NULL,
	[CA Nov Brand] [float] NULL,
	[CA Nov Generic] [float] NULL,
	[CA Nov OTC] [float] NULL,
	[CA Nov Total] [float] NULL,
	[CA Dec Brand] [float] NULL,
	[CA Dec Generic] [float] NULL,
	[CA Dec OTC] [float] NULL,
	[CA Dec Total] [float] NULL
) ON [PRIMARY]
GO
