USE [Reports]
GO
/****** Object:  Table [dbo].[KPIDash_Goal3_testingtable]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPIDash_Goal3_testingtable](
	[RebateType] [varchar](150) NULL,
	[LastAuditedDate] [datetime] NULL
) ON [PRIMARY]
GO
