USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MemberGroups]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MemberGroups](
	[Program] [varchar](100) NULL,
	[CountOct2017] [int] NULL,
	[StartNov2017] [int] NULL,
	[EndNov2017] [int] NULL,
	[StartDec2017] [int] NULL,
	[EndDec2017] [int] NULL,
	[StartJan2018] [int] NULL,
	[EndJan2018] [int] NULL,
	[StartFeb2018] [int] NULL,
	[EndFeb2018] [int] NULL,
	[StartMar2018] [int] NULL,
	[EndMar2018] [int] NULL,
	[StartApr2018] [int] NULL,
	[EndApr2018] [int] NULL,
	[StartMay2018] [int] NULL,
	[EndMay2018] [int] NULL,
	[StartJun2018] [int] NULL,
	[EndJun2018] [int] NULL,
	[StartJul2018] [int] NULL,
	[EndJul2018] [int] NULL,
	[StartAug2018] [int] NULL,
	[EndAug2018] [int] NULL,
	[StartSep2018] [int] NULL,
	[EndSep2018] [int] NULL,
	[StartOct2018] [int] NULL,
	[EndOct2018] [int] NULL,
	[StartNov2018] [int] NULL,
	[EndNov2018] [int] NULL,
	[StartDec2018] [int] NULL,
	[EndDec2018] [int] NULL,
	[StartJan2019] [int] NULL,
	[EndJan2019] [int] NULL,
	[StartFeb2019] [int] NULL,
	[EndFeb2019] [int] NULL,
	[StartMar2019] [int] NULL,
	[EndMar2019] [int] NULL,
	[StartApr2019] [int] NULL,
	[EndApr2019] [int] NULL,
	[StartMay2019] [int] NULL,
	[EndMay2019] [int] NULL,
	[StartJun2019] [int] NULL,
	[EndJun2019] [int] NULL,
	[StartJul2019] [int] NULL,
	[EndJul2019] [int] NULL,
	[StartAug2019] [int] NULL,
	[EndAug2019] [int] NULL,
	[StartSep2019] [int] NULL,
	[EndSep2019] [int] NULL,
	[StartOct2019] [int] NULL,
	[EndOct2019] [int] NULL
) ON [PRIMARY]
GO
