USE [Reports]
GO
/****** Object:  Table [dbo].[testgpi]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testgpi](
	[gpi] [varchar](14) NULL
) ON [PRIMARY]
GO
