USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCRebate_AAP_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCRebate_AAP_jmw](
	[PMID] [numeric](18, 0) NULL,
	[01/20 Source Sales] [money] NULL,
	[01/20 AAP Gen Rebate] [money] NULL,
	[01/20 COG Eligible Sales] [money] NULL,
	[01/20 Price Protection Rebate] [money] NULL,
	[01/20 COG Rebate] [money] NULL,
	[01/20 Source Generics Rebate] [money] NULL,
	[01/20 Avg%] [money] NULL,
	[02/20 Source Sales] [money] NULL,
	[02/20 AAP Gen Rebate] [money] NULL,
	[02/20 COG Eligible Sales] [money] NULL,
	[02/20 Price Protection Rebate] [money] NULL,
	[02/20 COG Rebate] [money] NULL,
	[02/20 Source Generics Rebate] [money] NULL,
	[02/20 Avg%] [money] NULL,
	[03/20 Source Sales] [money] NULL,
	[03/20 AAP Gen Rebate] [money] NULL,
	[03/20 COG Eligible Sales] [money] NULL,
	[03/20 Price Protection Rebate] [money] NULL,
	[03/20 COG Rebate] [money] NULL,
	[03/20 Source Generics Rebate] [money] NULL,
	[03/20 Avg%] [money] NULL,
	[04/20 Source Sales] [money] NULL,
	[04/20 AAP Gen Rebate] [money] NULL,
	[04/20 COG Eligible Sales] [money] NULL,
	[04/20 Price Protection Rebate] [money] NULL,
	[04/20 COG Rebate] [money] NULL,
	[04/20 Source Generics Rebate] [money] NULL,
	[04/20 Avg%] [money] NULL,
	[05/20 Source Sales] [money] NULL,
	[05/20 AAP Gen Rebate] [money] NULL,
	[05/20 COG Eligible Sales] [money] NULL,
	[05/20 Price Protection Rebate] [money] NULL,
	[05/20 COG Rebate] [money] NULL,
	[05/20 Source Generics Rebate] [money] NULL,
	[05/20 Avg%] [money] NULL,
	[06/20 Source Sales] [money] NULL,
	[06/20 AAP Gen Rebate] [money] NULL,
	[06/20 COG Eligible Sales] [money] NULL,
	[06/20 Price Protection Rebate] [money] NULL,
	[06/20 COG Rebate] [money] NULL,
	[06/20 Source Generics Rebate] [money] NULL,
	[06/20 Avg%] [money] NULL,
	[07/20 Source Sales] [money] NULL,
	[07/20 AAP Gen Rebate] [money] NULL,
	[07/20 COG Eligible Sales] [money] NULL,
	[07/20 Price Protection Rebate] [money] NULL,
	[07/20 COG Rebate] [money] NULL,
	[07/20 Source Generics Rebate] [money] NULL,
	[07/20 Avg%] [money] NULL,
	[08/20 Source Sales] [money] NULL,
	[08/20 AAP Gen Rebate] [money] NULL,
	[08/20 COG Eligible Sales] [money] NULL,
	[08/20 Price Protection Rebate] [money] NULL,
	[08/20 COG Rebate] [money] NULL,
	[08/20 Source Generics Rebate] [money] NULL,
	[08/20 Avg%] [money] NULL,
	[09/20 Source Sales] [money] NULL,
	[09/20 AAP Gen Rebate] [money] NULL,
	[09/20 COG Eligible Sales] [money] NULL,
	[09/20 Price Protection Rebate] [money] NULL,
	[09/20 COG Rebate] [money] NULL,
	[09/20 Source Generics Rebate] [money] NULL,
	[09/20 Avg%] [money] NULL,
	[10/20 Source Sales] [money] NULL,
	[10/20 AAP Gen Rebate] [money] NULL,
	[10/20 COG Eligible Sales] [money] NULL,
	[10/20 Price Protection Rebate] [money] NULL,
	[10/20 COG Rebate] [money] NULL,
	[10/20 Source Generics Rebate] [money] NULL,
	[10/20 Avg%] [money] NULL,
	[11/20 Source Sales] [money] NULL,
	[11/20 AAP Gen Rebate] [money] NULL,
	[11/20 COG Eligible Sales] [money] NULL,
	[11/20 Price Protection Rebate] [money] NULL,
	[11/20 COG Rebate] [money] NULL,
	[11/20 Source Generics Rebate] [money] NULL,
	[11/20 Avg%] [money] NULL,
	[12/20 Source Sales] [money] NULL,
	[12/20 AAP Gen Rebate] [money] NULL,
	[12/20 COG Eligible Sales] [money] NULL,
	[12/20 Price Protection Rebate] [money] NULL,
	[12/20 COG Rebate] [money] NULL,
	[12/20 Source Generics Rebate] [money] NULL,
	[12/20 Avg%] [money] NULL
) ON [PRIMARY]
GO
