USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_AndreEmail]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_AndreEmail](
	[Territory Manager] [varchar](250) NULL,
	[Site Name] [varchar](250) NULL,
	[Internal Location ID] [varchar](250) NULL,
	[Partner Contact Full Name] [varchar](250) NULL,
	[Partner Contact Email] [varchar](250) NULL,
	[Phone] [varchar](250) NULL
) ON [PRIMARY]
GO
