USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_API_PVAcalcfee]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_API_PVAcalcfee](
	[pmid] [int] NOT NULL,
	[m1AdminFee] [float] NULL,
	[m1GenAdminFee] [float] NULL,
	[m2AdminFee] [float] NULL,
	[m2GenAdminFee] [float] NULL,
	[m3AdminFee] [float] NULL,
	[m3GenAdminFee] [float] NULL,
	[m4AdminFee] [float] NULL,
	[m4GenAdminFee] [float] NULL,
	[m5AdminFee] [float] NULL,
	[m5GenAdminFee] [float] NULL,
	[m6AdminFee] [float] NULL,
	[m6GenAdminFee] [float] NULL,
	[m7AdminFee] [float] NULL,
	[m7GenAdminFee] [float] NULL,
	[m8AdminFee] [float] NULL,
	[m8GenAdminFee] [float] NULL,
	[m9AdminFee] [float] NULL,
	[m9GenAdminFee] [float] NULL,
	[m10AdminFee] [float] NULL,
	[m10GenAdminFee] [float] NULL,
	[m11AdminFee] [float] NULL,
	[m11GenAdminFee] [float] NULL,
	[m12AdminFee] [float] NULL,
	[m12GenAdminFee] [float] NULL
) ON [PRIMARY]
GO
