USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RPDA_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RPDA_jmw](
	[PMID] [int] NULL,
	[AAP#] [varchar](25) NULL,
	[Affiliate] [varchar](100) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[St] [varchar](100) NULL,
	[PP Rebate 2015] [float] NULL,
	[Total PP Rebate 2015] [float] NULL,
	[API Net Rebate to Store 0115] [float] NULL,
	[API Net Rebate to Store 0215] [float] NULL,
	[API Net Rebate to Store 0315] [float] NULL,
	[API Net Rebate to Store 0415] [float] NULL,
	[API Net Rebate to Store 0515] [float] NULL,
	[API Net Rebate to Store 0615] [float] NULL,
	[API Net Rebate to Store 0715] [float] NULL,
	[API Net Rebate to Store 0815] [float] NULL,
	[API Net Rebate to Store 0915] [float] NULL,
	[API Net Rebate to Store 1015] [float] NULL,
	[API Net Rebate to Store 1115] [float] NULL,
	[API Net Rebate to Store 1215] [float] NULL,
	[Total Monthly API Net Rebate to Store 2015] [float] NULL,
	[HV Incentive 0115] [float] NULL,
	[HV Incentive 0215] [float] NULL,
	[HV Incentive 0315] [float] NULL,
	[HV Incentive 0415] [float] NULL,
	[HV Incentive 0515] [float] NULL,
	[HV Incentive 0615] [float] NULL,
	[HV Incentive 0715] [float] NULL,
	[HV Incentive 0815] [float] NULL,
	[HV Incentive 0915] [float] NULL,
	[HV Incentive 1015] [float] NULL,
	[HV Incentive 1115] [float] NULL,
	[HV Incentive 1215] [float] NULL,
	[Total HV Incentive 2015] [float] NULL,
	[Leader-MSI Rebates 2015Q1] [float] NULL,
	[Leader-MSI Rebates 2015Q2] [float] NULL,
	[Leader-MSI Rebates 2015Q3] [float] NULL,
	[Leader-MSI Rebates 2015Q4] [float] NULL,
	[Total Leader-MSI Rebates 2015] [float] NULL,
	[01/15 CA Monthly Gen Rebate] [float] NULL,
	[01/15 PaymentMethod] [varchar](50) NULL,
	[02/15 CA Monthly Gen Rebate] [float] NULL,
	[02/15 PaymentMethod] [varchar](50) NULL,
	[03/15 CA Monthly Gen Rebate] [float] NULL,
	[03/15 PaymentMethod] [varchar](50) NULL,
	[04/15 CA Monthly Gen Rebate] [float] NULL,
	[04/15 PaymentMethod] [varchar](50) NULL,
	[05/15 CA Monthly Gen Rebate] [float] NULL,
	[05/15 PaymentMethod] [varchar](50) NULL,
	[06/15 CA Monthly Gen Rebate] [float] NULL,
	[06/15 PaymentMethod] [varchar](50) NULL,
	[07/15 CA Monthly Gen Rebate] [float] NULL,
	[07/15 PaymentMethod] [varchar](50) NULL,
	[08/15 CA Monthly Gen Rebate] [float] NULL,
	[08/15 PaymentMethod] [varchar](50) NULL,
	[09/15 CA Monthly Gen Rebate] [float] NULL,
	[09/15 PaymentMethod] [varchar](50) NULL,
	[10/15 CA Monthly Gen Rebate] [float] NULL,
	[10/15 PaymentMethod] [varchar](50) NULL,
	[11/15 CA Monthly Gen Rebate] [float] NULL,
	[11/15 PaymentMethod] [varchar](50) NULL,
	[12/15 CA Monthly Gen Rebate] [float] NULL,
	[12/15 PaymentMethod] [varchar](50) NULL,
	[Total CA Monthly Gen Rebate 2015] [float] NULL,
	[Planogram Rebate 2015] [float] NULL,
	[API Generic Incentive 2015] [float] NULL,
	[AAP Patronage Dividend 2015] [float] NULL,
	[Total YTD All Rebates 2015] [float] NULL
) ON [PRIMARY]
GO
