USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCRebate_jmw_Backup_RSE_20180920]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCRebate_jmw_Backup_RSE_20180920](
	[TM] [varchar](20) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](25) NULL,
	[Parent#] [varchar](25) NULL,
	[Group#] [varchar](25) NULL,
	[API#] [varchar](25) NULL,
	[AAP Eff] [varchar](25) NULL,
	[AAP Quit] [varchar](25) NULL,
	[Description] [varchar](100) NULL,
	[Affiliate] [varchar](100) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Address] [varchar](250) NULL,
	[City] [varchar](100) NULL,
	[St] [varchar](100) NULL,
	[Contact] [varchar](150) NULL,
	[Email] [varchar](150) NULL,
	[Financial Email] [varchar](150) NULL,
	[MC Network] [varchar](150) NULL,
	[Preferred Partners Volume 2018] [float] NULL,
	[Preferred Partners Rebate 2018] [float] NULL,
	[Total Preferred Partners Rebate 2018] [float] NULL,
	[API Generic Sales 0118] [float] NULL,
	[API Inv Credit 0118] [float] NULL,
	[API Net Rebate to Store 0118] [float] NULL,
	[API Avg Rebate Percentage 0118] [float] NULL,
	[API Brand Credits Disbursed 0118] [float] NULL,
	[API Accelerated Pay Discount 0118] [float] NULL,
	[API Generic Sales 0218] [float] NULL,
	[API Inv Credit 0218] [float] NULL,
	[API Net Rebate to Store 0218] [float] NULL,
	[API Avg Rebate Percentage 0218] [float] NULL,
	[API Brand Credits Disbursed 0218] [float] NULL,
	[API Accelerated Pay Discount 0218] [float] NULL,
	[API Generic Sales 0318] [float] NULL,
	[API Inv Credit 0318] [float] NULL,
	[API Net Rebate to Store 0318] [float] NULL,
	[API Avg Rebate Percentage 0318] [float] NULL,
	[API Brand Credits Disbursed 0318] [float] NULL,
	[API Accelerated Pay Discount 0318] [float] NULL,
	[API Generic Sales 0418] [float] NULL,
	[API Inv Credit 0418] [float] NULL,
	[API Net Rebate to Store 0418] [float] NULL,
	[API Avg Rebate Percentage 0418] [float] NULL,
	[API Brand Credits Disbursed 0418] [float] NULL,
	[API Accelerated Pay Discount 0418] [float] NULL,
	[API Generic Sales 0518] [float] NULL,
	[API Inv Credit 0518] [float] NULL,
	[API Net Rebate to Store 0518] [float] NULL,
	[API Avg Rebate Percentage 0518] [float] NULL,
	[API Brand Credits Disbursed 0518] [float] NULL,
	[API Accelerated Pay Discount 0518] [float] NULL,
	[API Generic Sales 0618] [float] NULL,
	[API Inv Credit 0618] [float] NULL,
	[API Net Rebate to Store 0618] [float] NULL,
	[API Avg Rebate Percentage 0618] [float] NULL,
	[API Brand Credits Disbursed 0618] [float] NULL,
	[API Accelerated Pay Discount 0618] [float] NULL,
	[API Generic Sales 0718] [float] NULL,
	[API Inv Credit 0718] [float] NULL,
	[API Net Rebate to Store 0718] [float] NULL,
	[API Avg Rebate Percentage 0718] [float] NULL,
	[API Brand Credits Disbursed 0718] [float] NULL,
	[API Accelerated Pay Discount 0718] [float] NULL,
	[API Generic Sales 0818] [float] NULL,
	[API Inv Credit 0818] [float] NULL,
	[API Net Rebate to Store 0818] [float] NULL,
	[API Avg Rebate Percentage 0818] [float] NULL,
	[API Brand Credits Disbursed 0818] [float] NULL,
	[API Accelerated Pay Discount 0818] [float] NULL,
	[API Generic Sales 0918] [float] NULL,
	[API Inv Credit 0918] [float] NULL,
	[API Net Rebate to Store 0918] [float] NULL,
	[API Avg Rebate Percentage 0918] [float] NULL,
	[API Brand Credits Disbursed 0918] [float] NULL,
	[API Accelerated Pay Discount 0918] [float] NULL,
	[API Generic Sales 1018] [float] NULL,
	[API Inv Credit 1018] [float] NULL,
	[API Net Rebate to Store 1018] [float] NULL,
	[API Avg Rebate Percentage 1018] [float] NULL,
	[API Brand Credits Disbursed 1018] [float] NULL,
	[API Accelerated Pay Discount 1018] [float] NULL,
	[API Generic Sales 1118] [float] NULL,
	[API Inv Credit 1118] [float] NULL,
	[API Net Rebate to Store 1118] [float] NULL,
	[API Avg Rebate Percentage 1118] [float] NULL,
	[API Brand Credits Disbursed 1118] [float] NULL,
	[API Accelerated Pay Discount 1118] [float] NULL,
	[API Generic Sales 1218] [float] NULL,
	[API Inv Credit 1218] [float] NULL,
	[API Net Rebate to Store 1218] [float] NULL,
	[API Avg Rebate Percentage 1218] [float] NULL,
	[API Brand Credits Disbursed 1218] [float] NULL,
	[API Accelerated Pay Discount 1218] [float] NULL,
	[Total Monthly API Generic Sales 2018] [float] NULL,
	[Total Monthly API Inv Credit 2018] [float] NULL,
	[Total Monthly API Net Rebate to Store 2018] [float] NULL,
	[Total Monthly API Brand Credits Disbursed 2018] [float] NULL,
	[Total Monthly API Accelerated Pay Discount 2018] [float] NULL,
	[Arete-API Rebate 0318] [float] NULL,
	[Arete-API Rebate 0418] [float] NULL,
	[Arete-API Rebate 0518] [float] NULL,
	[Arete-API Rebate 0618] [float] NULL,
	[Arete-API Rebate 0718] [float] NULL,
	[Arete-API Rebate 0818] [float] NULL,
	[Arete-API Rebate 0918] [float] NULL,
	[Arete-API Rebate 1018] [float] NULL,
	[Arete-API Rebate 1118] [float] NULL,
	[Arete-API Rebate 1218] [float] NULL,
	[Arete-API Rebate 0119] [float] NULL,
	[Arete-API Rebate 0219] [float] NULL,
	[Total Arete-API Rebate 2018] [float] NULL,
	[Arete-AAP Rebate 0318] [float] NULL,
	[Arete-AAP Rebate 0418] [float] NULL,
	[Arete-AAP Rebate 0518] [float] NULL,
	[Arete-AAP Rebate 0618] [float] NULL,
	[Arete-AAP Rebate 0718] [float] NULL,
	[Arete-AAP Rebate 0818] [float] NULL,
	[Arete-AAP Rebate 0918] [float] NULL,
	[Arete-AAP Rebate 1018] [float] NULL,
	[Arete-AAP Rebate 1118] [float] NULL,
	[Arete-AAP Rebate 1218] [float] NULL,
	[Arete-AAP Rebate 0119] [float] NULL,
	[Arete-AAP Rebate 0219] [float] NULL,
	[Total Arete-AAP Rebate 2018] [float] NULL,
	[HV Incentive 0118] [float] NULL,
	[HV COG Reduction 0118] [float] NULL,
	[HV Incentive 0218] [float] NULL,
	[HV COG Reduction 0218] [float] NULL,
	[HV Incentive 0318] [float] NULL,
	[HV COG Reduction 0318] [float] NULL,
	[HV Incentive 0418] [float] NULL,
	[HV COG Reduction 0418] [float] NULL,
	[HV Incentive 0518] [float] NULL,
	[HV COG Reduction 0518] [float] NULL,
	[HV Incentive 0618] [float] NULL,
	[HV COG Reduction 0618] [float] NULL,
	[HV Incentive 0718] [float] NULL,
	[HV COG Reduction 0718] [float] NULL,
	[HV Incentive 0818] [float] NULL,
	[HV COG Reduction 0818] [float] NULL,
	[HV Incentive 0918] [float] NULL,
	[HV COG Reduction 0918] [float] NULL,
	[HV Incentive 1018] [float] NULL,
	[HV COG Reduction 1018] [float] NULL,
	[HV Incentive 1118] [float] NULL,
	[HV COG Reduction 1118] [float] NULL,
	[HV Incentive 1218] [float] NULL,
	[HV COG Reduction 1218] [float] NULL,
	[Total HV Incentive 2018] [float] NULL,
	[Conf Volume 0418] [float] NULL,
	[Conf Rebate 0418] [float] NULL,
	[Conf Volume 0518] [float] NULL,
	[Conf Rebate 0518] [float] NULL,
	[Total Conf Volume 2018] [float] NULL,
	[Total Conf Rebate 2018] [float] NULL,
	[Cardinal Rebates 2018Q1] [float] NULL,
	[Cardinal Rebates 2018Q2] [float] NULL,
	[Cardinal Rebates 2018Q3] [float] NULL,
	[Cardinal Rebates 2018Q4] [float] NULL,
	[Total Cardinal Rebates 2018] [float] NULL,
	[01/18 Source Sales] [float] NULL,
	[01/18 AAP Gen Rebate] [float] NULL,
	[01/18 Price Protection Rebate] [float] NULL,
	[01/18 COG Rebate] [float] NULL,
	[01/18 Avg%] [float] NULL,
	[01/18 HRTA%] [float] NULL,
	[01/18 PaymentMethod] [varchar](50) NULL,
	[02/18 Source Sales] [float] NULL,
	[02/18 AAP Gen Rebate] [float] NULL,
	[02/18 Price Protection Rebate] [float] NULL,
	[02/18 COG Rebate] [float] NULL,
	[02/18 Avg%] [float] NULL,
	[02/18 HRTA%] [float] NULL,
	[02/18 PaymentMethod] [varchar](50) NULL,
	[03/18 Source Sales] [float] NULL,
	[03/18 AAP Gen Rebate] [float] NULL,
	[03/18 Price Protection Rebate] [float] NULL,
	[03/18 COG Rebate] [float] NULL,
	[03/18 Avg%] [float] NULL,
	[03/18 HRTA%] [float] NULL,
	[03/18 PaymentMethod] [varchar](50) NULL,
	[04/18 Source Sales] [float] NULL,
	[04/18 AAP Gen Rebate] [float] NULL,
	[04/18 Price Protection Rebate] [float] NULL,
	[04/18 COG Rebate] [float] NULL,
	[04/18 Avg%] [float] NULL,
	[04/18 HRTA%] [float] NULL,
	[04/18 PaymentMethod] [varchar](50) NULL,
	[05/18 Source Sales] [float] NULL,
	[05/18 AAP Gen Rebate] [float] NULL,
	[05/18 Price Protection Rebate] [float] NULL,
	[05/18 COG Rebate] [float] NULL,
	[05/18 Avg%] [float] NULL,
	[05/18 HRTA%] [float] NULL,
	[05/18 PaymentMethod] [varchar](50) NULL,
	[06/18 Source Sales] [float] NULL,
	[06/18 AAP Gen Rebate] [float] NULL,
	[06/18 Price Protection Rebate] [float] NULL,
	[06/18 COG Rebate] [float] NULL,
	[06/18 Avg%] [float] NULL,
	[06/18 HRTA%] [float] NULL,
	[06/18 PaymentMethod] [varchar](50) NULL,
	[07/18 Source Sales] [float] NULL,
	[07/18 AAP Gen Rebate] [float] NULL,
	[07/18 Price Protection Rebate] [float] NULL,
	[07/18 COG Rebate] [float] NULL,
	[07/18 Avg%] [float] NULL,
	[07/18 HRTA%] [float] NULL,
	[07/18 PaymentMethod] [varchar](50) NULL,
	[08/18 Source Sales] [float] NULL,
	[08/18 AAP Gen Rebate] [float] NULL,
	[08/18 Price Protection Rebate] [float] NULL,
	[08/18 COG Rebate] [float] NULL,
	[08/18 Avg%] [float] NULL,
	[08/18 HRTA%] [float] NULL,
	[08/18 PaymentMethod] [varchar](50) NULL,
	[09/18 Source Sales] [float] NULL,
	[09/18 AAP Gen Rebate] [float] NULL,
	[09/18 Price Protection Rebate] [float] NULL,
	[09/18 COG Rebate] [float] NULL,
	[09/18 Avg%] [float] NULL,
	[09/18 HRTA%] [float] NULL,
	[09/18 PaymentMethod] [varchar](50) NULL,
	[10/18 Source Sales] [float] NULL,
	[10/18 AAP Gen Rebate] [float] NULL,
	[10/18 Price Protection Rebate] [float] NULL,
	[10/18 COG Rebate] [float] NULL,
	[10/18 Avg%] [float] NULL,
	[10/18 HRTA%] [float] NULL,
	[10/18 PaymentMethod] [varchar](50) NULL,
	[11/18 Source Sales] [float] NULL,
	[11/18 AAP Gen Rebate] [float] NULL,
	[11/18 Price Protection Rebate] [float] NULL,
	[11/18 COG Rebate] [float] NULL,
	[11/18 Avg%] [float] NULL,
	[11/18 HRTA%] [float] NULL,
	[11/18 PaymentMethod] [varchar](50) NULL,
	[12/18 Source Sales] [float] NULL,
	[12/18 AAP Gen Rebate] [float] NULL,
	[12/18 Price Protection Rebate] [float] NULL,
	[12/18 COG Rebate] [float] NULL,
	[12/18 Avg%] [float] NULL,
	[12/18 HRTA%] [float] NULL,
	[12/18 PaymentMethod] [varchar](50) NULL,
	[Total CH AAP Gen Rebate 2018] [float] NULL,
	[Total Price Protection Rebate 2018] [float] NULL,
	[Total COG Rebate 2018] [float] NULL,
	[Planogram Rebate 2018] [float] NULL,
	[API Generic Incentive 2018] [float] NULL,
	[AAP Patronage Dividend 2018] [float] NULL,
	[Total YTD All Rebates 2018] [float] NULL
) ON [PRIMARY]
GO
