USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCVol_jmw_1]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCVol_jmw_1](
	[PMID] [int] NULL,
	[AAP#] [varchar](20) NULL,
	[Parent#] [varchar](20) NULL,
	[API#] [varchar](20) NULL,
	[AAP Eff] [varchar](10) NULL,
	[AAP Quit] [varchar](10) NULL,
	[Description] [varchar](200) NULL,
	[Affiliate] [varchar](200) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ST] [varchar](100) NULL,
	[Contact] [varchar](100) NULL,
	[Whse Acct Date Opened] [varchar](10) NULL,
	[Status] [varchar](100) NULL,
	[Wholesaler] [varchar](100) NULL,
	[API Oct 10 Brand] [float] NULL,
	[API Oct 10 Generic] [float] NULL,
	[API Oct 10 OTC] [float] NULL,
	[API Oct 10 Total Whse] [float] NULL,
	[API Nov 10 Brand] [float] NULL,
	[API Nov 10 Generic] [float] NULL,
	[API Nov 10 OTC] [float] NULL,
	[API Nov 10 Total Whse] [float] NULL,
	[API Dec 10 Brand] [float] NULL,
	[API Dec 10 Generic] [float] NULL,
	[API Dec 10 OTC] [float] NULL,
	[API Dec 10 Total Whse] [float] NULL,
	[API Total Brand Sales] [float] NULL,
	[API Total Generic Sales] [float] NULL,
	[API Total OTC Sales] [float] NULL,
	[API TOTAL SALES] [float] NULL,
	[CAH Oct 10 AAP Brand] [float] NULL,
	[CAH Oct 10 AAP Src Generics] [float] NULL,
	[CAH Oct 10 AAP Other Sales] [float] NULL,
	[CAH Oct 10 AAP Total Sales] [float] NULL,
	[CAH Nov 10 AAP Brand] [float] NULL,
	[CAH Nov 10 AAP Src Generics] [float] NULL,
	[CAH Nov 10 AAP Other Sales] [float] NULL,
	[CAH Nov 10 AAP Total Sales] [float] NULL,
	[CAH Dec 10 AAP Brand] [float] NULL,
	[CAH Dec 10 AAP Src Generics] [float] NULL,
	[CAH Dec 10 AAP Other Sales] [float] NULL,
	[CAH Dec 10 AAP Total Sales] [float] NULL,
	[CAH Total Brand Sales] [float] NULL,
	[CAH Total Src Generic Sales] [float] NULL,
	[CAH Total Other Sales] [float] NULL,
	[TOTAL CAH SALES YTD] [float] NULL,
	[ML Oct 10 Volume] [float] NULL,
	[ML Nov 10 Volume] [float] NULL,
	[ML Dec 10 Volume] [float] NULL,
	[ML YTD Total Volume] [float] NULL,
	[Total Oct 10 Combined Mthly Sales] [float] NULL,
	[Total Nov 10 Combined Mthly Sales] [float] NULL,
	[Total Dec 10 Combined Mthly Sales] [float] NULL,
	[Total Combined YTD Sales] [float] NULL
) ON [PRIMARY]
GO
