USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MemberGroupsCount]    Script Date: 12/22/2020 5:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MemberGroupsCount](
	[Program] [varchar](50) NULL,
	[Count as of Oct 2017] [int] NULL,
	[Count as of Nov 2017] [int] NULL,
	[Count as of Dec 2017] [int] NULL,
	[Count as of Jan 2018] [int] NULL,
	[Count as of Feb 2018] [int] NULL,
	[Count as of Mar 2018] [int] NULL,
	[Count as of Apr 2018] [int] NULL,
	[Count as of May 2018] [int] NULL,
	[Count as of Jun 2018] [int] NULL,
	[Count as of Jul 2018] [int] NULL,
	[Count as of Aug 2018] [int] NULL,
	[Count as of Sep 2018] [int] NULL,
	[Count as of Oct 2018] [int] NULL,
	[Count as of Nov 2018] [int] NULL,
	[Count as of Dec 2018] [int] NULL,
	[Count as of Jan 2019] [int] NULL,
	[Count as of Feb 2019] [int] NULL,
	[Count as of Mar 2019] [int] NULL,
	[Count as of Apr 2019] [int] NULL,
	[Count as of May 2019] [int] NULL,
	[Count as of Jun 2019] [int] NULL,
	[Count as of Jul 2019] [int] NULL,
	[Count as of Aug 2019] [int] NULL,
	[Count as of Sep 2019] [int] NULL,
	[Count as of Oct 2019] [int] NULL
) ON [PRIMARY]
GO
