USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_tarceva1_pharmids_rx30]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_tarceva1_pharmids_rx30](
	[pharm id] [nvarchar](50) NULL
) ON [PRIMARY]
GO
