USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_RCVol_6mo]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_RCVol_6mo](
	[TM] [varchar](10) NULL,
	[PMID] [int] NULL,
	[AAP#] [varchar](20) NULL,
	[Parent#] [varchar](20) NULL,
	[API#] [varchar](20) NULL,
	[AAP Eff] [varchar](10) NULL,
	[AAP Quit] [varchar](10) NULL,
	[AAP Elite] [varchar](10) NULL,
	[Description] [varchar](200) NULL,
	[Affiliate] [varchar](200) NULL,
	[Managed Care Network] [varchar](20) NULL,
	[Managed Care Eff Date] [varchar](20) NULL,
	[Managed Care Term Date] [varchar](20) NULL,
	[Account DBA Name] [varchar](100) NULL,
	[Account Corporate Name] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ST] [varchar](100) NULL,
	[Contact] [varchar](100) NULL,
	[Whse Acct Date Opened] [varchar](10) NULL,
	[Status] [varchar](100) NULL,
	[Wholesaler] [varchar](100) NULL,
	[QPS] [varchar](4) NULL,
	[API Jan 16 Brand] [float] NULL,
	[API Jan 16 Generic] [float] NULL,
	[API Jan 16 OTC] [float] NULL,
	[API Jan 16 Total Whse] [float] NULL,
	[API Feb 16 Brand] [float] NULL,
	[API Feb 16 Generic] [float] NULL,
	[API Feb 16 OTC] [float] NULL,
	[API Feb 16 Total Whse] [float] NULL,
	[API Mar 16 Brand] [float] NULL,
	[API Mar 16 Generic] [float] NULL,
	[API Mar 16 OTC] [float] NULL,
	[API Mar 16 Total Whse] [float] NULL,
	[API Apr 16 Brand] [float] NULL,
	[API Apr 16 Generic] [float] NULL,
	[API Apr 16 OTC] [float] NULL,
	[API Apr 16 Total Whse] [float] NULL,
	[API May 16 Brand] [float] NULL,
	[API May 16 Generic] [float] NULL,
	[API May 16 OTC] [float] NULL,
	[API May 16 Total Whse] [float] NULL,
	[API Jun 16 Brand] [float] NULL,
	[API Jun 16 Generic] [float] NULL,
	[API Jun 16 OTC] [float] NULL,
	[API Jun 16 Total Whse] [float] NULL,
	[API Total Brand Sales] [float] NULL,
	[API Total Generic Sales] [float] NULL,
	[API Total OTC Sales] [float] NULL,
	[API TOTAL SALES] [float] NULL,
	[CAH Jan 16 AAP Brand] [float] NULL,
	[CAH Jan 16 AAP Src Generics] [float] NULL,
	[CAH Jan 16 AAP Other Sales] [float] NULL,
	[CAH Jan 16 AAP Total Sales] [float] NULL,
	[CAH Feb 16 AAP Brand] [float] NULL,
	[CAH Feb 16 AAP Src Generics] [float] NULL,
	[CAH Feb 16 AAP Other Sales] [float] NULL,
	[CAH Feb 16 AAP Total Sales] [float] NULL,
	[CAH Mar 16 AAP Brand] [float] NULL,
	[CAH Mar 16 AAP Src Generics] [float] NULL,
	[CAH Mar 16 AAP Other Sales] [float] NULL,
	[CAH Mar 16 AAP Total Sales] [float] NULL,
	[CAH Apr 16 AAP Brand] [float] NULL,
	[CAH Apr 16 AAP Src Generics] [float] NULL,
	[CAH Apr 16 AAP Other Sales] [float] NULL,
	[CAH Apr 16 AAP Total Sales] [float] NULL,
	[CAH May 16 AAP Brand] [float] NULL,
	[CAH May 16 AAP Src Generics] [float] NULL,
	[CAH May 16 AAP Other Sales] [float] NULL,
	[CAH May 16 AAP Total Sales] [float] NULL,
	[CAH Jun 16 AAP Brand] [float] NULL,
	[CAH Jun 16 AAP Src Generics] [float] NULL,
	[CAH Jun 16 AAP Other Sales] [float] NULL,
	[CAH Jun 16 AAP Total Sales] [float] NULL,
	[CAH Total Brand Sales] [float] NULL,
	[CAH Total Src Generic Sales] [float] NULL,
	[CAH Total Other Sales] [float] NULL,
	[CAH TOTAL SALES] [float] NULL,
	[ML Jan 16 Volume] [float] NULL,
	[ML Feb 16 Volume] [float] NULL,
	[ML Mar 16 Volume] [float] NULL,
	[ML Apr 16 Volume] [float] NULL,
	[ML May 16 Volume] [float] NULL,
	[ML Jun 16 Volume] [float] NULL,
	[ML TOTAL SALES] [float] NULL,
	[Total Jan 16 Combined Mthly Sales] [float] NULL,
	[Total Feb 16 Combined Mthly Sales] [float] NULL,
	[Total Mar 16 Combined Mthly Sales] [float] NULL,
	[Total Apr 16 Combined Mthly Sales] [float] NULL,
	[Total May 16 Combined Mthly Sales] [float] NULL,
	[Total Jun 16 Combined Mthly Sales] [float] NULL,
	[TOTAL COMBINED SALES] [float] NULL,
	[CP Jan 16 $ Paid] [float] NULL,
	[CP Feb 16 $ Paid] [float] NULL,
	[CP Mar 16 $ Paid] [float] NULL,
	[CP Apr 16 $ Paid] [float] NULL,
	[CP May 16 $ Paid] [float] NULL,
	[CP Jun 16 $ Paid] [float] NULL,
	[TOTAL CP $ Paid] [float] NULL,
	[Rx30 User] [varchar](10) NULL,
	[Rx30 Jan 16 TotalScripts] [float] NULL,
	[Rx30 Jan 16 TotalPaid] [float] NULL,
	[Rx30 Feb 16 TotalScripts] [float] NULL,
	[Rx30 Feb 16 TotalPaid] [float] NULL,
	[Rx30 Mar 16 TotalScripts] [float] NULL,
	[Rx30 Mar 16 TotalPaid] [float] NULL,
	[Rx30 Apr 16 TotalScripts] [float] NULL,
	[Rx30 Apr 16 TotalPaid] [float] NULL,
	[Rx30 May 16 TotalScripts] [float] NULL,
	[Rx30 May 16 TotalPaid] [float] NULL,
	[Rx30 Jun 16 TotalScripts] [float] NULL,
	[Rx30 Jun 16 TotalPaid] [float] NULL,
	[TOTAL Rx30 Scripts] [float] NULL,
	[TOTAL Rx30 TotalPaid] [float] NULL,
	[% CP Jan 16] [float] NULL,
	[% CP Feb 16] [float] NULL,
	[% CP Mar 16] [float] NULL,
	[% CP Apr 16] [float] NULL,
	[% CP May 16] [float] NULL,
	[% CP Jun 16] [float] NULL
) ON [PRIMARY]
GO
