USE [Reports]
GO
/****** Object:  Table [dbo].[tmp_MemberGroupsCountMCNetNew_jmw]    Script Date: 12/22/2020 5:00:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MemberGroupsCountMCNetNew_jmw](
	[Program] [varchar](50) NULL,
	[Count as of Dec 2009] [int] NULL,
	[Count as of Jan 2010] [int] NULL,
	[Count as of Feb 2010] [int] NULL,
	[Count as of Mar 2010] [int] NULL,
	[Count as of Apr 2010] [int] NULL,
	[Count as of May 2010] [int] NULL,
	[Count as of Jun 2010] [int] NULL,
	[Count as of Jul 2010] [int] NULL,
	[Count as of Aug 2010] [int] NULL,
	[Count as of Sep 2010] [int] NULL,
	[Count as of Oct 2010] [int] NULL,
	[Count as of Nov 2010] [int] NULL,
	[Count as of Dec 2010] [int] NULL,
	[Count as of Jan 2011] [int] NULL,
	[Count as of Feb 2011] [int] NULL,
	[Count as of Mar 2011] [int] NULL,
	[Count as of Apr 2011] [int] NULL,
	[Count as of May 2011] [int] NULL,
	[Count as of Jun 2011] [int] NULL,
	[Count as of Jul 2011] [int] NULL,
	[Count as of Aug 2011] [int] NULL,
	[Count as of Sep 2011] [int] NULL
) ON [PRIMARY]
GO
