USE [Reports]
GO
/****** Object:  Table [dbo].[UPCOutcomeGPICountNEW1]    Script Date: 12/22/2020 5:00:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPCOutcomeGPICountNEW1](
	[GPI Volume] [varchar](255) NULL,
	[Q2 2013 Quantity] [int] NULL,
	[Q2 2013 % of Total] [float] NULL,
	[Q1 2013 Quantity] [int] NULL,
	[Q1 2013 % of Total] [float] NULL
) ON [PRIMARY]
GO
