USE [Purchases]
GO
/****** Object:  Table [dbo].[CAH_NDC]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAH_NDC](
	[MaxDateKey] [int] NULL,
	[NDC] [varchar](15) NULL
) ON [PRIMARY]
GO
