USE [Purchases]
GO
/****** Object:  StoredProcedure [dbo].[usp_Test_1]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Test_1]

AS

SET NOCOUNT ON;

BEGIN

	SELECT 1 AS C1, 2 AS C2, 3 AS C3



END
GO
