USE [Purchases]
GO
/****** Object:  StoredProcedure [dbo].[uspLoadCardinalCompleteHistory]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspLoadCardinalCompleteHistory]

AS


SET NOCOUNT ON;

BEGIN


	INSERT INTO [dbo].[CardinalCompleteHistory](UNITPRODUCT, SCANNEDUNITPRODUCTCODE, NDC, CARDINALITEMNUMBER
	, RXOTCFLAG, BRANDNAME, GENERICPRODUCTDESCRIPTION, AWP, CONTRACTPRICE
	, INVOICEPRICE, BASEPRICE, RETAILPRICE, FORM, STRENGTH, SIZE, UNITOFMEASURE
	, VENDORNAME, ACCUNETSIZE, CASEQUANTITY, PACKQUANTITY, UNITSIZE, DISPENSEQUANTITY
	, THERAPEUTICCLASSCODE, CONTRACTNUMBER, CONTRACTNAME, CONTRACTSTARTDATE, CONTRACTENDDATE
	, INVOICEPRICECHANGEDATE, BASEPRICECHANGEDATE, FINELINECODE, PREVIOUSINVOICEPRICE, CCAHEADER
	, GENERICCODE, GPPCCODE, GPI, API_Size, [API ITEM], [API PRICE], [Adj Rebate], LoadDate)


	SELECT UNITPRODUCT, SCANNEDUNITPRODUCTCODE, NDC, CARDINALITEMNUMBER
	, RXOTCFLAG, BRANDNAME, GENERICPRODUCTDESCRIPTION, AWP, CONTRACTPRICE
	, INVOICEPRICE, BASEPRICE, RETAILPRICE, FORM, STRENGTH, SIZE, UNITOFMEASURE
	, VENDORNAME, ACCUNETSIZE, CASEQUANTITY, PACKQUANTITY, UNITSIZE, DISPENSEQUANTITY
	, THERAPEUTICCLASSCODE, CONTRACTNUMBER, CONTRACTNAME, CONTRACTSTARTDATE, CONTRACTENDDATE
	, INVOICEPRICECHANGEDATE, BASEPRICECHANGEDATE, FINELINECODE, PREVIOUSINVOICEPRICE, CCAHEADER
	, GENERICCODE, GPPCCODE, GPI, API_Size, [API ITEM], [API PRICE], [Adj Rebate], DATEADD(dd, DATEDIFF(dd, 0, getdate()), 0) AS LoadDate
	FROM [Staging].[vwCardinalComplete]

END

	/*Older version of SQL Code*/
	--INSERT INTO dbo.CardinalCompleteHistory 
	--SELECT *,DATEADD(dd, DATEDIFF(dd, 0, getdate()), 0) 
	--FROM dbo.CardinalComplete


GO
