USE [Purchases]
GO
/****** Object:  Table [dbo].[APIRebatePrice]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIRebatePrice](
	[NDC] [nvarchar](20) NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[WeekNo] [int] NULL,
	[APINetPrice] [numeric](21, 6) NULL,
	[PricePerUnit] [numeric](18, 4) NULL,
	[DrugType] [nvarchar](100) NULL
) ON [PRIMARY]
GO
