USE [Purchases]
GO
/****** Object:  View [dbo].[v_chph_load_UD]    Script Date: 12/22/2020 9:26:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_chph_load_UD]
AS
SELECT     DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, STORE,  NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, 
                      INVOICE_NO, TYPE, ORDER_QTY, SHIP_QTY, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND, 
                      GENERIC_CODE, STRENGTH, SHORT_CODE, ENCODING,CONTRACTNO,CONTRACTDESC,MM_DD_YY_LOAD
FROM         dbo.CHPH_UD
GO
