USE [Purchases]
GO
/****** Object:  Table [dbo].[NDCList]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDCList](
	[ndc] [varchar](11) NOT NULL
) ON [PRIMARY]
GO
