USE [Purchases]
GO
/****** Object:  Table [dbo].[delete_diag032516b]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_diag032516b](
	[NDC] [nvarchar](50) NULL,
	[030816] [numeric](19, 4) NULL,
	[031516] [numeric](19, 4) NULL,
	[032216] [numeric](19, 4) NULL
) ON [PRIMARY]
GO
