USE [Purchases]
GO
/****** Object:  Table [dbo].[CAH_MYLAN_20171219]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAH_MYLAN_20171219](
	[NDC] [varchar](11) NULL,
	[Qty] [numeric](38, 0) NULL,
	[Sales] [money] NULL
) ON [PRIMARY]
GO
