USE [Purchases]
GO
/****** Object:  Table [dbo].[CAHstaccount_20190822]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAHstaccount_20190822](
	[new_pmid] [nvarchar](100) NULL,
	[Original_new_cahstaccount] [nvarchar](250) NULL,
	[new_cahstaccount] [nvarchar](250) NULL
) ON [PRIMARY]
GO
