USE [Purchases]
GO
/****** Object:  StoredProcedure [dbo].[uspLoadStagingCardinalComplete]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[uspLoadStagingCardinalComplete]

AS

/*

	This file is loaded from this location: \\fs1.aap.local\api\Cardinal Complete.txt



*/


SET NOCOUNT ON;

BEGIN

	ALTER TABLE [Staging].[CardinalComplete]
	ALTER COLUMN [API PRICE] NVARCHAR(50)

	--Get rows thru VIEW from ODSIntake
	INSERT INTO [Staging].[CardinalComplete] (UNITPRODUCT, SCANNEDUNITPRODUCTCODE, NDC, CARDINALITEMNUMBER, RXOTCFLAG, BRANDNAME, GENERICPRODUCTDESCRIPTION, AWP, CONTRACTPRICE, INVOICEPRICE, BASEPRICE, RETAILPRICE, FORM, STRENGTH, SIZE, UNITOFMEASURE, VENDORNAME, ACCUNETSIZE, CASEQUANTITY, PACKQUANTITY, UNITSIZE, DISPENSEQUANTITY, THERAPEUTICCLASSCODE, CONTRACTNUMBER, CONTRACTNAME, CONTRACTSTARTDATE, CONTRACTENDDATE, INVOICEPRICECHANGEDATE, BASEPRICECHANGEDATE, FINELINECODE, PREVIOUSINVOICEPRICE, CCAHEADER, GENERICCODE, GPPCCODE, GPI, API_Size, [API ITEM], [API PRICE], [Adj Rebate])
	SELECT UNITPRODUCT, SCANNEDUNITPRODUCTCODE, NDC, CARDINALITEMNUMBER, RXOTCFLAG, BRANDNAME, GENERICPRODUCTDESCRIPTION, AWP, CONTRACTPRICE, INVOICEPRICE, BASEPRICE, RETAILPRICE, FORM, STRENGTH, SIZE, UNITOFMEASURE, VENDORNAME, ACCUNETSIZE, CASEQUANTITY, PACKQUANTITY, UNITSIZE, DISPENSEQUANTITY, THERAPEUTICCLASSCODE, CONTRACTNUMBER, CONTRACTNAME, CONTRACTSTARTDATE, CONTRACTENDDATE, INVOICEPRICECHANGEDATE, BASEPRICECHANGEDATE, FINELINECODE, PREVIOUSINVOICEPRICE, CCAHEADER, GENERICCODE, GPPCCODE, GPI, API_Size, [API ITEM], [API PRICE], [Adj Rebate]
	FROM [Staging].[vwCardinalComopleteLoad]

	--Replace empty strings with NULL's
	UPDATE [Staging].[CardinalComplete]
		SET [API PRICE] = REPLACE([API PRICE], '', NULL)
	WHERE [API PRICE] NOT LIKE '%.%'

	--Replace empty strings with NULL's
	UPDATE [Staging].[CardinalComplete]
		SET [Adj Rebate] = REPLACE([Adj Rebate], '', NULL)
	WHERE [Adj Rebate] NOT LIKE '%.%'

	ALTER TABLE [Staging].[CardinalComplete]
	ALTER COLUMN [API PRICE] NUMERIC(28,4)


END


GO
