USE [Purchases]
GO
/****** Object:  StoredProcedure [dbo].[usp_CHPH_AAP_PartitionLoad]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CHPH_AAP_PartitionLoad]

	@Date DATETIME


AS


BEGIN

	SELECT ID, DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, PMID, STORE, NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, INVOICE_NO
	, TYPE, ORDER_QTY, SHIP_QTY, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND, GENERIC_CODE, STRENGTH, SHORT_CODE
	, ENCODING, ContractNo, ContractDesc, MM_DD_YY_LOAD, OrderNo
	, CAST(CONVERT(VARCHAR(20), INV_DATE, 112) AS INT) AS DateKey
	FROM Purchases.[dbo].[CHPH_AAP]
	WHERE INV_DATE = @Date

END
GO
