USE [Purchases]
GO
/****** Object:  Table [dbo].[CHPH_AAP_ETL]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHPH_AAP_ETL](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[RowversionID] [timestamp] NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[DateKey] [int] NOT NULL,
 CONSTRAINT [CPK_CHPH_AAP_ETL] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHPH_AAP_ETL] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
ALTER TABLE [dbo].[CHPH_AAP_ETL] ADD  DEFAULT ((0)) FOR [DateKey]
GO
