USE [Purchases]
GO
/****** Object:  View [dbo].[v_CardAPI]    Script Date: 12/22/2020 9:26:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_CardAPI]
AS
SELECT     MIN(c.CUSTOMER_NAME) AS Customer, MIN(dbo.CardinalComplete.[API ITEM]) AS [API ITEM], MIN(dbo.CardinalComplete.[API PRICE]) AS [API PRICE], 
                      MIN(dbo.CardinalComplete.[Adj Rebate]) AS [Adj Rebate], c.NDC, MIN(dbo.fnParseCHPHDescription(c.ITEM_DESCR, 1)) AS ItemDesc, MIN(f.PS) 
                      AS FDB_PKG_SIZE, SUM(c.SHIP_QTY) AS SHIP_QTY, c.UNIT_COST, SUM(c.EXT_COST) AS Ext_Cost, MIN(c.BRAND) AS DrugType
FROM         dbo.CHPH_AAP AS c LEFT OUTER JOIN
                      dbo.CardinalComplete ON c.ITEM_NO = dbo.CardinalComplete.CARDINALITEMNUMBER LEFT OUTER JOIN
                      FDB.dbo.RNDC14 AS f ON c.NDC = f.NDC
WHERE     ([API ITEM ] IS NOT NULL) AND ([API ITEM ] <> 0) AND (c.ITEM_TYPE = 'RX') AND (c.SHIP_QTY > 0) AND (c.BRAND = 'N')
GROUP BY c.PMID, c.NDC, c.UNIT_COST
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[33] 4[3] 2[42] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "c"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 296
               Right = 265
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CardinalComplete"
            Begin Extent = 
               Top = 13
               Left = 385
               Bottom = 347
               Right = 713
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "f"
            Begin Extent = 
               Top = 326
               Left = 538
               Bottom = 441
               Right = 706
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 4320
         Alias = 900
         Table = 2715
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_CardAPI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_CardAPI'
GO
