USE [Purchases]
GO
/****** Object:  Table [dbo].[delete_TristateCINs]    Script Date: 12/22/2020 4:55:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_TristateCINs](
	[Tri State CIN] [nvarchar](255) NULL
) ON [PRIMARY]
GO
