USE [Purchases]
GO
/****** Object:  View [Staging].[vw_CHPH_AAP]    Script Date: 12/22/2020 9:26:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Staging].[vw_CHPH_AAP]

AS



SELECT DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, STORE, NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, INVOICE_NO, TYPE, ORDER_QTY, SHIP_QTY
	, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND, GENERIC_CODE, STRENGTH, SHORT_CODE, ENCODING, CONTRACTNO, CONTRACTDESC, ORDERNO, MM_DD_YY_LOAD, PMID
FROM(SELECT ROW_NUMBER() OVER(PARTITION BY DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, STORE, NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, INVOICE_NO, TYPE, ORDER_QTY, SHIP_QTY, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND
							, GENERIC_CODE, STRENGTH, SHORT_CODE, ENCODING, CONTRACTNO, CONTRACTDESC, ORDERNO, MM_DD_YY_LOAD ORDER BY(SELECT 1)) AS RN 
	, DC, CUSTOMER_NAME, CUSTOMER_NO, ITEM_NO, STORE, NDC, ITEM_TYPE, ITEM_DESCR, GENERIC_NAME, TRADE_NAME, INV_DATE, INVOICE_NO, TYPE, ORDER_QTY, SHIP_QTY
	, UNIT_COST, EXT_COST, CORP_AWP, WAC, VENDOR_NAME, UPC, CONTRACT_FLAG, BRAND, GENERIC_CODE, STRENGTH, SHORT_CODE, ENCODING, CONTRACTNO, CONTRACTDESC, ORDERNO, MM_DD_YY_LOAD, PMID
	FROM [Staging].[CHPH_AAP]
	) AS dt
WHERE dt.RN = 1
GO
