USE [TempTables]
GO
/****** Object:  Table [dbo].[RLGLtemp_CHPHAAPNDC]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RLGLtemp_CHPHAAPNDC](
	[NDC] [varchar](15) NULL
) ON [PRIMARY]
GO
