USE [TempTables]
GO
/****** Object:  Table [dbo].[delete_ndcnotfound]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_ndcnotfound](
	[Column 0] [nvarchar](50) NULL
) ON [PRIMARY]
GO
