USE [TempTables]
GO
/****** Object:  View [dbo].[v_deleteme]    Script Date: 12/22/2020 9:41:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[v_deleteme]
as
select * from tmp_SN_2012
GO
