USE [TempTables]
GO
/****** Object:  Table [dbo].[tmpPMIDCII]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpPMIDCII](
	[pmid] [int] NULL
) ON [PRIMARY]
GO
