USE [TempTables]
GO
/****** Object:  Table [dbo].[PM_Deleted_old]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_Deleted_old](
	[PMID] [int] NOT NULL,
	[AAPAccountNo] [nvarchar](255) NULL,
	[AAPEffectiveDate] [nvarchar](255) NULL,
	[AAPParentNo] [nvarchar](255) NULL,
	[AAPPreviousGroup] [nvarchar](255) NULL,
	[AAPQuitDate] [nvarchar](255) NULL,
	[UDQuitDate] [datetime] NULL,
	[AAPStatus] [nvarchar](255) NULL,
	[AccountDescription] [nvarchar](255) NULL,
	[AccountName] [nvarchar](255) NULL,
	[APIAccountNo] [nvarchar](255) NULL,
	[PMParentID] [nvarchar](255) NULL,
	[APIMemberNo] [nvarchar](255) NULL,
	[APIStatus] [nvarchar](255) NULL,
	[AvgWholesaleVolume] [float] NULL,
	[BusinessClass] [nvarchar](255) NULL,
	[CAHStatus] [nvarchar](255) NULL,
	[CardinalDC] [nvarchar](255) NULL,
	[CompetitiveAcct] [float] NULL,
	[ComputerSoftware] [nvarchar](255) NULL,
	[ContractDate] [nvarchar](255) NULL,
	[CorporateName] [nvarchar](255) NULL,
	[CustPayTermsAPI] [nvarchar](255) NULL,
	[DateOpened] [datetime] NULL,
	[DBA] [nvarchar](255) NULL,
	[DEA] [nvarchar](255) NULL,
	[DEAEXP] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
	[EmergencyPhone] [nvarchar](255) NULL,
	[FedID] [nvarchar](255) NULL,
	[HolidayHours] [nvarchar](255) NULL,
	[Hours] [nvarchar](255) NULL,
	[IsStartUpStore] [nvarchar](255) NULL,
	[NCPDP] [nvarchar](255) NULL,
	[NPI] [nvarchar](255) NULL,
	[NumReactivated] [float] NULL,
	[OrigStartDate] [datetime] NULL,
	[OwnerName] [nvarchar](255) NULL,
	[Payee_id] [float] NULL,
	[PrimaryCAAccountNo] [nvarchar](255) NULL,
	[QPS] [nvarchar](255) NULL,
	[Resigned] [nvarchar](255) NULL,
	[Territory] [nvarchar](255) NULL,
	[UDAccountNo] [nvarchar](255) NULL,
	[UDNonPharmacy] [nvarchar](255) NULL,
	[UDParentNo] [nvarchar](255) NULL,
	[UDQuitDate1] [datetime] NULL,
	[UDStatus] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[Wholesaler] [nvarchar](255) NULL,
	[WholesalerAccountNo] [nvarchar](255) NULL,
	[WhyResigned] [nvarchar](255) NULL,
	[Addr1] [nvarchar](255) NULL,
	[Addr2] [nvarchar](255) NULL,
	[ContactFullName] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Zip] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[ChainCode] [nvarchar](255) NULL,
	[MCEffectiveDate] [nvarchar](255) NULL,
	[MCQuitDate] [nvarchar](255) NULL,
	[StateLicExpDate] [datetime] NULL,
	[StateLicNo] [nvarchar](255) NULL,
	[Affiliate] [nvarchar](255) NULL,
	[IsPOS] [nvarchar](255) NULL,
	[IsPVA] [nvarchar](255) NULL,
	[FeePaid] [nvarchar](255) NULL
) ON [PRIMARY]
GO
