USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_wh_allv]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_wh_allv](
	[apiaccountno] [varchar](20) NULL
) ON [PRIMARY]
GO
