USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_delete_pivot]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_delete_pivot](
	[pmid] [int] NULL,
	[1/10 AAPBrand] [float] NULL,
	[1/10 CHAAPSource] [float] NULL,
	[1/10 CHAAPTotal] [float] NULL,
	[1/10 CHAllBrand] [float] NULL,
	[1/10 CHAllSource] [float] NULL,
	[1/10 CHAllTotal] [float] NULL,
	[2/10 AAPBrand] [float] NULL,
	[2/10 CHAAPSource] [float] NULL,
	[2/10 CHAAPTotal] [float] NULL,
	[2/10 CHAllBrand] [float] NULL,
	[2/10 CHAllSource] [float] NULL,
	[2/10 CHAllTotal] [float] NULL,
	[3/10 AAPBrand] [float] NULL,
	[3/10 CHAAPSource] [float] NULL,
	[3/10 CHAAPTotal] [float] NULL,
	[3/10 CHAllBrand] [float] NULL,
	[3/10 CHAllSource] [float] NULL,
	[3/10 CHAllTotal] [float] NULL,
	[4/10 AAPBrand] [float] NULL,
	[4/10 CHAAPSource] [float] NULL,
	[4/10 CHAAPTotal] [float] NULL,
	[4/10 CHAllBrand] [float] NULL,
	[4/10 CHAllSource] [float] NULL,
	[4/10 CHAllTotal] [float] NULL,
	[5/10 AAPBrand] [float] NULL,
	[5/10 CHAAPSource] [float] NULL,
	[5/10 CHAAPTotal] [float] NULL,
	[5/10 CHAllBrand] [float] NULL,
	[5/10 CHAllSource] [float] NULL,
	[5/10 CHAllTotal] [float] NULL,
	[6/10 AAPBrand] [float] NULL,
	[6/10 CHAAPSource] [float] NULL,
	[6/10 CHAAPTotal] [float] NULL,
	[6/10 CHAllBrand] [float] NULL,
	[6/10 CHAllSource] [float] NULL,
	[6/10 CHAllTotal] [float] NULL,
	[7/10 AAPBrand] [float] NULL,
	[7/10 CHAAPSource] [float] NULL,
	[7/10 CHAAPTotal] [float] NULL,
	[7/10 CHAllBrand] [float] NULL,
	[7/10 CHAllSource] [float] NULL,
	[7/10 CHAllTotal] [float] NULL
) ON [PRIMARY]
GO
