USE [TempTables]
GO
/****** Object:  Table [dbo].[nonBKPurchasingPharms]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nonBKPurchasingPharms](
	[CUSTOMER_NO] [nvarchar](255) NULL,
	[PMID] [float] NULL,
	[CUSTOMER_NAME] [nvarchar](255) NULL
) ON [PRIMARY]
GO
