USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_MapUDGroupToPMGroup]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MapUDGroupToPMGroup](
	[UDGroup] [varchar](50) NULL,
	[PMGroupNo] [int] NULL
) ON [PRIMARY]
GO
