USE [TempTables]
GO
/****** Object:  StoredProcedure [dbo].[spbg_test3]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spbg_test3]
as
begin
-- declare XML variable
DECLARE @InputXML XML
DECLARE @idoc int

-- import file from disk
SELECT @InputXML = CAST(x AS XML)
FROM OPENROWSET(BULK 'c:\tmp\config_ca.xml', SINGLE_BLOB) AS T(x)

SELECT @InputXML 
EXEC sp_xml_preparedocument @idoc OUTPUT, @InputXML

drop table tmp_config_ca
SELECT *
into tmp_config_ca
FROM OPENXML (@idoc, '/resources/resource',1)
WITH (id varchar(100) ,
	directory varchar(100) 'directory',
	[file] Varchar(255) 'file', 
	description varchar(255) 'description',
	date Varchar(20) 'date')


EXEC sp_xml_removedocument @idoc

end
--spbg_test3
GO
