USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_API_Financials062310]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_API_Financials062310](
	[APIAccountNo] [varchar](255) NULL,
	[AccountName] [varchar](255) NULL,
	[Contact] [varchar](255) NULL,
	[Addr1] [varchar](255) NULL,
	[Addr2] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](255) NULL,
	[Zip] [varchar](255) NULL
) ON [PRIMARY]
GO
