USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_NotesMapping]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_NotesMapping](
	[SLX] [varchar](255) NULL,
	[Aplicor] [varchar](255) NULL
) ON [PRIMARY]
GO
