USE [TempTables]
GO
/****** Object:  Table [dbo].[Punctuation]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punctuation](
	[Symbol] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
