USE [TempTables]
GO
/****** Object:  Table [dbo].[delete_bg1]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_bg1](
	[ncpdp] [nvarchar](50) NULL
) ON [PRIMARY]
GO
