USE [TempTables]
GO
/****** Object:  Table [dbo].[report_RCVolume_0810_byTerr]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_RCVolume_0810_byTerr](
	[TM] [varchar](4) NULL,
	[API Sep 09 Brand] [float] NULL,
	[API Sep 09 Generic] [float] NULL,
	[API Sep 09 OTC] [float] NULL,
	[API Sep 09 Total Whse] [float] NULL,
	[API Oct 09 Brand] [float] NULL,
	[API Oct 09 Generic] [float] NULL,
	[API Oct 09 OTC] [float] NULL,
	[API Oct 09 Total Whse] [float] NULL,
	[API Nov 09 Brand] [float] NULL,
	[API Nov 09 Generic] [float] NULL,
	[API Nov 09 OTC] [float] NULL,
	[API Nov 09 Total Whse] [float] NULL,
	[API Dec 09 Brand] [float] NULL,
	[API Dec 09 Generic] [float] NULL,
	[API Dec 09 OTC] [float] NULL,
	[API Dec 09 Total Whse] [float] NULL,
	[API Jan 10 Brand] [float] NULL,
	[API Jan 10 Generic] [float] NULL,
	[API Jan 10 OTC] [float] NULL,
	[API Jan 10 Total Whse] [float] NULL,
	[API Feb 10 Brand] [float] NULL,
	[API Feb 10 Generic] [float] NULL,
	[API Feb 10 OTC] [float] NULL,
	[API Feb 10 Total Whse] [float] NULL,
	[API Mar 10 Brand] [float] NULL,
	[API Mar 10 Generic] [float] NULL,
	[API Mar 10 OTC] [float] NULL,
	[API Mar 10 Total Whse] [float] NULL,
	[API Apr 10 Brand] [float] NULL,
	[API Apr 10 Generic] [float] NULL,
	[API Apr 10 OTC] [float] NULL,
	[API Apr 10 Total Whse] [float] NULL,
	[API May 10 Brand] [float] NULL,
	[API May 10 Generic] [float] NULL,
	[API May 10 OTC] [float] NULL,
	[API May 10 Total Whse] [float] NULL,
	[API Jun 10 Brand] [float] NULL,
	[API Jun 10 Generic] [float] NULL,
	[API Jun 10 OTC] [float] NULL,
	[API Jun 10 Total Whse] [float] NULL,
	[API Jul 10 Brand] [float] NULL,
	[API Jul 10 Generic] [float] NULL,
	[API Jul 10 OTC] [float] NULL,
	[API Jul 10 Total Whse] [float] NULL,
	[API Aug 10 Brand] [float] NULL,
	[API Aug 10 Generic] [float] NULL,
	[API Aug 10 OTC] [float] NULL,
	[API Aug 10 Total Whse] [float] NULL,
	[API Sep 10 Brand] [float] NULL,
	[API Sep 10 Generic] [float] NULL,
	[API Sep 10 OTC] [float] NULL,
	[API Sep 10 Total Whse] [float] NULL,
	[API Total Brand Sales] [float] NULL,
	[API Total Generic Sales] [float] NULL,
	[API Total OTC Sales] [float] NULL,
	[API Total Sales] [float] NULL,
	[CAH Feb AAP Brand] [float] NULL,
	[CAH Feb AAP Src Generics] [float] NULL,
	[CAH Feb AAP Other Sales] [float] NULL,
	[CAH Feb AAP Total Sales] [float] NULL,
	[CAH Mar AAP Brand] [float] NULL,
	[CAH Mar AAP Src Generics] [float] NULL,
	[CAH Mar AAP Other Sales] [float] NULL,
	[CAH Mar AAP Total Sales] [float] NULL,
	[CAH Apr AAP Brand] [float] NULL,
	[CAH Apr AAP Src Generics] [float] NULL,
	[CAH Apr AAP Other Sales] [float] NULL,
	[CAH Apr AAP Total Sales] [float] NULL,
	[CAH May AAP Brand] [float] NULL,
	[CAH May AAP Src Generics] [float] NULL,
	[CAH May AAP Other Sales] [float] NULL,
	[CAH May AAP Total Sales] [float] NULL,
	[CAH Jun AAP Brand] [float] NULL,
	[CAH Jun AAP Src Generics] [float] NULL,
	[CAH Jun AAP Other Sales] [float] NULL,
	[CAH Jun AAP Total Sales] [float] NULL,
	[CAH Jul AAP Brand] [float] NULL,
	[CAH Jul AAP Src Generics] [float] NULL,
	[CAH Jul AAP Other Sales] [float] NULL,
	[CAH Jul AAP Total Sales] [float] NULL,
	[CAH Aug AAP Brand] [float] NULL,
	[CAH Aug AAP Src Generics] [float] NULL,
	[CAH Aug AAP Other Sales] [float] NULL,
	[CAH Aug AAP Total Sales] [float] NULL,
	[CAH Total Brand Sales] [float] NULL,
	[CAH Total Src Generic Sales] [float] NULL,
	[CAH Total Other Sales] [float] NULL,
	[CAH Total Sales] [float] NULL,
	[ML Jan 10 Volume] [float] NULL,
	[ML Feb 10 Volume] [float] NULL,
	[ML Mar 10 Volume] [float] NULL,
	[ML Apr 10 Volume] [float] NULL,
	[ML May 10 Volume] [float] NULL,
	[ML Jun 10 Volume] [float] NULL,
	[ML Jul 10 Volume] [float] NULL,
	[ML Aug 10 Volume] [float] NULL,
	[ML YTD Total Volume] [float] NULL,
	[Total Sep 09 Combined Mthly Sales] [float] NULL,
	[Total Oct 09 Combined Mthly Sales] [float] NULL,
	[Total Nov 09 Combined Mthly Sales] [float] NULL,
	[Total Dec 09 Combined Mthly Sales] [float] NULL,
	[Total Jan 10 Combined Mthly Sales] [float] NULL,
	[Total Feb 10 Combined Mthly Sales] [float] NULL,
	[Total Mar 10 Combined Mthly Sales] [float] NULL,
	[Total Apr 10 Combined Mthly Sales] [float] NULL,
	[Total May 10 Combined Mthly Sales] [float] NULL,
	[Total Jun 10 Combined Mthly Sales] [float] NULL,
	[Total Jul 10 Combined Mthly Sales] [float] NULL,
	[Total Aug 10 Combined Mthly Sales] [float] NULL,
	[Total Sep 10 Combined Mthly Sales] [float] NULL,
	[Total Combined YTD Sales] [float] NULL
) ON [PRIMARY]
GO
