USE [TempTables]
GO
/****** Object:  Table [dbo].[export0831$]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[export0831$](
	[CCID] [float] NULL,
	[CCDate] [datetime] NULL,
	[email] [nvarchar](255) NULL,
	[CCStatus] [nvarchar](255) NULL,
	[Company Name] [nvarchar](255) NULL,
	[NCPDP#] [float] NULL,
	[ID] [nvarchar](255) NULL,
	[PMID] [float] NULL,
	[Yes - Certified Diabetes Educator] [nvarchar](255) NULL,
	[Yes - Non-Certified] [float] NULL,
	[No] [float] NULL,
	[Comment] [nvarchar](255) NULL,
	[Yes] [float] NULL,
	[No1] [float] NULL,
	[Comment1] [nvarchar](255) NULL,
	[Yes1] [float] NULL,
	[No2] [float] NULL,
	[Comment2] [nvarchar](255) NULL,
	[Yes2] [float] NULL,
	[No3] [float] NULL,
	[Comment3] [nvarchar](255) NULL,
	[Level 1- 3: Defined as LOW, MEDIUM and HIGH level of skill] [float] NULL,
	[Level 4 - STERILE:  must submit USP 797 guidelines for sterile c] [nvarchar](255) NULL,
	[No4] [float] NULL,
	[Comment4] [nvarchar](255) NULL,
	[Light - canes crutches, wheelchairs] [float] NULL,
	[Heavy - O2, CPAPs, CPMs, hospital beds, motorized chairs, other ] [float] NULL,
	[I am a DME Accredited pharmacy] [float] NULL,
	[No5] [float] NULL,
	[Comment5] [nvarchar](255) NULL,
	[Yes - Self Administered] [float] NULL,
	[Yes - Intermediary / Third Party Administered] [nvarchar](255) NULL,
	[No6] [float] NULL,
	[Comment6] [nvarchar](255) NULL,
	[Yes - Flu vaccines] [float] NULL,
	[Yes - Travel vaccines] [float] NULL,
	[No7] [float] NULL,
	[Other] [nvarchar](255) NULL,
	[Comment7] [nvarchar](255) NULL,
	[Yes3] [float] NULL,
	[No8] [float] NULL,
	[Comment8] [nvarchar](255) NULL,
	[Yes4] [float] NULL,
	[No9] [float] NULL,
	[Comment9] [nvarchar](255) NULL,
	[Retirement Communities] [float] NULL,
	[Assisted Living Facilities] [float] NULL,
	[Hospice Centers] [float] NULL,
	[Skilled Nursing Facilities] [float] NULL,
	[Other1] [nvarchar](255) NULL,
	[Comment10] [nvarchar](255) NULL,
	[Yes - At no charge] [float] NULL,
	[Yes - Charge a fee] [float] NULL,
	[No10] [float] NULL,
	[Comment11] [nvarchar](255) NULL
) ON [PRIMARY]
GO
