USE [TempTables]
GO
/****** Object:  Table [dbo].[delete_u_plan_contract_080514]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_u_plan_contract_080514](
	[CONTRACT_ID] [int] NULL,
	[SERVICE_AREA] [varchar](100) NULL,
	[EFFECTIVE_DT] [datetime] NULL,
	[INDIVIDUAL_AGREEMENT] [smallint] NULL,
	[MEMBERS] [int] NULL,
	[INCLUDES_RURAL] [smallint] NULL,
	[POS_CHARGE] [numeric](6, 2) NULL,
	[MAND_FORMULARY] [char](6) NULL,
	[MAND_GEN_SUB] [char](6) NULL,
	[BRAND_REIMB] [varchar](255) NULL,
	[GEN_REIMB] [varchar](255) NULL,
	[PAY_METHOD] [varchar](40) NULL,
	[PAY_FREQ] [varchar](90) NULL,
	[BILL_TIME_LIMIT] [varchar](60) NULL,
	[ADD_INFO] [varchar](4000) NULL,
	[CLIENT_DESC] [char](3) NULL,
	[ACTIVE] [smallint] NULL,
	[SIGNED_CONTRACT] [smallint] NULL,
	[EXPIRATION_DT] [datetime] NULL,
	[CANCEL_DT] [datetime] NULL,
	[NOTIFY] [smallint] NULL,
	[NOTIFY_NOTES] [varchar](200) NULL,
	[NOTIFY_DIR] [smallint] NULL,
	[NOTIFY_CO] [varchar](90) NULL,
	[COPAY] [varchar](47) NULL,
	[ADMIN_FEE] [varchar](248) NULL,
	[COPAY_MIN] [varchar](49) NULL,
	[LAST_UPDATE] [datetime] NULL,
	[UPDATE_BY] [char](10) NULL,
	[AUDIT] [varchar](200) NULL,
	[LIABILITY] [varchar](110) NULL,
	[CONTRACT_TYPE] [varchar](25) NULL,
	[AUTO_RENEWAL] [smallint] NULL,
	[PLAN_NAME] [varchar](134) NULL,
	[ENVOY_BIN] [varchar](30) NULL,
	[ANSI_BIN] [varchar](255) NULL,
	[PRIOR_AUTHORIZATION] [smallint] NULL,
	[PCN] [varchar](255) NULL,
	[GROUP_NUM] [varchar](30) NULL,
	[ADD_NOTIFY] [smallint] NULL,
	[INCLUDES_ALASKA] [smallint] NULL,
	[NOTIFY_FORMAT] [char](3) NULL,
	[WEBSITE] [varchar](50) NULL,
	[PA_NOTE] [varchar](50) NULL,
	[PRICE_UPDATES] [varchar](12) NULL,
	[UPDATE_SOURCE] [varchar](20) NULL,
	[MSB_REIMB] [varchar](200) NULL,
	[ATTACH_KEY] [int] NULL,
	[PARENT_COMPANY] [varchar](134) NULL,
	[SSB_AWP_PCT] [float] NULL,
	[SSB_AWP_FEE] [float] NULL,
	[GEN_MAC_AMT] [float] NULL,
	[GEN_AWP_PCT] [float] NULL,
	[GEN_AWP_FEE] [float] NULL,
	[SSG_AWP_PCT] [float] NULL,
	[SSG_AWP_FEE] [float] NULL,
	[REMITTANCE_COMMENT] [varchar](255) NULL,
	[NETWORK_TYPE] [varchar](25) NULL,
	[MC_REP] [varchar](3) NULL,
	[WAC_BASED] [smallint] NULL,
	[AWP_RESPONDED] [smallint] NULL,
	[SSG_REIMB] [varchar](255) NULL,
	[FACTOR_METHOD] [smallint] NULL,
	[AWP_RESPONDED_PRESEPT2009] [smallint] NULL,
	[AWP_RESPONDED_POSTSEPT2009] [smallint] NULL
) ON [PRIMARY]
GO
