USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_APISLX_NF]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_APISLX_NF](
	[APIAccountNo] [varchar](50) NULL
) ON [PRIMARY]
GO
