USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_wh_dist]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_wh_dist](
	[whaccountid] [varchar](32) NULL
) ON [PRIMARY]
GO
