USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_CF]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_CF](
	[ACCOUNTID] [char](12) NOT NULL,
	[TYPE] [varchar](64) NULL,
	[ACCOUNT] [varchar](128) NULL,
	[DIVISION] [varchar](64) NULL,
	[SICCODE] [varchar](64) NULL,
	[PARENTID] [char](12) NULL,
	[DESCRIPTION] [varchar](128) NULL,
	[ADDRESSID] [char](12) NULL,
	[SHIPPINGID] [char](12) NULL,
	[REGION] [varchar](64) NULL,
	[MAINPHONE] [varchar](32) NULL,
	[ALTERNATEPHONE] [varchar](32) NULL,
	[FAX] [varchar](32) NULL,
	[TOLLFREE] [varchar](32) NULL,
	[TOLLFREE2] [varchar](32) NULL,
	[OTHERPHONE1] [varchar](32) NULL,
	[OTHERPHONE2] [varchar](32) NULL,
	[OTHERPHONE3] [varchar](32) NULL,
	[EMAIL] [varchar](128) NULL,
	[EMAILTYPE] [varchar](64) NULL,
	[WEBADDRESS] [varchar](128) NULL,
	[SECCODEID] [char](12) NOT NULL,
	[REVENUE] [decimal](17, 4) NULL,
	[EMPLOYEES] [int] NULL,
	[INDUSTRY] [varchar](64) NULL,
	[CREDITRATING] [varchar](10) NULL,
	[NOTES] [text] NULL,
	[STATUS] [varchar](64) NULL,
	[ACCOUNTMANAGERID] [char](12) NULL,
	[REGIONALMANAGERID] [char](12) NULL,
	[DIVISIONALMANAGERID] [char](12) NULL,
	[NATIONALACCOUNT] [char](1) NULL,
	[TARGETACCOUNT] [char](1) NULL,
	[TERRITORY] [varchar](64) NULL,
	[CREATEUSER] [char](12) NULL,
	[MODIFYUSER] [char](12) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFYDATE] [datetime] NULL,
	[ACCOUNT_UC] [varchar](128) NULL,
	[AKA] [varchar](64) NULL,
	[CURRENCYCODE] [varchar](64) NULL,
	[INTERNALACCOUNTNO] [varchar](32) NULL,
	[EXTERNALACCOUNTNO] [varchar](32) NULL,
	[PARENTACCOUNTNO] [varchar](32) NULL,
	[ALTERNATEKEYPREFIX] [varchar](8) NULL,
	[ALTERNATEKEYSUFFIX] [varchar](24) NULL,
	[DEFAULTTICKETSECCODEID] [char](12) NULL,
	[NOTIFYDEFECTS] [char](1) NULL,
	[NOTIFYONCLOSE] [char](1) NULL,
	[NOTIFYONSTATUS] [char](1) NULL,
	[SHORTNOTES] [varchar](255) NULL,
	[USERFIELD1] [varchar](80) NULL,
	[USERFIELD2] [varchar](80) NULL,
	[USERFIELD3] [varchar](80) NULL,
	[USERFIELD4] [varchar](80) NULL,
	[USERFIELD5] [varchar](80) NULL,
	[USERFIELD6] [varchar](80) NULL,
	[USERFIELD7] [varchar](80) NULL,
	[USERFIELD8] [varchar](80) NULL,
	[USERFIELD9] [varchar](80) NULL,
	[USERFIELD10] [varchar](80) NULL,
	[CAMPAIGNID] [char](12) NULL,
	[DONOTSOLICIT] [char](1) NULL,
	[SCORE] [varchar](32) NULL,
	[TICKER] [varchar](16) NULL,
	[SUBTYPE] [varchar](64) NULL,
	[LEADSOURCEID] [char](12) NULL,
	[IMPORTSOURCE] [varchar](24) NULL,
	[ENGINEERID] [char](12) NULL,
	[SALESENGINEERID] [char](12) NULL,
	[RELATIONSHIP] [int] NULL,
	[LASTHISTORYBY] [char](12) NULL,
	[LASTHISTORYDATE] [datetime] NULL,
	[BUSINESSDESCRIPTION] [varchar](2000) NULL,
	[WEBADDRESS2] [varchar](128) NULL,
	[WEBADDRESS3] [varchar](128) NULL,
	[WEBADDRESS4] [varchar](128) NULL,
	[GLOBALSYNCID] [varchar](36) NULL,
	[APPID] [varchar](12) NULL,
	[TICK] [int] NULL,
	[LASTERPSYNCUPDATE] [datetime] NULL,
	[PRIMARYOPERATINGCOMPID] [varchar](12) NULL,
	[PROMOTEDTOACCOUNTING] [varchar](1) NULL,
	[CREATESOURCE] [varchar](64) NULL,
	[ACCOUNTID_OLD] [char](12) NULL,
	[ENTITYID] [char](12) NULL,
	[contactid] [char](12) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
