USE [TempTables]
GO
/****** Object:  Table [dbo].[tmp_confAttendees]    Script Date: 12/22/2020 5:19:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_confAttendees](
	[CompanyName] [varchar](255) NULL,
	[AAPAccountNo] [varchar](255) NULL,
	[APIAccountNo] [varchar](255) NULL,
	[PMID] [numeric](18, 0) NULL,
	[IsPipco] [varchar](10) NULL
) ON [PRIMARY]
GO
