USE [ShipmentInfo]
GO
/****** Object:  View [Staging].[vwShipmentData]    Script Date: 12/22/2020 9:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Staging].[vwShipmentData]

AS


SELECT CONVERT(INT,ROW_NUM) AS S2KRowID
, TRY_CONVERT(NVARCHAR(35),CASE
							WHEN TRACKING_NUMBER NOT LIKE '%[a-zA-Z0-9]%' THEN NULL
							ELSE TRACKING_NUMBER
							END
							) AS TrackNum
, TRY_CONVERT(NUMERIC(18,2),SHIP_COST) AS [ShipCost]
, TRY_CONVERT(DATETIME,SHIP_DATE) AS ShipDate
, TRY_CONVERT(NVARCHAR(50),SHIP_STATUS) AS ShipStatus
, TRY_CONVERT(NVARCHAR(50),SHIP_METHOD) AS [ShipMethod]
, TRY_CONVERT(VARCHAR(50), ORDER_ID) AS OrderID
FROM ODSIntake.[Staging].[ShipmentInfo]
GO
