USE [RJSReportDelivery]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 12/22/2020 5:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingKey] [varchar](100) NOT NULL,
	[SettingValue] [varchar](1024) NOT NULL,
 CONSTRAINT [PK__SETTINGS__0BC6C43E] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
