USE [AAP]
GO
/****** Object:  Table [dbo].[CompareSSIS_PM_UD]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompareSSIS_PM_UD](
	[TableName] [varchar](19) NULL,
	[NDUPS] [int] NULL,
	[WHYMODIFIED] [varchar](100) NULL,
	[CORPNAME] [varchar](50) NULL,
	[STORE] [varchar](65) NULL,
	[GROUP] [varchar](25) NULL,
	[NON-PHARMACY] [varchar](1) NULL,
	[ACCT_NO] [varchar](5) NULL,
	[ADDR1] [varchar](60) NULL,
	[ADDR2] [varchar](60) NULL,
	[CITY] [varchar](20) NULL,
	[COUNTY] [varchar](50) NULL,
	[STATE] [varchar](2) NULL,
	[ZIP] [varchar](9) NULL,
	[ATTEND] [varchar](2) NULL,
	[COUNCIL] [varchar](20) NULL,
	[COUNCIL NAME] [varchar](30) NULL,
	[AREACODE] [varchar](3) NULL,
	[PHONE1] [varchar](8) NULL,
	[EMERGENCY PHONE] [varchar](15) NULL,
	[FAXAREACODE] [varchar](3) NULL,
	[FAX] [varchar](8) NULL,
	[EMAILADDRESS] [varchar](40) NULL,
	[WEBADDRESS] [varchar](50) NULL,
	[CONTACT_F] [varchar](16) NULL,
	[CONTACT_L] [varchar](20) NULL,
	[CONTACT PERSON'S TITLE] [varchar](20) NULL,
	[BoardOfDirectors] [varchar](50) NULL,
	[OFFICERS/YEAR] [varchar](50) NULL,
	[BOARD POSITION] [varchar](50) NULL,
	[NSTERRITORY] [varchar](2) NULL,
	[MDMTERRITORY] [varchar](2) NULL,
	[RESIGNED] [varchar](1) NULL,
	[ARCHIVE] [varchar](1) NULL,
	[FEE_PD] [smallint] NULL,
	[NPP_MBR] [smallint] NULL,
	[FOREIGN_GRP] [varchar](50) NULL,
	[FEDID] [varchar](12) NULL,
	[DEA] [varchar](10) NULL,
	[STATE MED #] [varchar](15) NULL,
	[RURAL] [smallint] NULL,
	[STATE LIC #] [varchar](15) NULL,
	[ON CALL] [varchar](5) NULL,
	[OBRA 90] [varchar](5) NULL,
	[COUNSELING AREA] [varchar](5) NULL,
	[PATIENT MR] [varchar](5) NULL,
	[DRUG INFORMATION] [varchar](5) NULL,
	[FRAUD?] [varchar](1) NULL,
	[FRD_FEL_EXPLAN] [varchar](50) NULL,
	[RX LICENSE SUS/REV] [varchar](5) NULL,
	[SUS_REV_EXPLAN] [varchar](50) NULL,
	[UNRESTRICTED LIC] [varchar](5) NULL,
	[UNRES_LIC_EXPLAN] [varchar](50) NULL,
	[INV/SANC BY MEDICARE] [varchar](5) NULL,
	[JUDGEMENTS] [varchar](5) NULL,
	[COMPLY WITH ADA ACT] [varchar](5) NULL,
	[UAI COVERAGE] [smallint] NULL,
	[PROF LIAB INS] [varchar](5) NULL,
	[PROF LIAB CARRIER] [varchar](30) NULL,
	[PROF POL #] [varchar](20) NULL,
	[PROF LIAB LIMIT 1] [int] NULL,
	[PROF LIAB LIMIT 2] [int] NULL,
	[PROF LIAB INS COF] [varchar](5) NULL,
	[GEN LIAB INS] [varchar](5) NULL,
	[GEN LIAB INS CARRIER] [varchar](30) NULL,
	[GEN LIAB INS POLICY #] [varchar](20) NULL,
	[GEN LIAB LIMIT 1] [int] NULL,
	[GEN LIAB LIMIT 2] [int] NULL,
	[PHAR LIAB INS] [varchar](5) NULL,
	[AVE WAIT TIME] [int] NULL,
	[MEDICATION ERRORS DOCUMENTED] [varchar](5) NULL,
	[RESOLUTION POLICY] [varchar](5) NULL,
	[COMPOUND PRESCRIPTIONS] [varchar](5) NULL,
	[UNIT DOSING] [smallint] NULL,
	[DUR MED EQ SVC] [smallint] NULL,
	[CERTIFIED DISEASE MGMT] [smallint] NULL,
	[CDM EXPLANATION] [varchar](50) NULL,
	[GROUP PRESENTATIONS] [smallint] NULL,
	[CONTINUING EDUCATION] [varchar](5) NULL,
	[ST BOARD INSP] [varchar](5) NULL,
	[COPY RELEASE INFO] [varchar](5) NULL,
	[NABP] [varchar](7) NULL,
	[BULLETIN] [varchar](3) NULL,
	[STORE SIZE CLASSIFICATION] [varchar](1) NULL,
	[HOLIDAY HOURS] [varchar](20) NULL,
	[HOURS] [varchar](50) NULL,
	[DELIVERY SERVICE] [varchar](6) NULL,
	[EMERGENCY SERVICES] [varchar](6) NULL,
	[ANS MACH/ANS SERVICE] [varchar](4) NULL,
	[ALTERNATIVE LANGUAGES] [varchar](50) NULL,
	[SPECIALTY SERVICES] [varchar](50) NULL,
	[COMPUTER SOFTWARE] [varchar](50) NULL,
	[OUTSIDE ID] [varchar](4) NULL,
	[WHOLESALER NAME] [varchar](15) NULL,
	[WHOLESALER ACCT#] [varchar](15) NULL,
	[DC_NBR] [varchar](3) NULL,
	[COMPETITIVEACCT] [smallint] NULL,
	[GPPFORM] [varchar](5) NULL,
	[GPPLETTER] [varchar](5) NULL,
	[LEAST EXP GEN] [smallint] NULL,
	[HEALTH PLAN CONTACTS] [varchar](100) NULL,
	[UNITED ASSURANCE] [varchar](4) NULL,
	[MEMO LIT SIGN] [varchar](200) NULL,
	[INDOOR LIGHTED SIGN] [varchar](50) NULL,
	[RX CARE PROGRAM] [varchar](50) NULL,
	[PCS FORM] [smallint] NULL,
	[GROUP DESIGNATION] [varchar](50) NULL,
	[IPCFORM] [varchar](3) NULL,
	[SWITCHEDFROM] [varchar](50) NULL,
	[PRE-POST] [smallint] NULL,
	[ARGUS AGREE] [smallint] NULL,
	[AFFILIATION] [varchar](3) NULL,
	[BBC SECONDARY ACCT] [varchar](50) NULL,
	[GNP] [varchar](3) NULL,
	[MSR] [varchar](4) NULL,
	[PASSWORD] [varchar](25) NULL,
	[LOGIN] [varchar](25) NULL,
	[AVERAGE VOLUME] [int] NULL,
	[PLUSCARE] [varchar](3) NULL,
	[STEP_UP] [smallint] NULL,
	[ADDCHG] [varchar](6) NULL,
	[CHAIN_CODE] [varchar](3) NULL,
	[PAYEE_ID] [int] NULL,
	[STORE_ID] [int] NULL,
	[LASTMODIFIED] [datetime] NULL,
	[QUITDATE] [datetime] NULL,
	[EFFECTIVE] [datetime] NULL,
	[DEAEXP] [datetime] NULL,
	[ST LIC EXP DATE] [datetime] NULL,
	[PROF LIAB INS EXP DATE] [datetime] NULL,
	[GEN LIAB INS EXP DATE] [datetime] NULL,
	[GRPEFFDATE] [datetime] NULL,
	[NPI] [varchar](10) NULL
) ON [PRIMARY]
GO
