USE [AAP]
GO
/****** Object:  StoredProcedure [dbo].[spaap_AAPAccount_Insert]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spaap_AAPAccount_Insert]
	@CorpName varchar(50),
	@StoreName varchar(65),
	@AAPID bigint,
	@ParentAAPID bigint,
	@Addr1 varchar(80),
	@Addr2 varchar(80),
	@City varchar(25),
	@State varchar(2),
	@Zip varchar(9),
	@AreaCode varchar(3),
	@Phone varchar(15),
	@FaxAreaCode varchar(3),
	@Fax varchar(15),
	@NSTerritory varchar(2),
	@FeePaid smallint,
	@NppMbr smallint,
	@DEA varchar(50),
	@DEAEXP datetime,
	@NCPDP varchar(7),
	@NPI varchar(50),
	@ArgusAgree smallint,
	@CompetitiveAcct smallint,
	@Email varchar(80),
	@GroupDesignation varchar(50),
	@IsMember smallint,
	@IsAffiliateGroup smallint,
	@IsBuyingGroup smallint,
	@IsNPP smallint,
	@IsWarehouse smallint,
	@IsPVA smallint,
	@IsPOS smallint,
	@AffiliateGroupName varchar(50),
	@County varchar(50),
	@OwnerFirst varchar(16),
	@OwnerLast varchar(20),
	@Effective datetime,
	@AvgWholesaleVolume bigint,
	@EffectiveAAP datetime,
	@IsStartUpStore smallint,
	@IsPharmacy smallint,
	@ChainCode int,
	@FedID varchar(12),
	@AAPPreviousGroup varchar(3),
	@SwitchedFrom varchar(50),
	@QuitDate datetime,
	@PreviousAcctNo varchar(50),
	@APIPreviousAcctNo varchar(50),
	@APIWarehouseAcctNo varchar(50),
	@Bulletin smallint,
	@StateLicNo varchar(15),
	@StateMedicaidNo varchar(15),
	@StateLicExpDate datetime,
	@Payee_id int,
	@EmergencyPhone varchar(15),
	@Hours varchar(50),
	@HolidayHours varchar(50),
	@GenLiabCarrier varchar(30),
	@GenLiabPolicyNumber varchar(20),
	@GenLiabilityLimit1 int,
	@GenLiabilityLimit2 int,
	@GenInsExpDate datetime,
	@ProfLiabCarrier varchar(30),
	@ProfLiabInsExpDate datetime,
	@ProfPolicyNumber varchar(20),
	@ProfLiabLimit1 int,
	@ProfLiabLimit2 int,
	@DeliveryService smallint,
	@EmergencyServices smallint,
	@AnsweringServiceOrMachine smallint,
	@AlternativeLanguages varchar(50),
	@SpecialtyServices varchar(50),
	@ComputerSoftware varchar(50),
	@Obra90 smallint,
	@CounselingArea smallint,
	@PatientMR smallint,
	@DrugInformation smallint,
	@FraudFelonyConviction smallint,
	@FraudFelonyExplanation varchar(50),
	@RxLicenseSuspendedOrRevoked smallint,
	@SuspensionRevokationExplanation varchar(50),
	@UnrestrictedLicense smallint,
	@UnrestrictedLicenseExplanation varchar(50),
	@InvestigatedByMedicareMedicaid smallint,
	@UAICoverage smallint,
	@Judgements smallint,
	@CompliesWithADAAct smallint,
	@AverageWaitTime int,
	@MedicationErrorsDocumented smallint,
	@ErrorCount12Months smallint,
	@HasResolutionPolicy smallint,
	@doesCompoundPrescriptions smallint,
	@UnitDosing smallint,
	@ProvidesDME smallint,
	@ProvidesIV smallint,
	@CertifiedDiseaseMgmt smallint,
	@CDMExplanation varchar(50),
	@GroupPresentations smallint,
	@ContinuingEducationRequired smallint,
	@StoreSizeClassification varchar(1),
	@CopyReleaseInfo smallint,
	@DBA varchar(50),
	@Website varchar(50),
	@Resigned varchar(1),
	@ContactFirst varchar(50),
	@ContactLast varchar(50),
	@ContactTitle varchar(50),
	@WhyResigned varchar(255),
	@Created datetime,
	@Modified datetime,
	@RowVersion int
AS

INSERT INTO [dbo].[AAPAccount] (
	[CorpName],
	[StoreName],
	[AAPID],
	[ParentAAPID],
	[Addr1],
	[Addr2],
	[City],
	[State],
	[Zip],
	[AreaCode],
	[Phone],
	[FaxAreaCode],
	[Fax],
	[NSTerritory],
	[FeePaid],
	[NppMbr],
	[DEA],
	[DEAEXP],
	[NCPDP],
	[NPI],
	[ArgusAgree],
	[CompetitiveAcct],
	[Email],
	[GroupDesignation],
	[IsMember],
	[IsAffiliateGroup],
	[IsBuyingGroup],
	[IsNPP],
	[IsWarehouse],
	[IsPVA],
	[IsPOS],
	[AffiliateGroupName],
	[County],
	[OwnerFirst],
	[OwnerLast],
	[Effective],
	[AvgWholesaleVolume],
	[EffectiveAAP],
	[IsStartUpStore],
	[IsPharmacy],
	[ChainCode],
	[FedID],
	[AAPPreviousGroup],
	[SwitchedFrom],
	[QuitDate],
	[PreviousAcctNo],
	[APIPreviousAcctNo],
	[APIWarehouseAcctNo],
	[Bulletin],
	[StateLicNo],
	[StateMedicaidNo],
	[StateLicExpDate],
	[Payee_id],
	[EmergencyPhone],
	[Hours],
	[HolidayHours],
	[GenLiabCarrier],
	[GenLiabPolicyNumber],
	[GenLiabilityLimit1],
	[GenLiabilityLimit2],
	[GenInsExpDate],
	[ProfLiabCarrier],
	[ProfLiabInsExpDate],
	[ProfPolicyNumber],
	[ProfLiabLimit1],
	[ProfLiabLimit2],
	[DeliveryService],
	[EmergencyServices],
	[AnsweringServiceOrMachine],
	[AlternativeLanguages],
	[SpecialtyServices],
	[ComputerSoftware],
	[Obra90],
	[CounselingArea],
	[PatientMR],
	[DrugInformation],
	[FraudFelonyConviction],
	[FraudFelonyExplanation],
	[RxLicenseSuspendedOrRevoked],
	[SuspensionRevokationExplanation],
	[UnrestrictedLicense],
	[UnrestrictedLicenseExplanation],
	[InvestigatedByMedicareMedicaid],
	[UAICoverage],
	[Judgements],
	[CompliesWithADAAct],
	[AverageWaitTime],
	[MedicationErrorsDocumented],
	[ErrorCount12Months],
	[HasResolutionPolicy],
	[doesCompoundPrescriptions],
	[UnitDosing],
	[ProvidesDME],
	[ProvidesIV],
	[CertifiedDiseaseMgmt],
	[CDMExplanation],
	[GroupPresentations],
	[ContinuingEducationRequired],
	[StoreSizeClassification],
	[CopyReleaseInfo],
	[DBA],
	[Website],
	[Resigned],
	[ContactFirst],
	[ContactLast],
	[ContactTitle],
	[WhyResigned],
	[Created],
	[Modified],
	[RowVersion])
VALUES (
	@CorpName,
	@StoreName,
	@AAPID,
	@ParentAAPID,
	@Addr1,
	@Addr2,
	@City,
	@State,
	@Zip,
	@AreaCode,
	@Phone,
	@FaxAreaCode,
	@Fax,
	@NSTerritory,
	@FeePaid,
	@NppMbr,
	@DEA,
	@DEAEXP,
	@NCPDP,
	@NPI,
	@ArgusAgree,
	@CompetitiveAcct,
	@Email,
	@GroupDesignation,
	@IsMember,
	@IsAffiliateGroup,
	@IsBuyingGroup,
	@IsNPP,
	@IsWarehouse,
	@IsPVA,
	@IsPOS,
	@AffiliateGroupName,
	@County,
	@OwnerFirst,
	@OwnerLast,
	@Effective,
	@AvgWholesaleVolume,
	@EffectiveAAP,
	@IsStartUpStore,
	@IsPharmacy,
	@ChainCode,
	@FedID,
	@AAPPreviousGroup,
	@SwitchedFrom,
	@QuitDate,
	@PreviousAcctNo,
	@APIPreviousAcctNo,
	@APIWarehouseAcctNo,
	@Bulletin,
	@StateLicNo,
	@StateMedicaidNo,
	@StateLicExpDate,
	@Payee_id,
	@EmergencyPhone,
	@Hours,
	@HolidayHours,
	@GenLiabCarrier,
	@GenLiabPolicyNumber,
	@GenLiabilityLimit1,
	@GenLiabilityLimit2,
	@GenInsExpDate,
	@ProfLiabCarrier,
	@ProfLiabInsExpDate,
	@ProfPolicyNumber,
	@ProfLiabLimit1,
	@ProfLiabLimit2,
	@DeliveryService,
	@EmergencyServices,
	@AnsweringServiceOrMachine,
	@AlternativeLanguages,
	@SpecialtyServices,
	@ComputerSoftware,
	@Obra90,
	@CounselingArea,
	@PatientMR,
	@DrugInformation,
	@FraudFelonyConviction,
	@FraudFelonyExplanation,
	@RxLicenseSuspendedOrRevoked,
	@SuspensionRevokationExplanation,
	@UnrestrictedLicense,
	@UnrestrictedLicenseExplanation,
	@InvestigatedByMedicareMedicaid,
	@UAICoverage,
	@Judgements,
	@CompliesWithADAAct,
	@AverageWaitTime,
	@MedicationErrorsDocumented,
	@ErrorCount12Months,
	@HasResolutionPolicy,
	@doesCompoundPrescriptions,
	@UnitDosing,
	@ProvidesDME,
	@ProvidesIV,
	@CertifiedDiseaseMgmt,
	@CDMExplanation,
	@GroupPresentations,
	@ContinuingEducationRequired,
	@StoreSizeClassification,
	@CopyReleaseInfo,
	@DBA,
	@Website,
	@Resigned,
	@ContactFirst,
	@ContactLast,
	@ContactTitle,
	@WhyResigned,
	@Created,
	@Modified,
	@RowVersion)

SELECT Scope_Identity() As [AccountID]
GO
