USE [AAP]
GO
/****** Object:  View [dbo].[v_PharmacyMaster_UD]    Script Date: 12/22/2020 9:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_PharmacyMaster_UD]
AS

SELECT 
      ud.[CORPNAME]  ,[DBA]  ,[STORE]  ,[MEMSTORE]  ,[GROUP] ,
       am.apiaccountno as [API AccountNo], am.aapaccountno as [AAP Accountno],am.aapparentno as [AAP Parent Account No],
      [NON-PHARMACY]  ,[ACCT_NO]  ,ud.[ADDR1]  ,ud.[ADDR2]
      ,ud.[CITY]  ,[COUNTY]  ,ud.[STATE] ,ud.[ZIP]  ,[ATTEND]  ,[COUNCIL] ,[COUNCIL NAME]  ,ud.[AREACODE]   ,[PHONE1]  ,[EMERGENCY PHONE]
      ,ud.[FAXAREACODE]  ,ud.[FAX] ,[EMAILADDRESS] ,[WEBADDRESS] ,[CONTACT_F] ,[CONTACT_L] ,[CONTACT PERSON'S TITLE] ,[BoardOfDirectors]
      ,[OFFICERS/YEAR]  ,[BOARD POSITION] ,[NSTERRITORY]  ,[MDMTERRITORY] ,[RESIGNED] ,[ARCHIVE]  ,[FEE_PD] ,[NPP_MBR] ,[FOREIGN_GRP]
      ,ud.[FEDID] ,ud.[DEA] ,[STATE MED #]  ,[RURAL] ,[STATE LIC #] ,[ON CALL]  ,[OBRA 90] ,[COUNSELING AREA] ,[PATIENT MR]  ,[DRUG INFORMATION]
      ,[FRAUD?]  ,[FRD_FEL_EXPLAN] ,[RX LICENSE SUS/REV]  ,[SUS_REV_EXPLAN]  ,[UNRESTRICTED LIC] ,[UNRES_LIC_EXPLAN]  ,[INV/SANC BY MEDICARE]
      ,[JUDGEMENTS] ,[COMPLY WITH ADA ACT] ,[UAI COVERAGE] ,[PROF LIAB INS] ,[PROF LIAB CARRIER] ,[PROF POL #] ,[PROF LIAB LIMIT 1] ,[PROF LIAB LIMIT 2]
      ,[PROF LIAB INS COF] ,[GEN LIAB INS] ,[GEN LIAB INS CARRIER] ,[GEN LIAB INS POLICY #] ,[GEN LIAB LIMIT 1] ,[GEN LIAB LIMIT 2]  ,[PHAR LIAB INS]
      ,[AVE WAIT TIME] ,[MEDICATION ERRORS DOCUMENTED] ,[NUMBER ERRORS 12 MOS]  ,[RESOLUTION POLICY] ,[COMPOUND PRESCRIPTIONS]
      ,[UNIT DOSING] ,[DUR MED EQ SVC] ,[IV ADMIXTURE] ,[CERTIFIED DISEASE MGMT] ,[CDM EXPLANATION] ,[GROUP PRESENTATIONS] ,[CONTINUING EDUCATION]
      ,[ST BOARD INSP]  ,[COPY RELEASE INFO]  ,[NABP]  ,[BULLETIN]  ,[STORE SIZE CLASSIFICATION]  ,[HOLIDAY HOURS]  ,[HOURS]  ,[DELIVERY SERVICE]
      ,[EMERGENCY SERVICES]  ,[ANS MACH/ANS SERVICE]  ,[ALTERNATIVE LANGUAGES] ,[SPECIALTY SERVICES] ,[COMPUTER SOFTWARE] ,[OUTSIDE ID]
      ,[WHOLESALER NAME],[WHOLESALER ACCT#] ,[DC_NBR] ,[COMPETITIVEACCT]  ,[GPPFORM]  ,[GPPLETTER]  ,[LEAST EXP GEN]  ,[HEALTH PLAN CONTACTS] ,[UNITED ASSURANCE]
      ,[MEMO LIT SIGN] ,[INDOOR LIGHTED SIGN] ,[RX CARE PROGRAM] ,[PCS FORM] ,[GROUP DESIGNATION] ,[IPCFORM] ,[SWITCHEDFROM] ,[PRE-POST]
      ,[ARGUS AGREE] ,[AFFILIATION] ,[BBC SECONDARY ACCT] ,[GNP] ,[MSR] ,[PASSWORD],[LOGIN],[AVERAGE VOLUME] ,[PLUSCARE]  ,[STEP_UP] ,[ADDCHG]
      ,[CHAIN_CODE] ,[PAYEE_ID] ,[STORE_ID] ,[LASTMODIFIED] ,[QUITDATE] ,[EFFECTIVE] ,ud.[DEAEXP] ,[ST LIC EXP DATE] ,[PROF LIAB INS EXP DATE]
      ,[GEN LIAB INS EXP DATE] ,[GRPEFFDATE]  ,[NPI]
FROM PharmacyMaster  am
join (SELECT * FROM reporting.dbo.storemember )ud
ON am.udaccountno = ud.acct_no
GO
