USE [AAP]
GO
/****** Object:  Table [dbo].[tmp_aapaccount_bkp]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_aapaccount_bkp](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[CorpName] [varchar](50) NULL,
	[StoreName] [varchar](65) NULL,
	[AAPID] [bigint] NULL,
	[ParentAAPID] [bigint] NULL,
	[Addr1] [varchar](80) NULL,
	[Addr2] [varchar](80) NULL,
	[City] [varchar](25) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](9) NULL,
	[AreaCode] [varchar](3) NULL,
	[Phone] [varchar](15) NULL,
	[FaxAreaCode] [varchar](3) NULL,
	[Fax] [varchar](15) NULL,
	[NSTerritory] [varchar](2) NULL,
	[FeePaid] [smallint] NULL,
	[NppMbr] [smallint] NULL,
	[DEA] [varchar](50) NULL,
	[DEAEXP] [datetime] NULL,
	[NCPDP] [varchar](7) NULL,
	[NPI] [varchar](50) NULL,
	[ArgusAgree] [smallint] NULL,
	[CompetitiveAcct] [smallint] NULL,
	[Email] [varchar](80) NULL,
	[GroupDesignation] [varchar](50) NULL,
	[IsMember] [smallint] NULL,
	[IsAffiliateGroup] [smallint] NULL,
	[IsBuyingGroup] [smallint] NULL,
	[IsNPP] [smallint] NULL,
	[IsWarehouse] [smallint] NULL,
	[IsPVA] [smallint] NULL,
	[IsPOS] [smallint] NULL,
	[AffiliateGroupName] [varchar](50) NULL,
	[County] [varchar](50) NULL,
	[OwnerFirst] [varchar](16) NULL,
	[OwnerLast] [varchar](20) NULL,
	[Effective] [datetime] NULL,
	[AvgWholesaleVolume] [bigint] NULL,
	[EffectiveAAP] [datetime] NULL,
	[IsStartUpStore] [smallint] NULL,
	[IsPharmacy] [smallint] NULL,
	[ChainCode] [int] NULL,
	[FedID] [varchar](12) NULL,
	[AAPPreviousGroup] [varchar](3) NULL,
	[SwitchedFrom] [varchar](50) NULL,
	[QuitDate] [datetime] NULL,
	[PreviousAcctNo] [varchar](50) NULL,
	[APIPreviousAcctNo] [varchar](50) NULL,
	[APIWarehouseAcctNo] [varchar](50) NULL,
	[Bulletin] [smallint] NULL,
	[TS] [timestamp] NULL,
	[StateLicNo] [varchar](15) NULL,
	[StateMedicaidNo] [varchar](15) NULL,
	[StateLicExpDate] [datetime] NULL,
	[Payee_id] [int] NULL,
	[EmergencyPhone] [varchar](15) NULL,
	[Hours] [varchar](50) NULL,
	[HolidayHours] [varchar](50) NULL,
	[GenLiabCarrier] [varchar](30) NULL,
	[GenLiabPolicyNumber] [varchar](20) NULL,
	[GenLiabilityLimit1] [int] NULL,
	[GenLiabilityLimit2] [int] NULL,
	[GenInsExpDate] [datetime] NULL,
	[ProfLiabCarrier] [varchar](30) NULL,
	[ProfLiabInsExpDate] [datetime] NULL,
	[ProfPolicyNumber] [varchar](20) NULL,
	[ProfLiabLimit1] [int] NULL,
	[ProfLiabLimit2] [int] NULL,
	[DeliveryService] [smallint] NULL,
	[EmergencyServices] [smallint] NULL,
	[AnsweringServiceOrMachine] [smallint] NULL,
	[AlternativeLanguages] [varchar](50) NULL,
	[SpecialtyServices] [varchar](50) NULL,
	[ComputerSoftware] [varchar](50) NULL,
	[Obra90] [smallint] NULL,
	[CounselingArea] [smallint] NULL,
	[PatientMR] [smallint] NULL,
	[DrugInformation] [smallint] NULL,
	[FraudFelonyConviction] [smallint] NULL,
	[FraudFelonyExplanation] [varchar](50) NULL,
	[RxLicenseSuspendedOrRevoked] [smallint] NULL,
	[SuspensionRevokationExplanation] [varchar](50) NULL,
	[UnrestrictedLicense] [smallint] NULL,
	[UnrestrictedLicenseExplanation] [varchar](50) NULL,
	[InvestigatedByMedicareMedicaid] [smallint] NULL,
	[UAICoverage] [smallint] NULL,
	[Judgements] [smallint] NULL,
	[CompliesWithADAAct] [smallint] NULL,
	[AverageWaitTime] [int] NULL,
	[MedicationErrorsDocumented] [smallint] NULL,
	[ErrorCount12Months] [smallint] NULL,
	[HasResolutionPolicy] [smallint] NULL,
	[doesCompoundPrescriptions] [smallint] NULL,
	[UnitDosing] [smallint] NULL,
	[ProvidesDME] [smallint] NULL,
	[ProvidesIV] [smallint] NULL,
	[CertifiedDiseaseMgmt] [smallint] NULL,
	[CDMExplanation] [varchar](50) NULL,
	[GroupPresentations] [smallint] NULL,
	[ContinuingEducationRequired] [smallint] NULL,
	[StoreSizeClassification] [varchar](1) NULL,
	[CopyReleaseInfo] [smallint] NULL,
	[DBA] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[Resigned] [varchar](1) NULL,
	[ContactFirst] [varchar](50) NULL,
	[ContactLast] [varchar](50) NULL,
	[ContactTitle] [varchar](50) NULL,
	[WhyResigned] [varchar](255) NULL,
	[AccountDescription] [varchar](150) NULL,
	[MCEffectiveDate] [datetime] NULL,
	[MCQuitDate] [datetime] NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
	[RowVersion] [int] NOT NULL
) ON [PRIMARY]
GO
