USE [AAP]
GO
/****** Object:  StoredProcedure [dbo].[spaap_AAPAccount_Select]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spaap_AAPAccount_Select]
	@AccountID int
AS

SELECT
	[AccountID],
	[CorpName],
	[StoreName],
	[AAPID],
	[ParentAAPID],
	[Addr1],
	[Addr2],
	[City],
	[State],
	[Zip],
	[AreaCode],
	[Phone],
	[FaxAreaCode],
	[Fax],
	[NSTerritory],
	[FeePaid],
	[NppMbr],
	[DEA],
	[DEAEXP],
	[NCPDP],
	[NPI],
	[ArgusAgree],
	[CompetitiveAcct],
	[Email],
	[GroupDesignation],
	[IsMember],
	[IsAffiliateGroup],
	[IsBuyingGroup],
	[IsNPP],
	[IsWarehouse],
	[IsPVA],
	[IsPOS],
	[AffiliateGroupName],
	[County],
	[OwnerFirst],
	[OwnerLast],
	[Effective],
	[AvgWholesaleVolume],
	[EffectiveAAP],
	[IsStartUpStore],
	[IsPharmacy],
	[ChainCode],
	[FedID],
	[AAPPreviousGroup],
	[SwitchedFrom],
	[QuitDate],
	[PreviousAcctNo],
	[APIPreviousAcctNo],
	[APIWarehouseAcctNo],
	[Bulletin],
	[TS],
	[StateLicNo],
	[StateMedicaidNo],
	[StateLicExpDate],
	[Payee_id],
	[EmergencyPhone],
	[Hours],
	[HolidayHours],
	[GenLiabCarrier],
	[GenLiabPolicyNumber],
	[GenLiabilityLimit1],
	[GenLiabilityLimit2],
	[GenInsExpDate],
	[ProfLiabCarrier],
	[ProfLiabInsExpDate],
	[ProfPolicyNumber],
	[ProfLiabLimit1],
	[ProfLiabLimit2],
	[DeliveryService],
	[EmergencyServices],
	[AnsweringServiceOrMachine],
	[AlternativeLanguages],
	[SpecialtyServices],
	[ComputerSoftware],
	[Obra90],
	[CounselingArea],
	[PatientMR],
	[DrugInformation],
	[FraudFelonyConviction],
	[FraudFelonyExplanation],
	[RxLicenseSuspendedOrRevoked],
	[SuspensionRevokationExplanation],
	[UnrestrictedLicense],
	[UnrestrictedLicenseExplanation],
	[InvestigatedByMedicareMedicaid],
	[UAICoverage],
	[Judgements],
	[CompliesWithADAAct],
	[AverageWaitTime],
	[MedicationErrorsDocumented],
	[ErrorCount12Months],
	[HasResolutionPolicy],
	[doesCompoundPrescriptions],
	[UnitDosing],
	[ProvidesDME],
	[ProvidesIV],
	[CertifiedDiseaseMgmt],
	[CDMExplanation],
	[GroupPresentations],
	[ContinuingEducationRequired],
	[StoreSizeClassification],
	[CopyReleaseInfo],
	[DBA],
	[Website],
	[Resigned],
	[ContactFirst],
	[ContactLast],
	[ContactTitle],
	[WhyResigned],
	[Created],
	[Modified],
	[RowVersion]
FROM
	[dbo].[AAPAccount]
WHERE
	[AccountID] = @AccountID
GO
