USE [AAP]
GO
/****** Object:  Table [dbo].[APIMktFAX_LIST_del]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIMktFAX_LIST_del](
	[NANUM] [nvarchar](255) NULL,
	[BUSCLS] [nvarchar](255) NULL,
	[NANAME] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[ST] [nvarchar](255) NULL,
	[FAX] [nvarchar](255) NULL
) ON [PRIMARY]
GO
