USE [AAP]
GO
/****** Object:  Table [dbo].[tmp_pm_jmw]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_pm_jmw](
	[AccountMasterID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](65) NULL,
	[AAPAccountNo] [varchar](20) NULL,
	[AAPParentNo] [varchar](20) NULL,
	[APIAccountNo] [varchar](20) NULL,
	[UDAccountNo] [varchar](20) NULL,
	[UDParentNo] [varchar](25) NULL,
	[Addr1] [varchar](80) NULL,
	[Addr2] [varchar](80) NULL,
	[City] [varchar](25) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](10) NULL,
	[ContactFullName] [varchar](255) NULL,
	[ContactFirst] [varchar](50) NULL,
	[ContactLast] [varchar](50) NULL,
	[Territory] [varchar](4) NULL,
	[QPS] [varchar](4) NULL,
	[APIMemberNo] [varchar](30) NULL,
	[BusinessClass] [varchar](4) NULL,
	[AreaCode] [varchar](3) NULL,
	[Phone] [varchar](50) NULL,
	[FaxAreaCode] [varchar](3) NULL,
	[Fax] [varchar](50) NULL,
	[Email] [varchar](80) NULL,
	[DateOpened] [datetime] NULL,
	[OrigStartDate] [datetime] NULL,
	[NumReactivated] [int] NULL,
	[Wholesaler] [varchar](25) NULL,
	[WholesalerAccountNo] [varchar](32) NULL,
	[DEA] [varchar](50) NULL,
	[DEAEXP] [datetime] NULL,
	[Status] [varchar](32) NULL,
	[CAHStatus] [varchar](32) NULL,
	[CardinalDC] [varchar](32) NULL,
	[PrimaryCAAccountNo] [varchar](32) NULL,
	[ContractDate] [datetime] NULL,
	[StateLicNo] [varchar](15) NULL,
	[StateLicExpDate] [datetime] NULL,
	[FedID] [varchar](12) NULL,
	[Source] [varchar](25) NULL,
	[AllowDupDEA] [varchar](1) NULL,
	[ChainCode] [varchar](10) NULL,
	[Rank] [bigint] NULL,
	[Rank1] [bigint] NULL
) ON [PRIMARY]
GO
