USE [AAP]
GO
/****** Object:  Table [dbo].[tmp_q4_mem_MC_jmw]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_q4_mem_MC_jmw](
	[accountNo] [varchar](50) NULL,
	[Q4Avg] [float] NULL
) ON [PRIMARY]
GO
