USE [AAP]
GO
/****** Object:  StoredProcedure [dbo].[spaap_AAPAccount_Update]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spaap_AAPAccount_Update]
	@AccountID int,
	@CorpName varchar(50),
	@StoreName varchar(65),
	@AAPID bigint,
	@ParentAAPID bigint,
	@Addr1 varchar(80),
	@Addr2 varchar(80),
	@City varchar(25),
	@State varchar(2),
	@Zip varchar(9),
	@AreaCode varchar(3),
	@Phone varchar(15),
	@FaxAreaCode varchar(3),
	@Fax varchar(15),
	@NSTerritory varchar(2),
	@FeePaid smallint,
	@NppMbr smallint,
	@DEA varchar(50),
	@DEAEXP datetime,
	@NCPDP varchar(7),
	@NPI varchar(50),
	@ArgusAgree smallint,
	@CompetitiveAcct smallint,
	@Email varchar(80),
	@GroupDesignation varchar(50),
	@IsMember smallint,
	@IsAffiliateGroup smallint,
	@IsBuyingGroup smallint,
	@IsNPP smallint,
	@IsWarehouse smallint,
	@IsPVA smallint,
	@IsPOS smallint,
	@AffiliateGroupName varchar(50),
	@County varchar(50),
	@OwnerFirst varchar(16),
	@OwnerLast varchar(20),
	@Effective datetime,
	@AvgWholesaleVolume bigint,
	@EffectiveAAP datetime,
	@IsStartUpStore smallint,
	@IsPharmacy smallint,
	@ChainCode int,
	@FedID varchar(12),
	@AAPPreviousGroup varchar(3),
	@SwitchedFrom varchar(50),
	@QuitDate datetime,
	@PreviousAcctNo varchar(50),
	@APIPreviousAcctNo varchar(50),
	@APIWarehouseAcctNo varchar(50),
	@Bulletin smallint,
	@StateLicNo varchar(15),
	@StateMedicaidNo varchar(15),
	@StateLicExpDate datetime,
	@Payee_id int,
	@EmergencyPhone varchar(15),
	@Hours varchar(50),
	@HolidayHours varchar(50),
	@GenLiabCarrier varchar(30),
	@GenLiabPolicyNumber varchar(20),
	@GenLiabilityLimit1 int,
	@GenLiabilityLimit2 int,
	@GenInsExpDate datetime,
	@ProfLiabCarrier varchar(30),
	@ProfLiabInsExpDate datetime,
	@ProfPolicyNumber varchar(20),
	@ProfLiabLimit1 int,
	@ProfLiabLimit2 int,
	@DeliveryService smallint,
	@EmergencyServices smallint,
	@AnsweringServiceOrMachine smallint,
	@AlternativeLanguages varchar(50),
	@SpecialtyServices varchar(50),
	@ComputerSoftware varchar(50),
	@Obra90 smallint,
	@CounselingArea smallint,
	@PatientMR smallint,
	@DrugInformation smallint,
	@FraudFelonyConviction smallint,
	@FraudFelonyExplanation varchar(50),
	@RxLicenseSuspendedOrRevoked smallint,
	@SuspensionRevokationExplanation varchar(50),
	@UnrestrictedLicense smallint,
	@UnrestrictedLicenseExplanation varchar(50),
	@InvestigatedByMedicareMedicaid smallint,
	@UAICoverage smallint,
	@Judgements smallint,
	@CompliesWithADAAct smallint,
	@AverageWaitTime int,
	@MedicationErrorsDocumented smallint,
	@ErrorCount12Months smallint,
	@HasResolutionPolicy smallint,
	@doesCompoundPrescriptions smallint,
	@UnitDosing smallint,
	@ProvidesDME smallint,
	@ProvidesIV smallint,
	@CertifiedDiseaseMgmt smallint,
	@CDMExplanation varchar(50),
	@GroupPresentations smallint,
	@ContinuingEducationRequired smallint,
	@StoreSizeClassification varchar(1),
	@CopyReleaseInfo smallint,
	@DBA varchar(50),
	@Website varchar(50),
	@Resigned varchar(1),
	@ContactFirst varchar(50),
	@ContactLast varchar(50),
	@ContactTitle varchar(50),
	@WhyResigned varchar(255),
	@Created datetime,
	@Modified datetime,
	@RowVersion int
AS

UPDATE [dbo].[AAPAccount]
SET
	[CorpName] = @CorpName,
	[StoreName] = @StoreName,
	[AAPID] = @AAPID,
	[ParentAAPID] = @ParentAAPID,
	[Addr1] = @Addr1,
	[Addr2] = @Addr2,
	[City] = @City,
	[State] = @State,
	[Zip] = @Zip,
	[AreaCode] = @AreaCode,
	[Phone] = @Phone,
	[FaxAreaCode] = @FaxAreaCode,
	[Fax] = @Fax,
	[NSTerritory] = @NSTerritory,
	[FeePaid] = @FeePaid,
	[NppMbr] = @NppMbr,
	[DEA] = @DEA,
	[DEAEXP] = @DEAEXP,
	[NCPDP] = @NCPDP,
	[NPI] = @NPI,
	[ArgusAgree] = @ArgusAgree,
	[CompetitiveAcct] = @CompetitiveAcct,
	[Email] = @Email,
	[GroupDesignation] = @GroupDesignation,
	[IsMember] = @IsMember,
	[IsAffiliateGroup] = @IsAffiliateGroup,
	[IsBuyingGroup] = @IsBuyingGroup,
	[IsNPP] = @IsNPP,
	[IsWarehouse] = @IsWarehouse,
	[IsPVA] = @IsPVA,
	[IsPOS] = @IsPOS,
	[AffiliateGroupName] = @AffiliateGroupName,
	[County] = @County,
	[OwnerFirst] = @OwnerFirst,
	[OwnerLast] = @OwnerLast,
	[Effective] = @Effective,
	[AvgWholesaleVolume] = @AvgWholesaleVolume,
	[EffectiveAAP] = @EffectiveAAP,
	[IsStartUpStore] = @IsStartUpStore,
	[IsPharmacy] = @IsPharmacy,
	[ChainCode] = @ChainCode,
	[FedID] = @FedID,
	[AAPPreviousGroup] = @AAPPreviousGroup,
	[SwitchedFrom] = @SwitchedFrom,
	[QuitDate] = @QuitDate,
	[PreviousAcctNo] = @PreviousAcctNo,
	[APIPreviousAcctNo] = @APIPreviousAcctNo,
	[APIWarehouseAcctNo] = @APIWarehouseAcctNo,
	[Bulletin] = @Bulletin,
	[StateLicNo] = @StateLicNo,
	[StateMedicaidNo] = @StateMedicaidNo,
	[StateLicExpDate] = @StateLicExpDate,
	[Payee_id] = @Payee_id,
	[EmergencyPhone] = @EmergencyPhone,
	[Hours] = @Hours,
	[HolidayHours] = @HolidayHours,
	[GenLiabCarrier] = @GenLiabCarrier,
	[GenLiabPolicyNumber] = @GenLiabPolicyNumber,
	[GenLiabilityLimit1] = @GenLiabilityLimit1,
	[GenLiabilityLimit2] = @GenLiabilityLimit2,
	[GenInsExpDate] = @GenInsExpDate,
	[ProfLiabCarrier] = @ProfLiabCarrier,
	[ProfLiabInsExpDate] = @ProfLiabInsExpDate,
	[ProfPolicyNumber] = @ProfPolicyNumber,
	[ProfLiabLimit1] = @ProfLiabLimit1,
	[ProfLiabLimit2] = @ProfLiabLimit2,
	[DeliveryService] = @DeliveryService,
	[EmergencyServices] = @EmergencyServices,
	[AnsweringServiceOrMachine] = @AnsweringServiceOrMachine,
	[AlternativeLanguages] = @AlternativeLanguages,
	[SpecialtyServices] = @SpecialtyServices,
	[ComputerSoftware] = @ComputerSoftware,
	[Obra90] = @Obra90,
	[CounselingArea] = @CounselingArea,
	[PatientMR] = @PatientMR,
	[DrugInformation] = @DrugInformation,
	[FraudFelonyConviction] = @FraudFelonyConviction,
	[FraudFelonyExplanation] = @FraudFelonyExplanation,
	[RxLicenseSuspendedOrRevoked] = @RxLicenseSuspendedOrRevoked,
	[SuspensionRevokationExplanation] = @SuspensionRevokationExplanation,
	[UnrestrictedLicense] = @UnrestrictedLicense,
	[UnrestrictedLicenseExplanation] = @UnrestrictedLicenseExplanation,
	[InvestigatedByMedicareMedicaid] = @InvestigatedByMedicareMedicaid,
	[UAICoverage] = @UAICoverage,
	[Judgements] = @Judgements,
	[CompliesWithADAAct] = @CompliesWithADAAct,
	[AverageWaitTime] = @AverageWaitTime,
	[MedicationErrorsDocumented] = @MedicationErrorsDocumented,
	[ErrorCount12Months] = @ErrorCount12Months,
	[HasResolutionPolicy] = @HasResolutionPolicy,
	[doesCompoundPrescriptions] = @doesCompoundPrescriptions,
	[UnitDosing] = @UnitDosing,
	[ProvidesDME] = @ProvidesDME,
	[ProvidesIV] = @ProvidesIV,
	[CertifiedDiseaseMgmt] = @CertifiedDiseaseMgmt,
	[CDMExplanation] = @CDMExplanation,
	[GroupPresentations] = @GroupPresentations,
	[ContinuingEducationRequired] = @ContinuingEducationRequired,
	[StoreSizeClassification] = @StoreSizeClassification,
	[CopyReleaseInfo] = @CopyReleaseInfo,
	[DBA] = @DBA,
	[Website] = @Website,
	[Resigned] = @Resigned,
	[ContactFirst] = @ContactFirst,
	[ContactLast] = @ContactLast,
	[ContactTitle] = @ContactTitle,
	[WhyResigned] = @WhyResigned,
	[Created] = @Created,
	[Modified] = @Modified,
	[RowVersion] = @RowVersion
WHERE
	[AccountID] = @AccountID
GO
