USE [AAP]
GO
/****** Object:  Table [dbo].[tmp_1]    Script Date: 12/22/2020 4:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_1](
	[dea] [varchar](50) NULL,
	[Q4_2009] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
