USE [ODSIntake]
GO
/****** Object:  Table [Archive].[APIOrder]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Archive].[APIOrder](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[IDINVN] [numeric](7, 0) NOT NULL,
	[IDTYPP] [numeric](1, 0) NOT NULL,
	[IDINYY] [numeric](4, 0) NOT NULL,
	[IDORNO] [numeric](7, 0) NOT NULL,
	[IDLINE] [numeric](5, 0) NOT NULL,
	[IDIDAT] [numeric](8, 0) NOT NULL,
	[IDCUNO] [char](11) NOT NULL,
	[IDPRDC] [char](35) NOT NULL,
	[IDDESC] [char](30) NOT NULL,
	[IDQTY] [numeric](15, 3) NOT NULL,
	[IDDECC] [numeric](1, 0) NOT NULL,
	[IDSQTY] [numeric](15, 3) NOT NULL,
	[IDDECU] [numeric](1, 0) NOT NULL,
	[IDUNIT] [char](5) NOT NULL,
	[IDDDAT] [numeric](8, 0) NOT NULL,
	[IDDTIM] [numeric](5, 0) NOT NULL,
	[IDSALP] [numeric](17, 4) NOT NULL,
	[IDDCPR] [numeric](4, 2) NOT NULL,
	[IDDCAM] [numeric](17, 4) NOT NULL,
	[IDAMOU] [numeric](17, 4) NOT NULL,
	[IDFOCC] [char](1) NOT NULL,
	[IDOVDC] [char](1) NOT NULL,
	[IDVAHC] [char](4) NOT NULL,
	[IDSHPM] [char](30) NOT NULL,
	[IDCONO] [numeric](8, 0) NOT NULL,
	[IDRPRV] [numeric](17, 4) NOT NULL,
	[IDTRTY] [numeric](1, 0) NOT NULL,
	[IDCOSP] [numeric](17, 4) NOT NULL,
	[IDPGRP] [char](5) NOT NULL,
	[IDPAGR] [char](4) NOT NULL,
	[IDPCA1] [char](5) NOT NULL,
	[IDPCA2] [char](5) NOT NULL,
	[IDPCA3] [char](5) NOT NULL,
	[IDPCA4] [char](5) NOT NULL,
	[IDPCA5] [char](5) NOT NULL,
	[IDPCA6] [char](5) NOT NULL,
	[IDCGRP] [char](6) NOT NULL,
	[IDCAGR] [char](4) NOT NULL,
	[IDCCA1] [char](6) NOT NULL,
	[IDCCA2] [char](6) NOT NULL,
	[IDCCA3] [char](6) NOT NULL,
	[IDDGRP] [char](2) NOT NULL,
	[IDCOUN] [char](4) NOT NULL,
	[IDAREA] [char](3) NOT NULL,
	[IDHAND] [char](10) NOT NULL,
	[IDSROM] [char](3) NOT NULL,
	[IDORDT] [char](2) NOT NULL,
	[IDSUPP] [char](11) NOT NULL,
	[IDODIS] [numeric](4, 2) NOT NULL,
	[IDSALE] [char](10) NOT NULL,
	[IDNPRC] [numeric](17, 4) NOT NULL,
	[IDEXR3] [numeric](13, 7) NOT NULL,
	[IDSTRU] [numeric](1, 0) NOT NULL,
	[IDRDTE] [numeric](8, 0) NOT NULL,
	[IDRDTI] [numeric](5, 0) NOT NULL,
	[IDTDCD] [char](1) NOT NULL,
	[IDDDCD] [char](1) NOT NULL,
	[IDPOTP] [char](2) NOT NULL,
	[IDPORN] [numeric](7, 0) NOT NULL,
	[IDPLIN] [numeric](5, 0) NOT NULL,
	[IDPCOD] [char](3) NOT NULL,
	[IDPERI] [numeric](6, 0) NOT NULL,
	[IDSENC] [char](1) NOT NULL,
	[IDOLIN] [numeric](5, 0) NOT NULL,
	[IDGWGT] [numeric](11, 5) NOT NULL,
	[IDNWGT] [numeric](11, 5) NOT NULL,
	[IDGVOL] [numeric](11, 5) NOT NULL,
	[IDNVOL] [numeric](11, 5) NOT NULL,
	[IDICNO] [char](11) NOT NULL,
	[IDSTCF] [numeric](1, 0) NOT NULL,
	[IDSVCC] [char](1) NOT NULL,
	[IDAGMC] [char](1) NOT NULL,
	[IDTECN] [char](10) NOT NULL,
	[IDPTPE] [char](5) NOT NULL,
	[IDODAT] [numeric](8, 0) NOT NULL,
	[IDNOTR] [char](3) NOT NULL,
	[IDPOVA] [char](4) NOT NULL,
	[IDCSNO] [char](18) NOT NULL,
	[IDOCOU] [char](4) NOT NULL,
	[IDNSVA] [numeric](17, 4) NOT NULL,
	[IDDLBU] [char](1) NOT NULL,
	[IDCIPO] [numeric](7, 0) NOT NULL,
	[IDIORD] [char](1) NOT NULL,
	[IDIOTY] [char](2) NOT NULL,
	[IDLCVA] [numeric](17, 4) NOT NULL,
	[IDEDPC] [char](1) NOT NULL,
	[IDBTCC] [char](1) NOT NULL,
	[IDPODR] [char](20) NOT NULL,
	[IDPROD] [char](1) NOT NULL,
	[IDDENO] [char](11) NOT NULL,
	[IDDIS2] [numeric](4, 2) NOT NULL,
	[IDDIS3] [numeric](4, 2) NOT NULL,
	[IDDIS4] [numeric](4, 2) NOT NULL,
	[IDDIS5] [numeric](4, 2) NOT NULL,
	[IDDIS6] [numeric](4, 2) NOT NULL,
	[IDDIS7] [numeric](4, 2) NOT NULL,
	[IDDIS8] [numeric](4, 2) NOT NULL,
	[IDDIS9] [numeric](4, 2) NOT NULL,
	[IDITET] [numeric](17, 3) NOT NULL,
	[IDITIT] [numeric](17, 3) NOT NULL,
	[IDITT] [numeric](17, 3) NOT NULL,
	[IDTAXF] [char](1) NOT NULL,
	[IDUPBA] [numeric](9, 5) NOT NULL,
	[IDVATI] [char](1) NOT NULL,
	[IDLAOC] [numeric](17, 4) NOT NULL,
	[IDVAOC] [numeric](17, 4) NOT NULL,
	[IDTAXC] [char](1) NOT NULL,
	[IDTSRM] [char](3) NOT NULL,
	[IDCIOL] [numeric](5, 0) NOT NULL,
	[IDCCOD] [char](3) NOT NULL,
	[IDHCOD] [char](5) NOT NULL,
	[IDLBCD] [char](3) NOT NULL,
	[IDNCCN] [numeric](7, 0) NOT NULL,
	[IDPCKT] [char](10) NOT NULL,
	[IDREAS] [char](3) NOT NULL,
	[IDIVTP] [char](4) NOT NULL,
	[IDROCO] [char](1) NOT NULL,
	[IDAGMT] [char](12) NOT NULL,
	[IDPDGR] [char](5) NOT NULL,
	[IDINUM] [numeric](7, 0) NOT NULL,
	[IDINLN] [numeric](5, 0) NOT NULL,
	[IDQUNO] [numeric](7, 0) NOT NULL,
	[IDVRNO] [numeric](2, 0) NOT NULL,
	[IDQULN] [numeric](5, 0) NOT NULL,
	[IDDECCH1] [char](6) NOT NULL,
	[IDDECCH2] [char](6) NOT NULL,
	[IDDECCH3] [char](6) NOT NULL,
	[IDDECCH4] [char](6) NOT NULL,
	[IDDECCH5] [char](6) NOT NULL,
	[IDDECCH6] [char](6) NOT NULL,
	[IDDECCH7] [char](6) NOT NULL,
	[IDDECCH8] [char](6) NOT NULL,
	[IDDECCH9] [char](6) NOT NULL,
	[IDDECCF1] [char](6) NOT NULL,
	[IDDECCF2] [char](6) NOT NULL,
	[IDDECCF3] [char](6) NOT NULL,
	[IDDECCF4] [char](6) NOT NULL,
	[IDDECCF5] [char](6) NOT NULL,
	[IDDECCUN] [char](11) NOT NULL,
	[IDDEDCUN] [char](11) NOT NULL,
	[IDDEPST1] [char](5) NOT NULL,
	[IDDEPST2] [char](5) NOT NULL,
	[IDDEPST3] [char](5) NOT NULL,
	[IDDEPST4] [char](5) NOT NULL,
	[IDDEPST5] [char](5) NOT NULL,
	[IDDEPST6] [char](5) NOT NULL,
	[IDDEPST7] [char](5) NOT NULL,
	[IDDEPST8] [char](5) NOT NULL,
	[IDDEPST9] [char](5) NOT NULL,
	[IDAMCF] [numeric](1, 0) NOT NULL,
	[IDCPCF] [numeric](1, 0) NOT NULL,
	[IDPPGR] [char](5) NOT NULL,
	[IDPRFA] [char](5) NOT NULL,
	[IDPRSE] [char](5) NOT NULL,
	[IDPROI] [numeric](7, 0) NOT NULL,
	[IDPRPH] [numeric](3, 0) NOT NULL,
	[IDPROL] [numeric](4, 0) NOT NULL,
	[IDPLAN] [char](10) NOT NULL,
	[IDPRCL] [char](1) NOT NULL,
	[IDPRIL] [char](2) NOT NULL,
	[IDSOPR] [numeric](1, 0) NOT NULL,
	[IDBOPR] [numeric](1, 0) NOT NULL,
	[IDTXKY] [numeric](15, 0) NOT NULL,
	[IDCPRD] [char](35) NOT NULL,
	[IDCPDS] [char](30) NOT NULL,
	[IDCSTS] [char](7) NOT NULL,
	[IDDIVN] [char](8) NOT NULL,
	[IDCOPO] [char](1) NOT NULL,
	[IDIS01] [char](35) NOT NULL,
	[IDIS02] [char](35) NOT NULL,
	[IDIS03] [char](35) NOT NULL,
	[IDIS04] [char](35) NOT NULL,
	[IDIS05] [char](35) NOT NULL,
	[IDIS06] [char](35) NOT NULL,
	[IDISPR] [char](35) NOT NULL,
	[IDAGTP] [char](5) NOT NULL,
	[IDJNBR] [numeric](3, 0) NOT NULL,
	[IDOPRD] [char](35) NOT NULL,
	[IDOSEN] [char](20) NOT NULL,
	[IDRECQ] [numeric](15, 3) NOT NULL,
	[IDREC1] [numeric](15, 3) NOT NULL,
	[IDACQT] [numeric](15, 3) NOT NULL,
	[IDACT1] [numeric](15, 3) NOT NULL,
	[IDIREC] [char](1) NOT NULL,
	[IDPDDT] [numeric](8, 0) NOT NULL,
	[IDPDRD] [numeric](5, 0) NOT NULL,
	[IDDEBI] [numeric](4, 0) NOT NULL,
	[IDRESP] [char](10) NOT NULL,
	[IDCCGR] [char](5) NOT NULL,
	[IDPCGR] [char](5) NOT NULL,
	[IDSPGR] [char](5) NOT NULL,
	[IDSDAG] [char](15) NOT NULL,
	[IDSDCA] [numeric](17, 4) NOT NULL,
	[IDSATX] [char](1) NOT NULL,
	[IDPRME] [char](5) NOT NULL,
	[IDSHPA] [char](11) NOT NULL,
	[IDROUT] [char](10) NOT NULL,
	[IDDEST] [char](10) NOT NULL,
	[IDTPRC] [char](1) NOT NULL,
	[IDDLVD] [numeric](8, 0) NOT NULL,
	[IDRDVD] [numeric](8, 0) NOT NULL,
	[IDTRPT] [numeric](3, 0) NOT NULL,
	[IDDEPA] [char](10) NOT NULL,
	[IDPCKD] [char](1) NOT NULL,
	[IDPTQT] [numeric](15, 3) NOT NULL,
	[IDUSPUNT] [char](5) NOT NULL,
	[IDUSPCNV] [numeric](15, 9) NOT NULL,
	[IDUSPQTY] [numeric](23, 7) NOT NULL,
	[IDUSRRAQ] [numeric](15, 3) NOT NULL,
	[IDUSRRUQ] [numeric](15, 3) NOT NULL,
	[IDUSPRQY] [numeric](15, 3) NOT NULL,
	[IDRBPR] [numeric](17, 4) NOT NULL,
	[IDUSCURB] [numeric](17, 4) NOT NULL,
	[IDUSPACU] [numeric](23, 9) NOT NULL,
	[IDRPAB] [numeric](17, 4) NOT NULL,
	[IDUSPSLN] [numeric](5, 0) NOT NULL,
	[IDGTPE] [char](5) NOT NULL,
	[IDSHPG] [char](5) NOT NULL,
	[IDLTYP] [numeric](2, 0) NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowversionID] [timestamp] NOT NULL,
 CONSTRAINT [CPK_Archive_APIOrder] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Archive].[APIOrder] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
