USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CAH_Betty_20200128]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAH_Betty_20200128](
	[Month] [nvarchar](255) NULL,
	[PMID] [nvarchar](255) NULL,
	[NetSales] [money] NULL
) ON [PRIMARY]
GO
