USE [ODSIntake]
GO
/****** Object:  Table [dbo].[VSHEAD]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VSHEAD](
	[SADEL] [char](1) NOT NULL,
	[SACMP] [numeric](3, 0) NOT NULL,
	[SAORD] [numeric](9, 0) NOT NULL,
	[SASLOC] [char](4) NOT NULL,
	[SABOCD] [numeric](3, 0) NOT NULL,
	[SACUST] [char](7) NOT NULL,
	[SATYPE] [char](1) NOT NULL,
	[SAPICK] [numeric](7, 0) NOT NULL,
	[SAEMAL] [char](50) NOT NULL,
	[SASHIP] [char](7) NOT NULL,
	[SADSTC] [char](7) NOT NULL,
	[SACLOC] [char](7) NOT NULL,
	[SASNAM] [char](30) NOT NULL,
	[SASAD1] [char](30) NOT NULL,
	[SASAD2] [char](30) NOT NULL,
	[SASAD3] [char](30) NOT NULL,
	[SACITY] [char](17) NOT NULL,
	[SAST] [char](2) NOT NULL,
	[SAMZIP] [char](15) NOT NULL,
	[SACNTR] [char](3) NOT NULL,
	[SACNTY] [numeric](4, 0) NOT NULL,
	[SALOC1] [numeric](4, 0) NOT NULL,
	[SALOC2] [numeric](4, 0) NOT NULL,
	[SAFRT] [numeric](11, 2) NOT NULL,
	[SAHAND] [numeric](11, 2) NOT NULL,
	[SAMISC] [numeric](11, 2) NOT NULL,
	[SARESK] [numeric](11, 2) NOT NULL,
	[SADSC1] [numeric](3, 3) NOT NULL,
	[SADSC2] [numeric](3, 3) NOT NULL,
	[SADSC3] [numeric](3, 3) NOT NULL,
	[SAORDT] [numeric](8, 0) NOT NULL,
	[SAORYM] [numeric](6, 0) NOT NULL,
	[SAINDT] [numeric](8, 0) NOT NULL,
	[SAINYM] [numeric](6, 0) NOT NULL,
	[SADTIN] [numeric](8, 0) NOT NULL,
	[SASHDT] [numeric](8, 0) NOT NULL,
	[SASHYM] [numeric](6, 0) NOT NULL,
	[SARQDT] [numeric](8, 0) NOT NULL,
	[SADDAT] [numeric](8, 0) NOT NULL,
	[SACADT] [numeric](8, 0) NOT NULL,
	[SAPKDT] [numeric](8, 0) NOT NULL,
	[SAPODT] [numeric](8, 0) NOT NULL,
	[SAPOYM] [numeric](6, 0) NOT NULL,
	[SADUDT] [numeric](6, 0) NOT NULL,
	[SAINV] [numeric](9, 0) NOT NULL,
	[SAITOT] [numeric](11, 2) NOT NULL,
	[SALOC] [char](4) NOT NULL,
	[SABLOC] [char](4) NOT NULL,
	[SASMN1] [numeric](5, 0) NOT NULL,
	[SASMN2] [numeric](5, 0) NOT NULL,
	[SACMR1] [numeric](7, 4) NOT NULL,
	[SACMR2] [numeric](7, 4) NOT NULL,
	[SATERM] [char](2) NOT NULL,
	[SASHTR] [char](15) NOT NULL,
	[SASTR] [char](4) NOT NULL,
	[SACPO] [char](20) NOT NULL,
	[SAVIA] [char](4) NOT NULL,
	[SASCAC] [char](35) NOT NULL,
	[SAUPIN] [char](1) NOT NULL,
	[SABKO] [char](1) NOT NULL,
	[SADRSH] [char](1) NOT NULL,
	[SADEAL] [char](1) NOT NULL,
	[SACRES] [char](3) NOT NULL,
	[SAPERS] [char](3) NOT NULL,
	[SACAUS] [char](3) NOT NULL,
	[SAHOLD] [char](4) NOT NULL,
	[SAHORD] [char](1) NOT NULL,
	[SAORDS] [char](1) NOT NULL,
	[SAORWT] [char](3) NOT NULL,
	[SASINS] [char](30) NOT NULL,
	[SAPHYP] [numeric](6, 0) NOT NULL,
	[SABTCH] [numeric](6, 0) NOT NULL,
	[SAYTDD] [numeric](11, 2) NOT NULL,
	[SADEPL] [numeric](11, 2) NOT NULL,
	[SAPTYP] [char](6) NOT NULL,
	[SACCCK] [char](25) NOT NULL,
	[SAEXP] [numeric](4, 0) NOT NULL,
	[SAAUTH] [char](1) NOT NULL,
	[SAAUT#] [char](8) NOT NULL,
	[SAROUT] [char](4) NOT NULL,
	[SASTOP] [numeric](3, 0) NOT NULL,
	[SADRIV] [char](3) NOT NULL,
	[SATXOR] [char](1) NOT NULL,
	[SATXST] [char](1) NOT NULL,
	[SATXCN] [char](1) NOT NULL,
	[SATXL1] [char](1) NOT NULL,
	[SATXL2] [char](1) NOT NULL,
	[SASTTX] [numeric](11, 2) NOT NULL,
	[SACNTX] [numeric](11, 2) NOT NULL,
	[SAL1TX] [numeric](11, 2) NOT NULL,
	[SAL2TX] [numeric](11, 2) NOT NULL,
	[SAAMTX] [numeric](11, 2) NOT NULL,
	[SASTPE] [numeric](6, 6) NOT NULL,
	[SACNPE] [numeric](6, 6) NOT NULL,
	[SAL1PE] [numeric](6, 6) NOT NULL,
	[SAL2PE] [numeric](6, 6) NOT NULL,
	[SATTPE] [numeric](6, 6) NOT NULL,
	[SAREV#] [numeric](4, 0) NOT NULL,
	[SAFOB] [char](2) NOT NULL,
	[SAFOBP] [char](15) NOT NULL,
	[SABOL] [char](30) NOT NULL,
	[SAPRON] [char](15) NOT NULL,
	[SAADV] [char](30) NOT NULL,
	[SASORT] [char](10) NOT NULL,
	[SAWGHT] [numeric](13, 4) NOT NULL,
	[SAGWGH] [numeric](13, 4) NOT NULL,
	[SALINE] [numeric](6, 0) NOT NULL,
	[SATSHP] [numeric](11, 2) NOT NULL,
	[SAPCKS] [numeric](9, 0) NOT NULL,
	[SATCRT] [numeric](9, 0) NOT NULL,
	[SADEPT] [char](9) NOT NULL,
	[SARLNO] [char](9) NOT NULL,
	[SAPOTY] [char](10) NOT NULL,
	[SAPROM] [char](10) NOT NULL,
	[SAOHNS] [char](10) NOT NULL,
	[SATSP] [char](2) NOT NULL,
	[SANETW] [char](2) NOT NULL,
	[SATRST] [char](1) NOT NULL,
	[SAMLOV] [char](2) NOT NULL,
	[SASUPN] [char](30) NOT NULL,
	[SATTQ] [char](2) NOT NULL,
	[SATRTM] [numeric](4, 0) NOT NULL,
	[SATLID] [char](10) NOT NULL,
	[SAASNS] [char](1) NOT NULL,
	[SAMO] [numeric](9, 0) NOT NULL,
	[SAMOSQ] [numeric](3, 0) NOT NULL,
	[SARORD] [numeric](14, 0) NOT NULL,
	[SAWCST] [char](7) NOT NULL,
	[SAWORD] [numeric](9, 0) NOT NULL,
	[SAWSID] [char](10) NOT NULL,
	[SAJNUM] [char](6) NOT NULL,
	[SAUSER] [char](10) NOT NULL,
	[SAKEYC] [char](6) NOT NULL,
	[SAPHONE] [char](20) NOT NULL,
	[SACONT] [char](30) NOT NULL,
	[SARETAIL] [char](1) NOT NULL,
	[SATLOAD] [numeric](7, 0) NOT NULL,
	[SAREC#] [numeric](9, 0) NOT NULL,
	[SABAN#] [char](7) NOT NULL,
	[SAREA#] [char](3) NOT NULL,
	[SAOSTO] [char](4) NOT NULL,
	[SABODD] [numeric](11, 2) NOT NULL,
	[SACRCD] [char](3) NOT NULL,
	[SACNVF] [numeric](10, 5) NOT NULL,
	[SAFFRT] [numeric](11, 2) NOT NULL,
	[SAFHAND] [numeric](11, 2) NOT NULL,
	[SAFMISC] [numeric](11, 2) NOT NULL,
	[SAFRESK] [numeric](11, 2) NOT NULL,
	[SAFITOT] [numeric](11, 2) NOT NULL,
	[SAFYTDD] [numeric](11, 2) NOT NULL,
	[SAFDEPL] [numeric](11, 2) NOT NULL,
	[SAFBODD] [numeric](11, 2) NOT NULL,
	[SAFSTTX] [numeric](11, 2) NOT NULL,
	[SAFCNTX] [numeric](11, 2) NOT NULL,
	[SAFL1TX] [numeric](11, 2) NOT NULL,
	[SAFL2TX] [numeric](11, 2) NOT NULL,
	[SAFAMTX] [numeric](11, 2) NOT NULL,
	[SACHGD] [numeric](11, 2) NOT NULL,
	[SAINHO] [numeric](11, 2) NOT NULL,
	[SAOPT#] [numeric](9, 0) NOT NULL,
	[SAPCRC] [char](5) NOT NULL,
	[SASRBILL] [char](1) NOT NULL,
	[SACLNO] [numeric](7, 0) NOT NULL,
	[SARPAIDFUL] [char](1) NOT NULL,
	[SARLASTONE] [char](1) NOT NULL,
	[SATIMEL] [numeric](4, 0) NOT NULL,
	[SAPOD] [char](1) NOT NULL,
	[SAPORET] [char](1) NOT NULL,
	[SARET#] [numeric](9, 0) NOT NULL,
	[SAICCMP] [numeric](3, 0) NOT NULL,
	[SAICPO] [numeric](9, 0) NOT NULL,
	[SAVRET] [char](1) NOT NULL,
	[SAVRET#] [numeric](9, 0) NOT NULL,
	[SASHPC] [char](1) NOT NULL,
	[SASEASON] [char](3) NOT NULL,
	[SACCTD] [numeric](8, 0) NOT NULL,
	[SACCTT] [numeric](6, 0) NOT NULL,
	[SACCTU] [char](10) NOT NULL,
	[SACCTP] [char](10) NOT NULL,
	[SALCGD] [numeric](8, 0) NOT NULL,
	[SALCGT] [numeric](6, 0) NOT NULL,
	[SALCGU] [char](10) NOT NULL,
	[SALCGP] [char](10) NOT NULL,
	[SAPGRP] [char](7) NOT NULL,
	[SAPMAT] [char](3) NOT NULL,
	[SASPHONE] [char](20) NOT NULL,
	[SASCONT] [char](30) NOT NULL,
	[SAPARENT] [char](7) NOT NULL,
	[SAGRNDPAR] [char](7) NOT NULL,
	[SACCLS] [char](2) NOT NULL,
	[SARST] [char](2) NOT NULL,
	[SARZIP] [char](15) NOT NULL,
	[SARCITY] [char](17) NOT NULL,
	[SATERR] [char](4) NOT NULL,
	[SA_OROUT] [char](5) NOT NULL,
	[SA_ADDON] [char](1) NOT NULL,
	[SA_SLING] [char](1) NOT NULL,
	[SA_WSTAT] [char](1) NOT NULL,
	[SA_RQOVR] [char](1) NOT NULL,
	[SA_ORGO] [char](1) NOT NULL,
	[SA_NROUT] [char](5) NOT NULL,
	[SAWHO] [char](30) NOT NULL,
	[SAPRONL] [char](30) NOT NULL,
	[SATXID] [char](15) NOT NULL,
	[SA_PROMO] [char](7) NOT NULL,
	[SA_PROVR] [char](1) NOT NULL,
	[SACRDREB] [char](1) NOT NULL,
	[SACAMP] [numeric](9, 0) NOT NULL,
	[SABUSU] [char](2) NOT NULL,
	[SAPODFLG] [char](1) NOT NULL,
	[SASHPCD] [char](3) NOT NULL,
	[SAXPHS340] [char](20) NOT NULL,
	[SAXPHSFLG] [char](1) NOT NULL,
	[SAXOVRCUS] [char](7) NOT NULL,
	[SAFREEFRT] [numeric](11, 2) NOT NULL,
	[SAFDTXE] [numeric](11, 2) NOT NULL,
	[SASTTXE] [numeric](11, 2) NOT NULL,
	[SACNTXE] [numeric](11, 2) NOT NULL,
	[SAL1TXE] [numeric](11, 2) NOT NULL,
	[SAL2TXE] [numeric](11, 2) NOT NULL,
	[SAAMTXE] [numeric](11, 2) NOT NULL,
	[SAFDTXEF] [numeric](11, 2) NOT NULL,
	[SASTTXEF] [numeric](11, 2) NOT NULL,
	[SACNTXEF] [numeric](11, 2) NOT NULL,
	[SAL1TXEF] [numeric](11, 2) NOT NULL,
	[SAL2TXEF] [numeric](11, 2) NOT NULL,
	[SAAMTXEF] [numeric](11, 2) NOT NULL,
	[SA@PKCTL] [numeric](9, 0) NOT NULL,
	[SA@DESTCOD] [char](10) NOT NULL,
	[SAPREQ] [char](10) NOT NULL,
	[N] [numeric](6, 0) NOT NULL,
	[SAPGMCD] [char](10) NOT NULL
) ON [PRIMARY]
GO
