USE [ODSIntake]
GO
/****** Object:  Table [dbo].[PMID_WA]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMID_WA](
	[PMID] [float] NULL
) ON [PRIMARY]
GO
