USE [ODSIntake]
GO
/****** Object:  View [dbo].[vwAPIInventoryS2K]    Script Date: 12/22/2020 9:21:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwAPIInventoryS2K]

AS

SELECT CAST(CONVERT(VARCHAR(20),GETDATE(),112) as INT) AS DateKey
, TRY_CONVERT(VARCHAR(10), LTRIM(RTRIM(COMPANY_NO))) AS CompanyNo
, TRY_CONVERT(VARCHAR(25), LTRIM(RTRIM(SKU))) AS ItemNum
, TRY_CONVERT(VARCHAR(25), LTRIM(RTRIM(WAREHOUSE))) AS Warehouse
, TRY_CONVERT(DECIMAL(18,2), AVAILABLE) AS QOH
FROM [10.80.2.41].[S7810B60].R60MODSDTA.INVENTORY
GO
