USE [ODSIntake]
GO
/****** Object:  Table [dbo].[ABC]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABC](
	[C1] [varchar](8000) NULL,
	[C2] [varchar](8000) NULL
) ON [PRIMARY]
GO
