USE [ODSIntake]
GO
/****** Object:  Table [dbo].[API_Missed_Disc_20200501]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Missed_Disc_20200501](
	[IDCUNO] [nvarchar](255) NULL,
	[Disc Amount] [float] NULL,
	[Type] [nvarchar](255) NULL,
	[Inv] [nvarchar](255) NULL
) ON [PRIMARY]
GO
