USE [ODSIntake]
GO
/****** Object:  Table [dbo].[API_RSE_20200805]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_RSE_20200805](
	[PMID] [nvarchar](100) NULL,
	[APIAccountNumHistorical] [nvarchar](255) NULL
) ON [PRIMARY]
GO
