USE [ODSIntake]
GO
/****** Object:  Table [dbo].[CAH_UnitsSold_Sept]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAH_UnitsSold_Sept](
	[NDC] [varchar](15) NULL,
	[UnitsSold] [int] NULL
) ON [PRIMARY]
GO
