USE [ODSIntake]
GO
/****** Object:  Table [dbo].[Affiliation_20200310]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Affiliation_20200310](
	[(Do Not Modify) Account] [nvarchar](255) NULL,
	[(Do Not Modify) Row Checksum] [nvarchar](255) NULL,
	[(Do Not Modify) Modified On] [datetime] NULL,
	[PMID] [nvarchar](255) NULL,
	[Pharmacy Name] [nvarchar](255) NULL,
	[Affiliation] [nvarchar](255) NULL
) ON [PRIMARY]
GO
