USE [ODSIntake]
GO
/****** Object:  View [Staging].[vwAPIPricing]    Script Date: 12/22/2020 9:21:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [Staging].[vwAPIPricing]

AS

SELECT [ROW]
 , COMPANY_NO
 , SKU
 , [STATUS]
 , PRODUCT_ONLINE
 , NAME
 , CATEGORY_NAME
 , CATEGORY_ID
 , TOP_CATEGORY_NAME
 , TOP_CATEGORY_ID
 , CASE 
	WHEN NDC NOT LIKE '%[a-zA-Z0-9]%' THEN NULL
	ELSE NDC
	END AS NDC
, UPC
, BARCODE
, IS_CONTROL
, IS_CII_CONTROL
, IS_REMS_RESTRICTED
, IS_REFRIGERATED
, TAX_CLASS_NAME
, PRICE, CREATED
, UPDATED
, MSRP
, RELATED_SKUS
, UPSELL_SKUS
, ALLOCATION
, IMAGE_PATH_LG
, [WEIGHT]
, [DESCRIPTION]
, CASE
	WHEN BRAND_NAME NOT LIKE '%[a-zA-Z0-9]%' THEN NULL 
	ELSE BRAND_NAME
	END AS BRAND_NAME
, CASE 
	WHEN RBIAMT NOT LIKE '%[a-zA-Z0-9]%' THEN NULL 
	ELSE RBIAMT 
	END as REBATE_AMT
, CONVERT(DATE, GETDATE()) AS EffectiveDate
, CONVERT(BIT, CASE 
			WHEN TOP_CATEGORY_ID = '2000' and CATEGORY_ID <> '2006' THEN 1 
			ELSE 0 
			END
			) as IsTier1
, CONVERT(BIT, CASE 
				WHEN CATEGORY_ID = '2006' THEN 1 
				ELSE 0 
				END 
			)as IsTier2
FROM [10.80.2.41].[S7810B60].R60MODSDTA.PRODUCTS AS P
LEFT OUTER JOIN (SELECT RBIID, RBIITEM, RBIAMT
				FROM (SELECT RBIITEM, RBIAMT, RBIID, RBMFRDT, RBMTODT, RANK() OVER (PARTITION BY RBIITEM ORDER BY RBMFRDT DESC) as RNK
					FROM [10.80.2.41].[S7810B60].R60FILES.VPORBTIT 
					INNER JOIN  [10.80.2.41].[S7810B60].R60FILES.VCORBTMS
					ON RBIID = RBMID 
					WHERE RBIDEL = 'A'
					AND RBMDEL = 'A' 
					) AA
				 WHERE RNK =1
				) AS RB ON SKU =RBIITEM

/*
 SELECT [ROW]
 , COMPANY_NO
 , SKU
 , [STATUS]
 , PRODUCT_ONLINE
 , NAME
 , CATEGORY_NAME
 , CATEGORY_ID
 , TOP_CATEGORY_NAME
 , TOP_CATEGORY_ID
 , CASE 
	WHEN NDC NOT LIKE '%[a-zA-Z0-9]%' THEN NULL
	ELSE NDC
	END AS NDC
 , UPC
 , BARCODE
 , IS_CONTROL
, IS_CII_CONTROL
, IS_REMS_RESTRICTED
, IS_REFRIGERATED
, TAX_CLASS_NAME
, PRICE
, CREATED
, UPDATED
, MSRP
, RELATED_SKUS
, UPSELL_SKUS
, ALLOCATION
, IMAGE_PATH_LG
, [WEIGHT]
, [DESCRIPTION]
, CASE
	WHEN BRAND_NAME NOT LIKE '%[a-zA-Z0-9]%' THEN NULL 
	ELSE BRAND_NAME
	END AS BRAND_NAME
, CASE	
	WHEN RBIAMT NOT LIKE '%[a-zA-Z0-9]%' THEN NULL 
	ELSE RBIAMT 
	END as REBATE_AMT
, CONVERT(DATE, GETDATE()) AS EffectiveDate
, CONVERT(BIT, CASE 
			WHEN TOP_CATEGORY_ID = '2000' and CATEGORY_ID <> '2006' THEN 1 
			ELSE 0 
			END
			) as IsTier1
, CONVERT(BIT, CASE WHEN CATEGORY_ID = '2006' THEN 1 
			ELSE 0 
			END 
			)as IsTier2
FROM [10.80.2.41].[S7810B60].R60MODSDTA.PRODUCTS P
LEFT OUTER JOIN (SELECT * FROM[10.80.2.41].[S7810B60].R60FILES.VPORBTIT WHERE RBIDEL = 'A') AS t ON SKU = RBIITEM
LEFT OUTER JOIN (SELECT * FROM[10.80.2.41].[S7810B60].R60FILES.VCORBTMS WHERE RBMDEL = 'A') AS s ON RBIID = RBMID
*/



GO
