USE [ODSIntake]
GO
/****** Object:  Table [Staging].[SRBSRO]    Script Date: 12/22/2020 4:42:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Staging].[SRBSRO](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[SROPNO] [numeric](2, 0) NOT NULL,
	[SRDEID] [varchar](25) NOT NULL,
	[SRSTAT] [varchar](25) NOT NULL,
	[SRPRDC] [varchar](25) NOT NULL,
	[SRSROM] [varchar](25) NOT NULL,
	[SRZONE] [varchar](25) NOT NULL,
	[SRBIN1] [varchar](25) NOT NULL,
	[SRBIN2] [varchar](25) NOT NULL,
	[SRSTHQ] [numeric](15, 3) NOT NULL,
	[SRTSHQ] [numeric](15, 3) NOT NULL,
	[SRPURQ] [numeric](15, 3) NOT NULL,
	[SRRETQ] [numeric](15, 3) NOT NULL,
	[SRCUSQ] [numeric](15, 3) NOT NULL,
	[SRPICQ] [numeric](15, 3) NOT NULL,
	[SRPUTQ] [numeric](15, 3) NOT NULL,
	[SRCUTQ] [numeric](15, 3) NOT NULL,
	[SRPITQ] [numeric](15, 3) NOT NULL,
	[SRDNIQ] [numeric](15, 3) NOT NULL,
	[SRTDNQ] [numeric](15, 3) NOT NULL,
	[SRSPLQ] [numeric](15, 3) NOT NULL,
	[SRMINQ] [numeric](15, 3) NOT NULL,
	[SRDELQ] [numeric](15, 3) NOT NULL,
	[SRNITY] [numeric](5, 0) NOT NULL,
	[SRNIPY] [numeric](5, 0) NOT NULL,
	[SRIQTY] [numeric](15, 3) NOT NULL,
	[SRIQPY] [numeric](15, 3) NOT NULL,
	[SRIDAT] [numeric](8, 0) NOT NULL,
	[SRNRTY] [numeric](5, 0) NOT NULL,
	[SRNRPY] [numeric](5, 0) NOT NULL,
	[SRRQTY] [numeric](15, 3) NOT NULL,
	[SRRQPY] [numeric](15, 3) NOT NULL,
	[SRRDAT] [numeric](8, 0) NOT NULL,
	[SRNSTY] [numeric](5, 0) NOT NULL,
	[SRNSPY] [numeric](5, 0) NOT NULL,
	[SRQSTY] [numeric](15, 3) NOT NULL,
	[SRQSPY] [numeric](15, 3) NOT NULL,
	[SRAQTY] [numeric](15, 3) NOT NULL,
	[SRAQPY] [numeric](15, 3) NOT NULL,
	[SRSTTC] [varchar](25) NOT NULL,
	[SRSDAT] [numeric](8, 0) NOT NULL,
	[SRBQTY] [numeric](15, 3) NOT NULL,
	[SRBQPY] [numeric](15, 3) NOT NULL,
	[SRNLIS] [numeric](5, 0) NOT NULL,
	[SRNLIP] [numeric](5, 0) NOT NULL,
	[SRQLIS] [numeric](15, 3) NOT NULL,
	[SRQLIP] [numeric](15, 3) NOT NULL,
	[SRUFA3] [varchar](25) NOT NULL,
	[SRUFN3] [numeric](17, 3) NOT NULL,
	[SRTDCD] [varchar](25) NOT NULL,
	[SRDDCD] [varchar](25) NOT NULL,
	[SRQCHQ] [numeric](9, 3) NOT NULL,
	[SRQTQC] [numeric](15, 3) NOT NULL,
	[SRRQNC] [numeric](15, 3) NOT NULL,
	[SRRTNC] [numeric](15, 3) NOT NULL,
	[SRTQQC] [numeric](15, 3) NOT NULL,
	[SRUQNC] [numeric](15, 3) NOT NULL,
	[SRUTNC] [numeric](15, 3) NOT NULL,
	[SRDPNO] [varchar](25) NOT NULL,
	[SRRQDN] [numeric](15, 3) NOT NULL,
	[SRRQIR] [numeric](15, 3) NOT NULL,
	[SRRQPL] [numeric](15, 3) NOT NULL,
	[SRRQRO] [numeric](15, 3) NOT NULL,
	[SRRQSO] [numeric](15, 3) NOT NULL,
	[SRUQDN] [numeric](15, 3) NOT NULL,
	[SRUQIR] [numeric](15, 3) NOT NULL,
	[SRUQPL] [numeric](15, 3) NOT NULL,
	[SRUQRO] [numeric](15, 3) NOT NULL,
	[SRUQSO] [numeric](15, 3) NOT NULL,
	[SRMSUP] [varchar](25) NOT NULL,
	[SRPLAN] [varchar](25) NOT NULL,
	[SRRESP] [varchar](25) NOT NULL,
	[SRPRCL] [varchar](25) NOT NULL,
	[SRPLMD] [varchar](25) NOT NULL,
	[SROVSU] [varchar](25) NOT NULL,
	[SROVPL] [varchar](25) NOT NULL,
	[SROVRE] [varchar](25) NOT NULL,
	[SROVPC] [varchar](25) NOT NULL,
	[SROVRT] [varchar](25) NOT NULL,
	[SROALL] [varchar](25) NOT NULL,
	[SRALCY] [numeric](15, 3) NOT NULL,
	[SRWIPQ] [numeric](17, 3) NOT NULL,
	[SRTWPQ] [numeric](17, 3) NOT NULL,
	[SRSTPU] [numeric](17, 4) NOT NULL,
	[SRLPCO] [numeric](17, 4) NOT NULL,
	[SRTLPC] [numeric](17, 4) NOT NULL,
	[SRAPCO] [numeric](17, 4) NOT NULL,
	[SRTAPC] [numeric](17, 4) NOT NULL,
	[SRSTCO] [numeric](17, 4) NOT NULL,
	[SRCSTC] [numeric](17, 4) NOT NULL,
	[SREFDT] [numeric](8, 0) NOT NULL,
	[SRISDT] [numeric](8, 0) NOT NULL,
	[RowCreatedDate] [datetime] NOT NULL,
	[RowversionID] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Staging].[SRBSRO] ADD  DEFAULT (getdate()) FOR [RowCreatedDate]
GO
