USE [ODSIntake]
GO
/****** Object:  View [Staging].[vw_LS_APIOder]    Script Date: 12/22/2020 9:21:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Staging].[vw_LS_APIOder]

AS

SELECT LTRIM(RTRIM(IDINVN))  AS IDINVN
, LTRIM(RTRIM(IDTYPP))  AS IDTYPP
, LTRIM(RTRIM(IDINYY))  AS IDINYY
, LTRIM(RTRIM(IDORNO))  AS IDORNO
, LTRIM(RTRIM(IDLINE))  AS IDLINE
, LTRIM(RTRIM(IDIDAT))  AS IDIDAT
, LTRIM(RTRIM(IDCUNO))  AS IDCUNO
, LTRIM(RTRIM(IDPRDC))  AS IDPRDC
, LTRIM(RTRIM(IDDESC))  AS IDDESC
, LTRIM(RTRIM(IDQTY))  AS IDQTY
, LTRIM(RTRIM(IDDECC))  AS IDDECC
, LTRIM(RTRIM(IDSQTY))  AS IDSQTY
, LTRIM(RTRIM(IDDECU))  AS IDDECU
, LTRIM(RTRIM(IDUNIT))  AS IDUNIT
, LTRIM(RTRIM(IDDDAT))  AS IDDDAT
, LTRIM(RTRIM(IDDTIM))  AS IDDTIM
, LTRIM(RTRIM(IDSALP))  AS IDSALP
, LTRIM(RTRIM(IDDCPR))  AS IDDCPR
, LTRIM(RTRIM(IDDCAM))  AS IDDCAM
, LTRIM(RTRIM(IDAMOU))  AS IDAMOU
, LTRIM(RTRIM(IDFOCC))  AS IDFOCC
, LTRIM(RTRIM(IDOVDC))  AS IDOVDC
, LTRIM(RTRIM(IDVAHC))  AS IDVAHC
, LTRIM(RTRIM(IDSHPM))  AS IDSHPM
, LTRIM(RTRIM(IDCONO))  AS IDCONO
, LTRIM(RTRIM(IDRPRV))  AS IDRPRV
, LTRIM(RTRIM(IDTRTY))  AS IDTRTY
, LTRIM(RTRIM(IDCOSP))  AS IDCOSP
, LTRIM(RTRIM(IDPGRP))  AS IDPGRP
, LTRIM(RTRIM(IDPAGR))  AS IDPAGR
, LTRIM(RTRIM(IDPCA1))  AS IDPCA1
, LTRIM(RTRIM(IDPCA2))  AS IDPCA2
, LTRIM(RTRIM(IDPCA3))  AS IDPCA3
, LTRIM(RTRIM(IDPCA4))  AS IDPCA4
, LTRIM(RTRIM(IDPCA5))  AS IDPCA5
, LTRIM(RTRIM(IDPCA6))  AS IDPCA6
, LTRIM(RTRIM(IDCGRP))  AS IDCGRP
, LTRIM(RTRIM(IDCAGR))  AS IDCAGR
, LTRIM(RTRIM(IDCCA1))  AS IDCCA1
, LTRIM(RTRIM(IDCCA2))  AS IDCCA2
, LTRIM(RTRIM(IDCCA3))  AS IDCCA3
, LTRIM(RTRIM(IDDGRP))  AS IDDGRP
, LTRIM(RTRIM(IDCOUN))  AS IDCOUN
, LTRIM(RTRIM(IDAREA))  AS IDAREA
, LTRIM(RTRIM(IDHAND))  AS IDHAND
, LTRIM(RTRIM(IDSROM))  AS IDSROM
, LTRIM(RTRIM(IDORDT))  AS IDORDT
, LTRIM(RTRIM(IDSUPP))  AS IDSUPP
, LTRIM(RTRIM(IDODIS))  AS IDODIS
, LTRIM(RTRIM(IDSALE))  AS IDSALE
, LTRIM(RTRIM(IDNPRC))  AS IDNPRC
, LTRIM(RTRIM(IDEXR3))  AS IDEXR3
, LTRIM(RTRIM(IDSTRU))  AS IDSTRU
, LTRIM(RTRIM(IDRDTE))  AS IDRDTE
, LTRIM(RTRIM(IDRDTI))  AS IDRDTI
, LTRIM(RTRIM(IDTDCD))  AS IDTDCD
, LTRIM(RTRIM(IDDDCD))  AS IDDDCD
, LTRIM(RTRIM(IDPOTP))  AS IDPOTP
, LTRIM(RTRIM(IDPORN))  AS IDPORN
, LTRIM(RTRIM(IDPLIN))  AS IDPLIN
, LTRIM(RTRIM(IDPCOD))  AS IDPCOD
, LTRIM(RTRIM(IDPERI))  AS IDPERI
, LTRIM(RTRIM(IDSENC))  AS IDSENC
, LTRIM(RTRIM(IDOLIN))  AS IDOLIN
, LTRIM(RTRIM(IDGWGT))  AS IDGWGT
, LTRIM(RTRIM(IDNWGT))  AS IDNWGT
, LTRIM(RTRIM(IDGVOL))  AS IDGVOL
, LTRIM(RTRIM(IDNVOL))  AS IDNVOL
, LTRIM(RTRIM(IDICNO))  AS IDICNO
, LTRIM(RTRIM(IDSTCF))  AS IDSTCF
, LTRIM(RTRIM(IDSVCC))  AS IDSVCC
, LTRIM(RTRIM(IDAGMC))  AS IDAGMC
, LTRIM(RTRIM(IDTECN))  AS IDTECN
, LTRIM(RTRIM(IDPTPE))  AS IDPTPE
, LTRIM(RTRIM(IDODAT))  AS IDODAT
, LTRIM(RTRIM(IDNOTR))  AS IDNOTR
, LTRIM(RTRIM(IDPOVA))  AS IDPOVA
, LTRIM(RTRIM(IDCSNO))  AS IDCSNO
, LTRIM(RTRIM(IDOCOU))  AS IDOCOU
, LTRIM(RTRIM(IDNSVA))  AS IDNSVA
, LTRIM(RTRIM(IDDLBU))  AS IDDLBU
, LTRIM(RTRIM(IDCIPO))  AS IDCIPO
, LTRIM(RTRIM(IDIORD))  AS IDIORD
, LTRIM(RTRIM(IDIOTY))  AS IDIOTY
, LTRIM(RTRIM(IDLCVA))  AS IDLCVA
, LTRIM(RTRIM(IDEDPC))  AS IDEDPC
, LTRIM(RTRIM(IDBTCC))  AS IDBTCC
, LTRIM(RTRIM(IDPODR))  AS IDPODR
, LTRIM(RTRIM(IDPROD))  AS IDPROD
, LTRIM(RTRIM(IDDENO))  AS IDDENO
, LTRIM(RTRIM(IDDIS2))  AS IDDIS2
, LTRIM(RTRIM(IDDIS3))  AS IDDIS3
, LTRIM(RTRIM(IDDIS4))  AS IDDIS4
, LTRIM(RTRIM(IDDIS5))  AS IDDIS5
, LTRIM(RTRIM(IDDIS6))  AS IDDIS6
, LTRIM(RTRIM(IDDIS7))  AS IDDIS7
, LTRIM(RTRIM(IDDIS8))  AS IDDIS8
, LTRIM(RTRIM(IDDIS9))  AS IDDIS9
, LTRIM(RTRIM(IDITET))  AS IDITET
, LTRIM(RTRIM(IDITIT))  AS IDITIT
, LTRIM(RTRIM(IDITT))  AS IDITT
, LTRIM(RTRIM(IDTAXF))  AS IDTAXF
, LTRIM(RTRIM(IDUPBA))  AS IDUPBA
, LTRIM(RTRIM(IDVATI))  AS IDVATI
, LTRIM(RTRIM(IDLAOC))  AS IDLAOC
, LTRIM(RTRIM(IDVAOC))  AS IDVAOC
, LTRIM(RTRIM(IDTAXC))  AS IDTAXC
, LTRIM(RTRIM(IDTSRM))  AS IDTSRM
, LTRIM(RTRIM(IDCIOL))  AS IDCIOL
, LTRIM(RTRIM(IDCCOD))  AS IDCCOD
, LTRIM(RTRIM(IDHCOD))  AS IDHCOD
, LTRIM(RTRIM(IDLBCD))  AS IDLBCD
, LTRIM(RTRIM(IDNCCN))  AS IDNCCN
, LTRIM(RTRIM(IDPCKT))  AS IDPCKT
, LTRIM(RTRIM(IDREAS))  AS IDREAS
, LTRIM(RTRIM(IDIVTP))  AS IDIVTP
, LTRIM(RTRIM(IDROCO))  AS IDROCO
, LTRIM(RTRIM(IDAGMT))  AS IDAGMT
, LTRIM(RTRIM(IDPDGR))  AS IDPDGR
, LTRIM(RTRIM(IDINUM))  AS IDINUM
, LTRIM(RTRIM(IDINLN))  AS IDINLN
, LTRIM(RTRIM(IDQUNO))  AS IDQUNO
, LTRIM(RTRIM(IDVRNO))  AS IDVRNO
, LTRIM(RTRIM(IDQULN))  AS IDQULN
, LTRIM(RTRIM(IDDECCH1))  AS IDDECCH1
, LTRIM(RTRIM(IDDECCH2))  AS IDDECCH2
, LTRIM(RTRIM(IDDECCH3))  AS IDDECCH3
, LTRIM(RTRIM(IDDECCH4))  AS IDDECCH4
, LTRIM(RTRIM(IDDECCH5))  AS IDDECCH5
, LTRIM(RTRIM(IDDECCH6))  AS IDDECCH6
, LTRIM(RTRIM(IDDECCH7))  AS IDDECCH7
, LTRIM(RTRIM(IDDECCH8))  AS IDDECCH8
, LTRIM(RTRIM(IDDECCH9))  AS IDDECCH9
, LTRIM(RTRIM(IDDECCF1))  AS IDDECCF1
, LTRIM(RTRIM(IDDECCF2))  AS IDDECCF2
, LTRIM(RTRIM(IDDECCF3))  AS IDDECCF3
, LTRIM(RTRIM(IDDECCF4))  AS IDDECCF4
, LTRIM(RTRIM(IDDECCF5))  AS IDDECCF5
, LTRIM(RTRIM(IDDECCUN))  AS IDDECCUN
, LTRIM(RTRIM(IDDEDCUN))  AS IDDEDCUN
, LTRIM(RTRIM(IDDEPST1))  AS IDDEPST1
, LTRIM(RTRIM(IDDEPST2))  AS IDDEPST2
, LTRIM(RTRIM(IDDEPST3))  AS IDDEPST3
, LTRIM(RTRIM(IDDEPST4))  AS IDDEPST4
, LTRIM(RTRIM(IDDEPST5))  AS IDDEPST5
, LTRIM(RTRIM(IDDEPST6))  AS IDDEPST6
, LTRIM(RTRIM(IDDEPST7))  AS IDDEPST7
, LTRIM(RTRIM(IDDEPST8))  AS IDDEPST8
, LTRIM(RTRIM(IDDEPST9))  AS IDDEPST9
, LTRIM(RTRIM(IDAMCF))  AS IDAMCF
, LTRIM(RTRIM(IDCPCF))  AS IDCPCF
, LTRIM(RTRIM(IDPPGR))  AS IDPPGR
, LTRIM(RTRIM(IDPRFA))  AS IDPRFA
, LTRIM(RTRIM(IDPRSE))  AS IDPRSE
, LTRIM(RTRIM(IDPROI))  AS IDPROI
, LTRIM(RTRIM(IDPRPH))  AS IDPRPH
, LTRIM(RTRIM(IDPROL))  AS IDPROL
, LTRIM(RTRIM(IDPLAN))  AS IDPLAN
, LTRIM(RTRIM(IDPRCL))  AS IDPRCL
, LTRIM(RTRIM(IDPRIL))  AS IDPRIL
, LTRIM(RTRIM(IDSOPR))  AS IDSOPR
, LTRIM(RTRIM(IDBOPR))  AS IDBOPR
, LTRIM(RTRIM(IDTXKY))  AS IDTXKY
, LTRIM(RTRIM(IDCPRD))  AS IDCPRD
, LTRIM(RTRIM(IDCPDS))  AS IDCPDS
, LTRIM(RTRIM(IDCSTS))  AS IDCSTS
, LTRIM(RTRIM(IDDIVN))  AS IDDIVN
, LTRIM(RTRIM(IDCOPO))  AS IDCOPO
, LTRIM(RTRIM(IDIS01))  AS IDIS01
, LTRIM(RTRIM(IDIS02))  AS IDIS02
, LTRIM(RTRIM(IDIS03))  AS IDIS03
, LTRIM(RTRIM(IDIS04))  AS IDIS04
, LTRIM(RTRIM(IDIS05))  AS IDIS05
, LTRIM(RTRIM(IDIS06))  AS IDIS06
, LTRIM(RTRIM(IDISPR))  AS IDISPR
, LTRIM(RTRIM(IDAGTP))  AS IDAGTP
, LTRIM(RTRIM(IDJNBR))  AS IDJNBR
, LTRIM(RTRIM(IDOPRD))  AS IDOPRD
, LTRIM(RTRIM(IDOSEN))  AS IDOSEN
, LTRIM(RTRIM(IDRECQ))  AS IDRECQ
, LTRIM(RTRIM(IDREC1))  AS IDREC1
, LTRIM(RTRIM(IDACQT))  AS IDACQT
, LTRIM(RTRIM(IDACT1))  AS IDACT1
, LTRIM(RTRIM(IDIREC))  AS IDIREC
, LTRIM(RTRIM(IDPDDT))  AS IDPDDT
, LTRIM(RTRIM(IDPDRD))  AS IDPDRD
, LTRIM(RTRIM(IDDEBI))  AS IDDEBI
, LTRIM(RTRIM(IDRESP))  AS IDRESP
, LTRIM(RTRIM(IDCCGR))  AS IDCCGR
, LTRIM(RTRIM(IDPCGR))  AS IDPCGR
, LTRIM(RTRIM(IDSPGR))  AS IDSPGR
, LTRIM(RTRIM(IDSDAG))  AS IDSDAG
, LTRIM(RTRIM(IDSDCA))  AS IDSDCA
, LTRIM(RTRIM(IDSATX))  AS IDSATX
, LTRIM(RTRIM(IDPRME))  AS IDPRME
, LTRIM(RTRIM(IDSHPA))  AS IDSHPA
, LTRIM(RTRIM(IDROUT))  AS IDROUT
, LTRIM(RTRIM(IDDEST))  AS IDDEST
, LTRIM(RTRIM(IDTPRC))  AS IDTPRC
, LTRIM(RTRIM(IDDLVD))  AS IDDLVD
, LTRIM(RTRIM(IDRDVD))  AS IDRDVD
, LTRIM(RTRIM(IDTRPT))  AS IDTRPT
, LTRIM(RTRIM(IDDEPA))  AS IDDEPA
, LTRIM(RTRIM(IDPCKD))  AS IDPCKD
, LTRIM(RTRIM(IDPTQT))  AS IDPTQT
, LTRIM(RTRIM(IDUSPUNT))  AS IDUSPUNT
, LTRIM(RTRIM(IDUSPCNV))  AS IDUSPCNV
, LTRIM(RTRIM(IDUSPQTY))  AS IDUSPQTY
, LTRIM(RTRIM(IDUSRRAQ))  AS IDUSRRAQ
, LTRIM(RTRIM(IDUSRRUQ))  AS IDUSRRUQ
, LTRIM(RTRIM(IDUSPRQY))  AS IDUSPRQY
, LTRIM(RTRIM(IDRBPR))  AS IDRBPR
, LTRIM(RTRIM(IDUSCURB))  AS IDUSCURB
, LTRIM(RTRIM(IDUSPACU))  AS IDUSPACU
, LTRIM(RTRIM(IDRPAB))  AS IDRPAB
, LTRIM(RTRIM(IDUSPSLN))  AS IDUSPSLN
, LTRIM(RTRIM(IDGTPE))  AS IDGTPE
, LTRIM(RTRIM(IDSHPG))  AS IDSHPG
, LTRIM(RTRIM(IDLTYP))  AS IDLTYP
FROM OpenQuery([10.96.0.3],'SELECT * FROM AX1492BFRX.SROISDPL')
GO
