USE [ODSIntake]
GO
/****** Object:  StoredProcedure [Staging].[usp_APIOrder_Load]    Script Date: 12/22/2020 4:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [Staging].[usp_APIOrder_Load]

AS

SET NOCOUNT ON;

BEGIN

	DECLARE @OPENQUERY nvarchar(4000)
	, @TSQL nvarchar(4000)
	, @LinkedServer nvarchar(4000)
	, @Date VARCHAR(10)


	SET @LinkedServer = '[10.96.0.3]'
	SET @OPENQUERY = 'SELECT * FROM OPENQUERY('+ @LinkedServer + ','''

	SELECT @Date = max(orderdate) 
    FROM [API].[dbo].[APIOrder]

	--IF DATENAME(DW, GETDATE()) = 'MONDAY'
	--SET  @Date = DATEADD(Day, DATEDIFF(Day, 0, getdate())-3, 0)
	
	--IF DATENAME(DW, GETDATE()) IN('TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY')
	--SET @Date = DATEADD(Day, DATEDIFF(Day, 0, getdate())-1, 0)

	DECLARE C1 CURSOR FOR
	SELECT CONVERT(varchar(8),TheDate,112) AS Date1
	FROM ODSIntake.dbo.DateDim
	WHERE TheDate > @Date
	--> '20191104'
	--and TheDate < '20191107'
	--AND DateKey < 20190802
	ORDER BY DateKey ASC
	--Change this to get the next Order date
	OPEN C1

	FETCH NEXT
	FROM C1
	INTO @Date


	WHILE @@FETCH_STATUS = 0
	BEGIN


		SET @TSQL = 'SELECT * FROM AX1492BFRX.SROISDPL WHERE AX1492BFRX.SROISDPL.IDIDAT = ' + @Date + ''')' 

	
		INSERT INTO Staging.APIOrder(IDINVN, IDTYPP, IDINYY, IDORNO, IDLINE, IDIDAT, IDCUNO, IDPRDC, IDDESC, IDQTY, IDDECC, IDSQTY, IDDECU, IDUNIT, IDDDAT, IDDTIM, IDSALP, IDDCPR, IDDCAM, IDAMOU, IDFOCC
		, IDOVDC, IDVAHC, IDSHPM, IDCONO, IDRPRV, IDTRTY, IDCOSP, IDPGRP, IDPAGR, IDPCA1, IDPCA2, IDPCA3, IDPCA4, IDPCA5, IDPCA6, IDCGRP, IDCAGR, IDCCA1, IDCCA2, IDCCA3, IDDGRP
		, IDCOUN, IDAREA, IDHAND, IDSROM, IDORDT, IDSUPP, IDODIS, IDSALE, IDNPRC, IDEXR3, IDSTRU, IDRDTE, IDRDTI, IDTDCD, IDDDCD, IDPOTP, IDPORN, IDPLIN, IDPCOD, IDPERI, IDSENC
		, IDOLIN, IDGWGT, IDNWGT, IDGVOL, IDNVOL, IDICNO, IDSTCF, IDSVCC, IDAGMC, IDTECN, IDPTPE, IDODAT, IDNOTR, IDPOVA, IDCSNO, IDOCOU, IDNSVA, IDDLBU, IDCIPO, IDIORD, IDIOTY
		, IDLCVA, IDEDPC, IDBTCC, IDPODR, IDPROD, IDDENO, IDDIS2, IDDIS3, IDDIS4, IDDIS5, IDDIS6, IDDIS7, IDDIS8, IDDIS9, IDITET, IDITIT, IDITT, IDTAXF, IDUPBA, IDVATI, IDLAOC
		, IDVAOC, IDTAXC, IDTSRM, IDCIOL, IDCCOD, IDHCOD, IDLBCD, IDNCCN, IDPCKT, IDREAS, IDIVTP, IDROCO, IDAGMT, IDPDGR, IDINUM, IDINLN, IDQUNO, IDVRNO, IDQULN, IDDECCH1, IDDECCH2
		, IDDECCH3, IDDECCH4, IDDECCH5, IDDECCH6, IDDECCH7, IDDECCH8, IDDECCH9, IDDECCF1, IDDECCF2, IDDECCF3, IDDECCF4, IDDECCF5, IDDECCUN, IDDEDCUN, IDDEPST1, IDDEPST2, IDDEPST3
		, IDDEPST4, IDDEPST5, IDDEPST6, IDDEPST7, IDDEPST8, IDDEPST9, IDAMCF, IDCPCF, IDPPGR, IDPRFA, IDPRSE, IDPROI, IDPRPH, IDPROL, IDPLAN, IDPRCL, IDPRIL, IDSOPR, IDBOPR
		, IDTXKY, IDCPRD, IDCPDS, IDCSTS, IDDIVN, IDCOPO, IDIS01, IDIS02, IDIS03, IDIS04, IDIS05, IDIS06, IDISPR, IDAGTP, IDJNBR, IDOPRD, IDOSEN, IDRECQ, IDREC1, IDACQT
		, IDACT1, IDIREC, IDPDDT, IDPDRD, IDDEBI, IDRESP, IDCCGR, IDPCGR, IDSPGR, IDSDAG, IDSDCA, IDSATX, IDPRME, IDSHPA, IDROUT, IDDEST, IDTPRC, IDDLVD, IDRDVD, IDTRPT
		, IDDEPA, IDPCKD, IDPTQT, IDUSPUNT, IDUSPCNV, IDUSPQTY, IDUSRRAQ, IDUSRRUQ, IDUSPRQY, IDRBPR, IDUSCURB, IDUSPACU, IDRPAB, IDUSPSLN, IDGTPE, IDSHPG, IDLTYP)
		EXEC (@OPENQUERY+@TSQL) 

		FETCH NEXT
		FROM C1
		INTO @Date

	END


	CLOSE C1
	DEALLOCATE C1

END
GO
