USE [ODSIntake]
GO
/****** Object:  StoredProcedure [Staging].[usp_APIInvoice_Load]    Script Date: 12/22/2020 4:42:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Staging].[usp_APIInvoice_Load]

AS

SET NOCOUNT ON;

BEGIN

DECLARE @sql VARCHAR(8000), @var CHAR(10)

IF DATENAME(WEEKDAY,getdate())='MONDAY'
	BEGIN
	SET @var = CONVERT(varchar(8), dateadd(day,-3,GETDATE()), 112)
    SET @sql = 'SELECT *

FROM openquery([10.96.0.3],
	
	''SELECT 

	AX1492BFRX.SROISH.IHINVN AS Invoice, 

	AX1492BFRX.SROISH.IHORNO AS OrderNbr, 

	AX1492BFRX.SROISH.IHIDAT AS INVDate, 

	AX1492BFRX.SROISH.IHCUNO AS APICustNbr, 

	AX1492BFRX.SRONAM.NANAME AS APICustName, 

	AX1492BFRX.SROISH.IHMOTC AS CarrierCode, 

	AX1492BFRX.SROISH.IHMOTT AS CarrierDesc, 

	AX1492BFRX.SROISH.IHOREF AS CustRef, 

	AX1492BFRX.SROISH.IHREAS AS Whse, 

	AX1492BFRX.SROORSHE.OHORDT AS OrdType

FROM AX1492BFRX.SROISH 

INNER JOIN AX1492BFRX.SRONAM 

	ON AX1492BFRX.SROISH.IHCUNO = AX1492BFRX.SRONAM.NANUM 

INNER JOIN AX1492BFRX.SROORSHE 

	ON AX1492BFRX.SROISH.IHORNO = AX1492BFRX.SROORSHE.OHORNO

WHERE AX1492BFRX.SROISH.IHIDAT='''''+ @var +''''' AND AX1492BFRX.SROISH.IHTYPP=1'')'



INSERT INTO [Staging].[APIInvoiceImport](Invoice, OrderNbr, Date, APICustNbr, APICustName, CarrierCode, CarrierDesc, CustRef, Whse, OrdType)

EXEC(@sql)
END

--CStr(Right(Format(Date(),"mmddyyyy"),4) & Left(Format(Date(),"mmddyyyy"),2) & Mid(Format(Date(),"mmddyyyy"),3,2)))
IF DATENAME(WEEKDAY,getdate())<>'MONDAY'
	BEGIN
	SET @var = CONVERT(varchar(8), dateadd(day,-1,GETDATE()), 112)
    SET @sql = 'SELECT *

FROM openquery([10.96.0.3],

	''SELECT 

	AX1492BFRX.SROISH.IHINVN AS Invoice, 

	AX1492BFRX.SROISH.IHORNO AS OrderNbr, 

	AX1492BFRX.SROISH.IHIDAT AS Date, 

	AX1492BFRX.SROISH.IHCUNO AS APICustNbr, 

	AX1492BFRX.SRONAM.NANAME AS APICustName, 

	AX1492BFRX.SROISH.IHMOTC AS CarrierCode, 

	AX1492BFRX.SROISH.IHMOTT AS CarrierDesc, 

	AX1492BFRX.SROISH.IHOREF AS CustRef, 

	AX1492BFRX.SROISH.IHREAS AS Whse, 

	AX1492BFRX.SROORSHE.OHORDT AS OrdType

FROM AX1492BFRX.SROISH 

INNER JOIN AX1492BFRX.SRONAM 

	ON AX1492BFRX.SROISH.IHCUNO = AX1492BFRX.SRONAM.NANUM 

INNER JOIN AX1492BFRX.SROORSHE 

	ON AX1492BFRX.SROISH.IHORNO = AX1492BFRX.SROORSHE.OHORNO

WHERE AX1492BFRX.SROISH.IHIDAT='''''+ @var +''''' AND AX1492BFRX.SROISH.IHTYPP=1'')'




INSERT INTO [Staging].[APIInvoiceImport](Invoice, OrderNbr, Date, APICustNbr, APICustName, CarrierCode, CarrierDesc, CustRef, Whse, OrdType)

EXEC(@sql)
END
END

GO
