USE [webdocs]
GO
/****** Object:  StoredProcedure [dbo].[dmRouteStepUserInsert]    Script Date: 12/22/2020 5:23:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[dmRouteStepUserInsert]
		@StepKey [char](36),
		@UserKey [char](36)
	WITH EXECUTE AS CALLER
	AS
	BEGIN
		BEGIN TRANSACTION;
			SET NOCOUNT ON;

			INSERT INTO dmWorkflowStepUser (StepKey, UserKey)
				VALUES (@StepKey, @UserKey);

			IF (@@error!=0)
			BEGIN
				RAISERROR ('dmRouteStepUserInsert : Cannot insert record. ',15,1);
				ROLLBACK TRAN;
				RETURN(1);
			END;
		COMMIT TRANSACTION;

		RETURN(0);
	END;
GO
