USE [AAPReportServer]
GO
/****** Object:  View [dbo].[ExecutionLog]    Script Date: 12/22/2020 9:10:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ExecutionLog]
AS
SELECT
	[InstanceName], 
	[ReportID], 
	[UserName], 
	[RequestType],
	[Format],
	[Parameters],
	[TimeStart],
	[TimeEnd],
	[TimeDataRetrieval],
	[TimeProcessing],
	[TimeRendering],
	CASE([Source])
		WHEN 6 THEN 3
		ELSE [Source]
	END AS Source,		-- Session source doesn't exist in yukon, mark source as snapshot
						-- for in-session requests
	[Status],
	[ByteCount],
	[RowCount]
FROM [ExecutionLogStorage] WITH (NOLOCK)
WHERE [ReportAction] = 1 -- Backwards compatibility log only contains render requests
GO
