USE [WebDev]
GO
/****** Object:  Table [dbo].[APISalesInvoice_Web_backup_RSE_20200825]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APISalesInvoice_Web_backup_RSE_20200825](
	[WHAccountid] [varchar](32) NULL,
	[InvNbr] [varchar](32) NULL,
	[InvDate] [datetime] NULL,
	[OrderNbr] [varchar](15) NULL,
	[CarrierCode] [varchar](15) NULL,
	[CarrierDesc] [varchar](255) NULL,
	[Whsnum] [varchar](2) NULL,
	[Whsname] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
