USE [WebDev]
GO
/****** Object:  Table [dbo].[CA_StoreStatus]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_StoreStatus](
	[NCPDP] [nvarchar](7) NOT NULL,
	[CA_TaskID] [int] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_CA_StoreStatus] PRIMARY KEY CLUSTERED 
(
	[NCPDP] ASC,
	[CA_TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
