USE [WebDev]
GO
/****** Object:  Table [dbo].[rform_wholesalers_hds]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rform_wholesalers_hds](
	[ID] [int] NOT NULL,
	[Wholesaler] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
