USE [WebDev]
GO
/****** Object:  Table [dbo].[tmp_MCenter_Credentialling042915]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_MCenter_Credentialling042915](
	[NCPDP] [nvarchar](255) NULL,
	[PMID] [nvarchar](255) NULL,
	[Accountname] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[TM] [nvarchar](255) NULL,
	[TM2] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL
) ON [PRIMARY]
GO
