USE [WebDev]
GO
/****** Object:  Table [dbo].[Checklist]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checklist](
	[NCPDP] [nchar](10) NULL,
	[RxID] [int] NULL,
	[RxID2] [int] NULL,
	[CatgID] [int] NULL
) ON [PRIMARY]
GO
