USE [WebDev]
GO
/****** Object:  Table [dbo].[tmpResultPharmacy]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpResultPharmacy](
	[PMID] [int] NOT NULL,
	[NCPDP] [varchar](20) NULL,
	[AccountName] [varchar](65) NULL,
	[OwnerName] [varchar](200) NULL,
	[IsStoreComplianceGuardian] [int] NULL,
	[IsStoreStaffGuard] [int] NULL,
	[IsStoreAAP] [int] NULL,
	[IsStoreManagedCare] [int] NULL,
	[IsStoreNonManagedCare] [int] NULL,
	[IsStoreNPP] [int] NULL,
	[Employees] [int] NULL,
	[EmployeeLastModifiedDate] [datetime] NULL,
	[EmployeeLastCreatedDate] [datetime] NULL,
	[ExclusionLastFoundDate] [datetime] NULL,
	[Exclusions] [int] NULL,
	[ComplianceGuardianStartDate] [datetime] NULL,
	[ComplianceGuardianEndDate] [datetime] NULL,
	[StaffGuardStartDate] [datetime] NULL,
	[StaffGuardEndDate] [datetime] NULL,
	[Addr1] [varchar](100) NULL,
	[Addr2] [varchar](100) NULL,
	[Address] [varchar](201) NULL,
	[State] [varchar](2) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[Fax] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[NPI] [varchar](50) NULL,
	[AAPAccountNo] [varchar](20) NULL,
	[ChainCode] [int] NULL,
	[MCQuitDate] [datetime] NULL,
	[AAPQuitDate] [datetime] NULL,
	[IsNPP] [smallint] NULL,
	[MCEffectiveDate] [datetime] NULL,
	[TMFirstName] [varchar](35) NULL,
	[TMLastName] [varchar](35) NULL,
	[TM] [varchar](2) NULL,
	[EmployeeCheckListStatus] [int] NOT NULL,
	[HIPAAManualStatus] [int] NULL,
	[FWAManualStatus] [int] NULL,
	[HIPAATrainingStatus] [int] NULL,
	[FWATrainingStatus] [int] NULL,
	[EmployeesWithOutAliasNames] [int] NULL,
	[HIPAATrainedEmployees] [int] NULL,
	[FWATrainedEmployees] [int] NULL,
	[AttestationStatus] [int] NOT NULL,
	[Attestation Date] [varchar](30) NULL,
	[Licenses suspended] [nvarchar](500) NULL,
	[Operate on Clear status] [nvarchar](500) NULL,
	[Licenses suspended in past] [nvarchar](500) NULL,
	[Disciplinary action] [nvarchar](500) NULL,
	[Pharmacist not covered Insurance] [nvarchar](500) NULL,
	[Pharmacists unrestricted license] [nvarchar](500) NULL,
	[PharmacyNotExcluded] [nvarchar](500) NULL,
	[PersonnelNotExcluded] [nvarchar](500) NULL,
	[Review Personnel on OIG GSA] [nvarchar](500) NULL,
	[Disclosure of disciplinary actions] [nvarchar](500) NULL,
	[RecordRetention10yr] [nvarchar](500) NULL,
	[FWATraining] [nvarchar](500) NULL,
	[LogPersonnelFWATraining] [nvarchar](500) NULL,
	[PharmacyMaintainsLicensesInsurance] [nvarchar](500) NULL,
	[PersonnelMaintainsLicensesCertifications] [nvarchar](500) NULL,
	[StandardsOfConductInWriting] [nvarchar](500) NULL,
	[Conflict of Interest Policy] [nvarchar](500) NULL,
	[DesignatedComplianceOfficer] [nvarchar](500) NULL,
	[ProceduresToDetectFWA] [nvarchar](500) NULL,
	[OBRA 90 rules compliance] [nvarchar](500) NULL,
	[Pharmacy Name] [nvarchar](500) NULL,
	[Person Attesting] [nvarchar](500) NULL,
	[Compliance Officer name] [nvarchar](500) NULL,
	[HasFlag] [varchar](1) NULL,
	[IsOigGsaReportGenerated] [int] NULL,
	[IsOigGsaReportEmailed] [int] NULL,
	[IsOigGsaReportSuccess] [int] NULL,
	[IsOigGsaReportValidEmail] [int] NULL,
	[LastOigGsaReportGenerationAttemptedDate] [datetime] NULL,
	[AttestationFlagStr] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
