USE [WebDev]
GO
/****** Object:  Table [dbo].[source]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[source](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
