USE [WebDev]
GO
/****** Object:  Table [dbo].[MCenter_test]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCenter_test](
	[MessageID] [int] NULL,
	[StrValue] [varchar](255) NULL,
	[IntValue] [int] NULL,
	[FieldName] [varchar](255) NULL
) ON [PRIMARY]
GO
