USE [WebDev]
GO
/****** Object:  Table [dbo].[userdata_noPMID]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userdata_noPMID](
	[login] [nvarchar](50) NULL,
	[roleid] [int] NULL,
	[execpassword] [nvarchar](50) NULL,
	[rolename] [nvarchar](100) NULL,
	[defaultpmid] [int] NULL,
	[nslogin] [nvarchar](50) NULL,
	[nspwd] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[perms] [varchar](255) NULL,
	[pmid] [int] NULL,
	[pmparentid] [int] NULL,
	[aapaccountno] [varchar](20) NULL,
	[aapstatus] [varchar](32) NULL,
	[apiaccountno] [varchar](20) NULL,
	[ncpdp] [varchar](20) NULL,
	[dea] [varchar](50) NULL,
	[deaexp] [varchar](10) NULL,
	[npi] [varchar](50) NULL,
	[statelicno] [varchar](30) NULL,
	[statelicexpdate] [datetime] NULL,
	[mcquitdate] [datetime] NULL,
	[accountname] [varchar](65) NULL,
	[corporatename] [varchar](100) NULL,
	[addr1] [varchar](100) NULL,
	[addr2] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](2) NULL,
	[zip] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[fax] [varchar](50) NULL,
	[email] [varchar](255) NULL,
	[isAPI] [int] NULL,
	[isAAP] [int] NULL,
	[isMC] [int] NULL,
	[isTSROnly] [int] NULL,
	[isElite] [int] NULL,
	[parent_account] [varchar](65) NULL,
	[TMName] [varchar](71) NULL,
	[GenLiabCarrier] [varchar](50) NULL,
	[GenInsExpDate] [varchar](10) NULL,
	[ProfLiabCarrier] [varchar](50) NULL,
	[ProfLiabInsExpDate] [varchar](10) NULL,
	[software] [nvarchar](255) NULL,
	[isClaimData] [int] NULL,
	[wholesaler] [varchar](2) NULL,
	[description] [varchar](255) NULL,
	[CommunicationPreference] [varchar](5) NULL,
	[affiliate] [varchar](125) NULL,
	[affiliate_directpay] [int] NULL,
	[chaincode] [int] NULL
) ON [PRIMARY]
GO
