USE [WebDev]
GO
/****** Object:  Table [dbo].[GMAvgJun221016]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMAvgJun221016](
	[AAPAvg] [numeric](18, 2) NOT NULL,
	[Date] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
