USE [WebDev]
GO
/****** Object:  Table [dbo].[CA_Tasks]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_Tasks](
	[CA_TaskID] [int] IDENTITY(1,1) NOT NULL,
	[CATask] [varchar](max) NULL,
 CONSTRAINT [PK_CA_Tasks] PRIMARY KEY CLUSTERED 
(
	[CA_TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
