USE [WebDev]
GO
/****** Object:  Table [dbo].[RebateLinkedPMIDs_backup_20181128]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RebateLinkedPMIDs_backup_20181128](
	[PMID] [int] NOT NULL,
	[LinkedPMIDs] [varchar](255) NULL
) ON [PRIMARY]
GO
