USE [WebDev]
GO
/****** Object:  Table [dbo].[DIRDetails_CVSCaremark]    Script Date: 12/22/2020 5:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRDetails_CVSCaremark](
	[NCPDP] [nvarchar](50) NULL,
	[Pharmacy Name] [nvarchar](50) NULL,
	[Total DIR fee per Trimester] [nvarchar](255) NULL
) ON [PRIMARY]
GO
