USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[tmp_FYTD_WHSales_CS_DYN]    Script Date: 12/22/2020 4:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_FYTD_WHSales_CS_DYN](
	[WHAcct#] [varchar](32) NULL,
	[AAP#] [varchar](20) NULL,
	[SlsMn] [varchar](4) NULL,
	[Name] [varchar](65) NULL,
	[City] [varchar](50) NULL,
	[ST] [varchar](2) NULL,
	[Status] [varchar](32) NULL,
	[Date Opened] [datetime] NULL,
	[9/09 Brand] [numeric](18, 2) NULL,
	[10/09 Brand] [numeric](18, 2) NULL,
	[11/09 Brand] [numeric](18, 2) NULL,
	[12/09 Brand] [numeric](18, 2) NULL,
	[1/10 Brand] [numeric](18, 2) NULL,
	[2/10 Brand] [numeric](18, 2) NULL,
	[3/10 Brand] [numeric](18, 2) NULL,
	[4/10 Brand] [numeric](18, 2) NULL,
	[5/10 Brand] [numeric](18, 2) NULL,
	[6/10 Brand] [numeric](18, 2) NULL,
	[7/10 Brand] [numeric](18, 2) NULL,
	[8/10 Brand] [numeric](18, 2) NULL,
	[9/10 Brand] [numeric](18, 2) NULL,
	[9/09 Generic] [numeric](18, 2) NULL,
	[10/09 Generic] [numeric](18, 2) NULL,
	[11/09 Generic] [numeric](18, 2) NULL,
	[12/09 Generic] [numeric](18, 2) NULL,
	[1/10 Generic] [numeric](18, 2) NULL,
	[2/10 Generic] [numeric](18, 2) NULL,
	[3/10 Generic] [numeric](18, 2) NULL,
	[4/10 Generic] [numeric](18, 2) NULL,
	[5/10 Generic] [numeric](18, 2) NULL,
	[6/10 Generic] [numeric](18, 2) NULL,
	[7/10 Generic] [numeric](18, 2) NULL,
	[8/10 Generic] [numeric](18, 2) NULL,
	[9/10 Generic] [numeric](18, 2) NULL,
	[9/09 OTC] [numeric](18, 2) NULL,
	[10/09 OTC] [numeric](18, 2) NULL,
	[11/09 OTC] [numeric](18, 2) NULL,
	[12/09 OTC] [numeric](18, 2) NULL,
	[1/10 OTC] [numeric](18, 2) NULL,
	[2/10 OTC] [numeric](18, 2) NULL,
	[3/10 OTC] [numeric](18, 2) NULL,
	[4/10 OTC] [numeric](18, 2) NULL,
	[5/10 OTC] [numeric](18, 2) NULL,
	[6/10 OTC] [numeric](18, 2) NULL,
	[7/10 OTC] [numeric](18, 2) NULL,
	[8/10 OTC] [numeric](18, 2) NULL,
	[9/10 OTC] [numeric](18, 2) NULL,
	[Brand Totals] [float] NULL,
	[Generic Totals] [float] NULL,
	[OTC Totals] [float] NULL,
	[Grand Totals] [float] NULL,
	[9/09 Totals] [float] NULL,
	[10/09 Totals] [float] NULL,
	[11/09 Totals] [float] NULL,
	[12/09 Totals] [float] NULL,
	[1/10 Totals] [float] NULL,
	[2/10 Totals] [float] NULL,
	[3/10 Totals] [float] NULL,
	[4/10 Totals] [float] NULL,
	[5/10 Totals] [float] NULL,
	[6/10 Totals] [float] NULL,
	[7/10 Totals] [float] NULL,
	[8/10 Totals] [float] NULL,
	[9/10 Totals] [float] NULL
) ON [PRIMARY]
GO
