USE [PharmacyMaster]
GO
/****** Object:  View [dbo].[v_GlobalReport_volumeNCPDP]    Script Date: 12/22/2020 9:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_GlobalReport_volumeNCPDP]
AS
SELECT     dbo.v_GlobalReport_volume.pmid, dbo.v_GlobalReport_volume.date, { fn MONTHNAME(dbo.v_GlobalReport_volume.date) } AS month, 
                      YEAR(dbo.v_GlobalReport_volume.date) AS Year, dbo.v_GlobalReport_volume.[Gen Src], dbo.v_GlobalReport_volume.[Gen Exc], 
                      dbo.v_GlobalReport_volume.[Gen Total], dbo.v_GlobalReport_volume.[CH Br], dbo.v_GlobalReport_volume.[CH Oth], 
                      dbo.v_GlobalReport_volume.[UD Adm], dbo.v_GlobalReport_volume.[CH Total], dbo.v_GlobalReport_volume.API_BR, 
                      dbo.v_GlobalReport_volume.API_GEN, dbo.v_GlobalReport_volume.API_OTC, dbo.v_GlobalReport_volume.API_Total, 
                      dbo.v_GlobalReport_volume.ML_Total, dbo.v_GlobalReport_volume.Anda_Total, dbo.v_GlobalReport_volume.All_Total, 
                      dbo.v_AAPAccounts.NCPDP
FROM         dbo.v_GlobalReport_volume LEFT OUTER JOIN
                      dbo.v_AAPAccounts ON dbo.v_GlobalReport_volume.pmid = dbo.v_AAPAccounts.PMID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v_GlobalReport_volume"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 328
               Right = 283
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "v_AAPAccounts"
            Begin Extent = 
               Top = 71
               Left = 390
               Bottom = 333
               Right = 661
            End
            DisplayFlags = 280
            TopColumn = 13
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 20
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 7770
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_GlobalReport_volumeNCPDP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_GlobalReport_volumeNCPDP'
GO
