USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[PaymentOptions_Feb0816]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentOptions_Feb0816](
	[Vendor ID] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL
) ON [PRIMARY]
GO
