USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[tmp_PatDivAdj2014]    Script Date: 12/22/2020 4:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_PatDivAdj2014](
	[PMID] [nchar](10) NULL,
	[var] [money] NULL
) ON [PRIMARY]
GO
