USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippUserListHist_Aug15]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippUserListHist_Aug15](
	[NCPDP] [varchar](20) NULL
) ON [PRIMARY]
GO
