USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[delete_MLReport]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_MLReport](
	[pmid] [int] NULL,
	[MLTotal] [float] NULL
) ON [PRIMARY]
GO
