USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippOwnershipHist_July15]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippOwnershipHist_July15](
	[ParentPMID] [int] NULL
) ON [PRIMARY]
GO
