USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[AAPMonthlyCardinalRebate]    Script Date: 12/22/2020 4:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AAPMonthlyCardinalRebate](
	[Marker] [nvarchar](255) NULL,
	[PMID] [nvarchar](255) NULL,
	[Primary CA#] [nvarchar](255) NULL,
	[Division] [nvarchar](255) NULL,
	[API#] [nvarchar](255) NULL,
	[Account Name] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[ST] [nvarchar](255) NULL,
	[SumOfExtended Sales] [money] NULL,
	[Price Protection] [money] NULL,
	[Adjusted Ext Sales] [money] NULL,
	[AAP Volume Admin Fee] [money] NULL,
	[Vol Admin Fee Adjustment] [money] NULL,
	[RX Branded-RxPlus] [money] NULL,
	[RxPlus Admin Fee] [money] NULL,
	[Bs Class] [nvarchar](255) NULL,
	[Affiliation] [nvarchar](255) NULL,
	[Affiliate Admin Fee] [money] NULL,
	[Affil Admin Fee Adjustment] [money] NULL,
	[Total RX less Excluded items] [money] NULL,
	[SumOfCCA = AAP Generics 872, 25676, 25677] [money] NULL,
	[SumOfCCA = 26776 AAP Excluded Generic Rx Prod] [money] NULL,
	[SumOfTotal Generics] [money] NULL,
	[Adjusted Generic Source] [money] NULL,
	[Est Generic Admin Fee] [money] NULL,
	[Generic Admin Fee Adjustment] [money] NULL,
	[Calculated generic rebate] [money] NULL,
	[Generic rebate adjustment] [money] NULL,
	[COG Rebate] [money] NULL,
	[COG Rebate %] [float] NULL,
	[Florida Phcy Assoc Deduct] [money] NULL,
	[Leader Rebate] [money] NULL,
	[MSI Rebate] [money] NULL,
	[Price Protection Rebate] [money] NULL,
	[Price Protection Adjustment] [money] NULL,
	[Prescribed Wellness Fee] [money] NULL,
	[NCPA Membership Fee] [money] NULL,
	[Arete Eligible] [bit] NULL,
	[Arete Performance Rebate] [money] NULL,
	[Check Fee] [money] NULL,
	[Pay to Store] [money] NULL,
	[Pay to Affiliate Office] [money] NULL,
	[Total to Pay Out] [money] NULL,
	[Territory Manager] [nvarchar](255) NULL,
	[Pay Account] [bit] NULL,
	[Effective Rebate%] [float] NULL,
	[HRTA] [float] NULL,
	[Sort Code] [nvarchar](255) NULL,
	[A/P Payment Mode] [nvarchar](255) NULL,
	[Matrix] [nvarchar](255) NULL
) ON [PRIMARY]
GO
