USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[ActiveServiceProviderID]    Script Date: 12/22/2020 4:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveServiceProviderID](
	[ServiceProviderID] [varchar](50) NULL,
	[AccountName] [varchar](65) NULL
) ON [PRIMARY]
GO
