USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[tmp_ALLPVA_SLX_COMP_DEA]    Script Date: 12/22/2020 4:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_ALLPVA_SLX_COMP_DEA](
	[DEA] [varchar](50) NULL,
	[apiaccountno] [varchar](50) NULL,
	[SLXValue] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
