USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[USState]    Script Date: 12/22/2020 4:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USState](
	[US State] [nvarchar](255) NULL,
	[Abbreviation] [nvarchar](50) NULL
) ON [PRIMARY]
GO
