USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[PM_CH_AnnualAdminFee_2014]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_CH_AnnualAdminFee_2014](
	[date] [varchar](10) NOT NULL,
	[extsales] [float] NULL,
	[pmid] [varchar](50) NULL
) ON [PRIMARY]
GO
