USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[PM_CHAccounts_ADJ_TEST]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_CHAccounts_ADJ_TEST](
	[PMID] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[DEA#] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL,
	[AKA] [nvarchar](255) NULL,
	[API acct] [nvarchar](255) NULL,
	[AAP Number] [nvarchar](255) NULL,
	[AAP Parent#] [nvarchar](255) NULL,
	[MCA on File] [bit] NOT NULL,
	[Bs Class] [nvarchar](255) NULL,
	[AAP Affiliate] [nvarchar](255) NULL,
	[CA Master Number] [nvarchar](255) NULL,
	[CAH Multi Store Code] [nvarchar](255) NULL,
	[Cardinal Division#] [nvarchar](255) NULL,
	[Cardinal DC] [nvarchar](255) NULL,
	[Primary CA Acct#] [nvarchar](255) NULL,
	[2nd Cardinal cust] [nvarchar](255) NULL,
	[3rd Cardinal cust] [nvarchar](255) NULL,
	[POS Acct] [nvarchar](255) NULL,
	[Scan-Toss Acct] [nvarchar](255) NULL,
	[CSOS Acct] [nvarchar](255) NULL,
	[AAP Contract Date] [datetime] NULL,
	[Termination Date] [datetime] NULL,
	[Multiple Store] [bit] NOT NULL,
	[Multiple Store Code] [nvarchar](255) NULL,
	[Group Code] [nvarchar](255) NULL,
	[Current Est Mo Sales] [money] NULL,
	[Current Grp Total] [money] NULL,
	[Est Volume at Load] [money] NULL,
	[Last Review Date] [datetime] NULL,
	[Current API COG] [float] NULL,
	[Current CA COG] [float] NULL,
	[Clawback bps] [float] NULL,
	[Delivery bps] [float] NULL,
	[Payment Terms description] [nvarchar](255) NULL,
	[Payment Terms Code] [nvarchar](255) NULL,
	[CAH terms Code Desc] [nvarchar](255) NULL,
	[Pending Changes] [bit] NOT NULL,
	[Change Pending] [nvarchar](255) NULL,
	[Notes COG Differences] [nvarchar](255) NULL,
	[Notes] [nvarchar](255) NULL,
	[AAP Rep] [nvarchar](255) NULL,
	[Excpt to Matrix] [bit] NOT NULL,
	[Excpt Code] [nvarchar](255) NULL,
	[Optional Pay Terms] [bit] NOT NULL,
	[DSO Terms Adj] [float] NULL,
	[Contracted DSO] [float] NULL,
	[Sublogic Change] [bit] NOT NULL,
	[High Volume Rebate] [bit] NOT NULL,
	[Est Annual Vol on comn own] [money] NULL,
	[Matrix Name] [nvarchar](255) NULL,
	[Avg Mo Gen Compliance] [float] NULL,
	[MCR Mo Volume for COG] [money] NULL,
	[MCR Month] [nvarchar](255) NULL,
	[MCR Percentage] [float] NULL,
	[Date Rcvd New MC] [datetime] NULL,
	[Effective Date New Agmt] [datetime] NULL,
	[New Agmt Type] [nvarchar](255) NULL,
	[MC AMQP] [money] NULL,
	[MC AMGC%] [float] NULL,
	[MC COG] [float] NULL,
	[MC Terms] [nvarchar](255) NULL
) ON [PRIMARY]
GO
