USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[APIWHCHAcctInfo]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIWHCHAcctInfo](
	[Marker] [bit] NULL,
	[PMID] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[DEA#] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL,
	[API acct] [nvarchar](255) NULL,
	[AAP Number] [nvarchar](255) NULL,
	[AAP Parent#] [nvarchar](255) NULL,
	[UD#] [nvarchar](255) NULL,
	[MCA on File] [bit] NULL,
	[Bs Class] [nvarchar](255) NULL,
	[AAP Affiliate] [nvarchar](255) NULL,
	[CA Parent Code] [nvarchar](255) NULL,
	[Cardinal Division#] [nvarchar](255) NULL,
	[Cardinal DC] [nvarchar](255) NULL,
	[Primary CA Acct#] [nvarchar](255) NULL,
	[2nd Cardinal cust] [nvarchar](255) NULL,
	[3rd Cardinal cust] [nvarchar](255) NULL,
	[POS Acct] [nvarchar](255) NULL,
	[Scan-Toss Acct] [nvarchar](255) NULL,
	[CSOS Acct] [nvarchar](255) NULL,
	[AAP Contract Date] [datetime] NULL,
	[Termination Date] [nvarchar](255) NULL,
	[Multiple Store] [bit] NULL,
	[Multiple Store Code] [nvarchar](255) NULL,
	[Group Code] [nvarchar](255) NULL,
	[Current Est Mo Sales] [money] NULL,
	[Current Grp Total] [money] NULL,
	[Est Volume at Load] [money] NULL,
	[Last Review Date] [datetime] NULL,
	[Current API COG] [float] NULL,
	[Current CA COG] [float] NULL,
	[QPS Store] [bit] NULL,
	[Payment Terms description] [nvarchar](255) NULL,
	[Payment Terms Code] [nvarchar](255) NULL,
	[Pending Changes] [bit] NULL,
	[Change Pending] [nvarchar](255) NULL,
	[Notes COG Differences] [nvarchar](255) NULL,
	[Notes] [nvarchar](255) NULL,
	[AAP Rep] [nvarchar](255) NULL,
	[Excpt to Matrix] [bit] NULL,
	[Optional Pay Terms] [bit] NULL,
	[Front Load-No Reb] [bit] NULL,
	[WAPD] [float] NULL,
	[DSO] [float] NULL,
	[Last Update] [datetime] NULL,
	[WAPD 2nd Acct] [float] NULL,
	[DSO 2nd Acct] [float] NULL,
	[Sublogic Change] [bit] NULL,
	[Notes on Terms] [nvarchar](255) NULL
) ON [PRIMARY]
GO
