USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[delete_SpecialtyActive101314]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delete_SpecialtyActive101314](
	[#] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[ST] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[NCPDP] [nvarchar](15) NULL,
	[PMID] [int] NULL
) ON [PRIMARY]
GO
