USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[tmp_tpn_021916]    Script Date: 12/22/2020 4:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_tpn_021916](
	[Pharmacy Name] [nvarchar](255) NULL,
	[Legal Business Name] [nvarchar](255) NULL,
	[NCPDP] [nvarchar](255) NULL,
	[NPI] [nvarchar](255) NULL,
	[Division] [float] NULL,
	[Office Phone] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[Email Address] [nvarchar](255) NULL,
	[TPN Chain Code] [float] NULL,
	[TPN Date Entered] [datetime] NULL,
	[State License] [float] NULL,
	[State Expiration] [datetime] NULL,
	[Tax ID] [nvarchar](255) NULL,
	[Pharmacist/Physician] [nvarchar](255) NULL,
	[Mailing Street] [nvarchar](255) NULL,
	[Mailing City] [nvarchar](255) NULL,
	[Mailing State] [nvarchar](255) NULL,
	[Mailing Postal Code] [nvarchar](255) NULL,
	[DBA Address] [nvarchar](255) NULL,
	[DBA City] [nvarchar](255) NULL,
	[DBA Postal Code] [nvarchar](255) NULL,
	[DBA State] [nvarchar](255) NULL,
	[County] [nvarchar](255) NULL,
	[Authorized Official] [nvarchar](255) NULL,
	[Medicaid #] [nvarchar](255) NULL,
	[Medicare #] [nvarchar](255) NULL,
	[DEA #] [nvarchar](255) NULL,
	[DEA Expiration] [datetime] NULL,
	[PIC License ] [float] NULL,
	[PIC Expiration] [datetime] NULL,
	[Fraud, Waste and Abuse Attestation] [datetime] NULL,
	[Account DBA] [nvarchar](255) NULL,
	[Central Pay] [nvarchar](255) NULL,
	[Central Pay Add Date] [datetime] NULL,
	[Central Pay Term Date] [nvarchar](255) NULL,
	[Chain Name] [nvarchar](255) NULL,
	[PHY Mon Fri Hrs] [nvarchar](255) NULL,
	[PHY Hours Sat Hrs] [nvarchar](255) NULL,
	[PHY Hours Sun Hrs] [nvarchar](255) NULL,
	[Prescription Delivery] [nvarchar](255) NULL,
	[Liability Ins# Co#] [nvarchar](255) NULL,
	[Liability Policy #] [float] NULL,
	[Liability Ins# Co#1] [nvarchar](255) NULL,
	[Liability Occurrence] [money] NULL,
	[Liability Aggregate] [money] NULL,
	[Liability Expiration] [datetime] NULL,
	[Professional Liability Aggregate] [money] NULL,
	[Professional Liability Ins# Co#] [nvarchar](255) NULL,
	[Professional Liability Expiration] [datetime] NULL,
	[Professional Liability Occurrence] [money] NULL,
	[Professional Liability Policy #] [nvarchar](255) NULL,
	[TPN Account Type] [nvarchar](255) NULL,
	[TPN Chain Code1] [float] NULL,
	[TPN Date Entered1] [datetime] NULL
) ON [PRIMARY]
GO
