USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippUserlistHist_April]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippUserlistHist_April](
	[NCPDP] [nvarchar](50) NULL
) ON [PRIMARY]
GO
