USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[PP_Journal_20200310]    Script Date: 12/22/2020 4:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PP_Journal_20200310](
	[PMID] [int] NULL,
	[PaidToStore] [numeric](19, 2) NULL
) ON [PRIMARY]
GO
