USE [PharmacyMaster]
GO
/****** Object:  Table [dbo].[EquippStoreHist_April]    Script Date: 12/22/2020 4:45:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquippStoreHist_April](
	[StoreID] [nvarchar](50) NULL,
	[StoreName] [nvarchar](50) NULL,
	[Grouping1] [nvarchar](50) NULL,
	[Grouping2] [nvarchar](50) NULL
) ON [PRIMARY]
GO
