USE [API]
GO
/****** Object:  Table [dbo].[Rebate_20190312]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rebate_20190312](
	[NDC] [varchar](11) NOT NULL,
	[DateKey] [int] NOT NULL,
	[DrugKey] [int] NOT NULL,
	[CompetitorDrugKey] [int] NOT NULL,
	[APINetPrice] [money] NULL,
	[APIManufacturerInvoicePrice] [money] NULL,
	[APIHoldBackAmount] [money] NULL,
	[APICustomerInvoicePrice] [money] NULL,
	[APICustomerNetPrice] [money] NULL,
	[APIRebate] [money] NULL,
	[APIRebatePercentage] [float] NULL,
	[APIPricePerUnit] [money] NULL,
	[CardinalInvoicePrice] [money] NULL,
	[CardinalPricePerUnit] [money] NULL,
	[WACPackagePrice] [money] NULL,
	[WACPerDose] [money] NULL,
	[AWPPackagePrice] [money] NULL,
	[AWPPerDose] [money] NULL,
	[ABCInvoicePrice] [money] NULL,
	[ABC_AWP] [money] NULL,
	[ABC-CPA] [money] NULL,
	[McKesson-IPC] [money] NULL,
	[McKesson-APCI] [money] NULL,
	[Valley] [money] NULL,
	[RiverCity] [money] NULL,
	[Healthsource] [money] NULL,
	[Harvard] [money] NULL,
	[Par-Med] [money] NULL,
	[Bloodworth] [money] NULL,
	[NC Mutual] [money] NULL,
	[SmithDrug] [money] NULL,
	[H.D. Smith] [money] NULL,
	[Kinray] [money] NULL,
	[Morris-Dickson] [money] NULL,
	[Value Drug] [money] NULL,
	[Anda] [money] NULL,
	[Ezri Rx] [money] NULL,
	[Quest] [money] NULL,
	[H&H] [money] NULL,
	[Masters] [money] NULL,
	[Auburn] [money] NULL,
	[Belco] [money] NULL,
	[RowCreatedDate] [datetime2](3) NOT NULL,
	[RowUpdatedDate] [datetime2](3) NULL,
	[NADACPrice] [money] NULL,
	[NADACPricePerUnit] [money] NULL,
	[AWP] [money] NULL,
	[DirectPrice] [money] NULL,
	[WAC] [money] NULL,
	[CMSFUL] [money] NULL,
	[AAWP] [money] NULL,
	[GEAP] [money] NULL,
	[McKesson] [money] NULL
) ON [PRIMARY]
GO
