USE [API]
GO
/****** Object:  Table [dbo].[DB1_RSE_20180827]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB1_RSE_20180827](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FinalRebateAmount] [money] NULL
) ON [PRIMARY]
GO
