USE [API]
GO
/****** Object:  Table [dbo].[tmp_API_Card_SLX_COMP_DEA]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_API_Card_SLX_COMP_DEA](
	[DEA] [varchar](20) NULL,
	[SLXCardVolume] [varchar](50) NULL
) ON [PRIMARY]
GO
