USE [API]
GO
/****** Object:  Table [dbo].[RSE_20181025]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RSE_20181025](
	[APISalesDetailID] [int] NOT NULL
) ON [PRIMARY]
GO
