USE [API]
GO
/****** Object:  Table [dbo].[tmp_API_Card_VOL_SLX_DEA_bkp]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_API_Card_VOL_SLX_DEA_bkp](
	[DEA] [varchar](50) NULL,
	[Avg_3_MO] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
