USE [API]
GO
/****** Object:  Table [dbo].[APIBusCls]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIBusCls](
	[BUSCLS] [varchar](5) NULL,
	[Description] [varchar](125) NULL,
	[Type] [varchar](25) NULL
) ON [PRIMARY]
GO
