USE [API]
GO
/****** Object:  Table [dbo].[tmp_apicardvolume_load]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_apicardvolume_load](
	[APIAccountNo] [varchar](50) NULL,
	[DEA] [varchar](50) NULL,
	[CardinalNo] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Sales] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
