USE [API]
GO
/****** Object:  Table [dbo].[APIAcctGrp]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIAcctGrp](
	[AcctGrp] [varchar](50) NULL,
	[Description] [varchar](100) NULL
) ON [PRIMARY]
GO
