USE [API]
GO
/****** Object:  Table [dbo].[tmp_acv]    Script Date: 12/22/2020 4:19:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_acv](
	[dea] [varchar](50) NULL,
	[apiaccountno] [varchar](50) NULL,
	[Q42009_CA_Total] [numeric](38, 2) NULL
) ON [PRIMARY]
GO
